[2017-05-23 17:16] garrettmoon commented on #237
Going to close this out for now, looking forward to the PR mentioned in #343 though!

[2017-05-23 17:16] #237 closed

[2017-05-23 17:18] superdev89 commented on #359
No

[2017-05-23 17:18] KristopherGBaker commented on #304
@garrettmoon I am no longer seeing this crash, and am currently using beta 9.

[2017-05-23 17:18] #304 closed

[2017-05-24 00:09] AndrewSB opened #363 "Improve installation instructions"
Hey! I'm having a little trouble integrating with beta 9 (upgrading from a much older version, so it may not be a beta 9 specific issue).

Currently, Carthage is telling me the PINRemoteImage wants these things:

[code]

I've integrated all 3 frameworks into my target (added to linked libraries & `carthage copy-frameworks`), but I'm getting a runtime error on launch, saying

[code]

and I'm not su

[2017-05-24 17:26] garrettmoon commented on #363
libwebp is linked into PINRemoteImage automatically if you're using carthage.

I'm not sure why you're getting a runtime error, can you upload a sample project?

[2017-05-24 17:27] garrettmoon commented on #304
Awesome! Thanks for reporting back.

[2017-05-24 17:28] garrettmoon commented on #359
@superdev89 yeah, uploading a sample project which reproduces would greatly help diagnose the issue.

[2017-05-24 17:32] garrettmoon commented on #217
Sorry this wasn't looked at before. I think this code has been changed. Lemme know if I should reopen.

[2017-05-24 17:32] #217 closed

[2017-05-24 17:35] AndrewSB commented on #363
Yup! I'll try to repro today
On Wed, May 24, 2017 at 10:26 AM Garrett Moon <notifications@github.com>
wrote:

[2017-06-07 06:39] AndrewSB commented on #363
Hmm, so it seems like my Carthage setup is just super weird for the one project I'm working on. Anytime I run `carthage update`, it fails, but if I run `carthage build --no-skip-current` from inside `pinterest/PINRemoteImage`, and drag those binaries over to my project's `Carthage/Build/iOS`, it works for me.

The only difference is that when I build `pinterest/PINRemoteImage` I'm building the hea

[2017-06-07 13:04] iOSUser110 opened #365 "forHTTPHeaderField not working ,so how can we set custom headers ?"
PINRemoteImageManager.shared().setValue("1111", forHTTPHeaderField: "X-API-KEY")
with this new release

[2017-06-07 17:26] garrettmoon commented on #363
Ok, I'm going to close this for now, but report back and I'll re-open if necessary.

[2017-06-07 17:26] #363 closed

[2017-06-08 04:58] iOSUser110 commented on #365
actually the httpHeaderFIeld is provieded by Texture or Async Display Kit.

[2017-06-09 02:28] BanningLiu opened #368 "Crash on [PINAnimatedImage processAnimatedImage]"
![crash](https://user-images.githubusercontent.com/17246773/26958618-47bb74f4-4cfe-11e7-83d1-9524f824f684.png)
Attempt to allocate 8388608 bytes for NS/CFData failed.

[2017-06-12 01:43] appleguy opened #370 "Assertion when deallocations occurring during image loading."
I hit this in the CatDealsCollectionView example of Texture, by doing Push Another Copy and popping the navigation stack shortly thereafter.

[code]

![image](https://user-images.githubusercontent.com/565251/27016521-c6438ca2-4ed5-11e7-824f-e581b82a0198.png)

![image](https://user-images.githubusercontent.com/565251/27016528-d4dfd22a-4ed5-11e7-8599-7ec16bfe84d7.png)

[2017-06-13 18:57] zachwaugh opened #372 "Images fail to download when using processor"
I noticed a regression on master and tracked it down to this commit https://github.com/pinterest/PINRemoteImage/commit/3781e4bc39466412ac745770eb4533fe90e7bf77. When downloading a bunch of images using `processorKey` and `processor`, I don't receive any completion callbacks for the majority of them. The first few requests work, but the rest don't. For the majority that don't work, it appears the n

[2017-06-13 22:14] garrettmoon commented on #365
@iOSUser110 Texture uses it's own version of PINRemoteImage, not the shared manager. Take a look at ASPINRemoteImageDownloader.h

[2017-06-13 22:14] #365 closed

[2017-06-13 22:14] garrettmoon commented on #368
@BanningLiu this means your app ran out of memory, there's nothing PINRemoteImage can do about that :(

[2017-06-13 22:14] #368 closed

[2017-06-13 22:15] garrettmoon commented on #372
@zachwaugh if you're able to reproduce, can you try again with master? I fixed a deadlock #366.

Separately, if you can upload a sample project I'd love to debug!

[2017-06-13 22:16] #370 closed

[2017-06-14 22:25] zachwaugh commented on #372
@garrettmoon I'm still working on a sample project. I made one, but so far it's not reproducing the bug. I built against master and added some more logging in my own project, and I think there is a deadlock related to canceling a download. I believe it's here - https://github.com/pinterest/PINRemoteImage/blob/master/Source/Classes/PINRemoteImageProcessorTask.m#L19-L20, we're calling `self.download

[2017-06-15 23:48] #372 closed

[2017-06-16 03:03] hongdangodori opened #375 "lexical or preprocessor issue libwebp/webp/decode.h file not found"
I put PINRemoteImage and PINRemoteImage / Webp in podfile and I get the following error.
`'libwebp/webp/decode.h' file not found`

my pod file is
[code]
I use with use_frameworks! in podfile

Personally I have added "$ {PODS_ROOT}" to the Header Search Paths in the build setting of PINRemoteImage and I changed `#import "libwebp / webp / decode.h"` in the header of PINImage + WebP.m to `#import "li

[2017-06-16 07:35] hongdangodori opened #376 "How do you know the size of the download image file?"
How do you know the size of the download image file? Is there a way to get expected size during the process?

[2017-06-16 16:55] garrettmoon commented on #375
@hongdangodori does it work without the `use_frameworks!` directive?

[2017-06-19 00:34] hongdangodori commented on #375
I've never done that, I can not erase it because I have to use swift in my project.
According to github, it looks like this:

[2017-06-19 15:19] maicki commented on #375
@hongdangodori Hey! Currently if you just define `PINRemoteImage` in your podfile it fetches version 2.1.4 and not the latest version. This version has problems with the webp imports. To get the latest version please add the following to your Podfile and it should fix your errors:

[code]

Please let me know in case this will not resolve your issues. Thanks!

[2017-06-19 15:19] #375 closed

[2017-06-22 08:40] robinhayward commented on #363
I have this issue also: dyld: Symbol not found: _PINDiskCachePrefix

I have included PINCache, PINOperation and PINRemoteImage correctly as normal too, a fresh checkout of my app and running `carthage update` gives me that missing symbol error when trying to run the app.

[2017-06-22 11:19] hovox opened #379 "weakify/strongify define conflict"
We are using [extobjc](https://github.com/jspahrsummers/libextobjc) library, where `weakify/strongify` is defined. After updating to beta.10 version there is a conflict with PINRemoteImage and libextobjc macros. What you would suggest, how can we solve this ?
One solution that comes to my mind is to rename PINRemoteImage's weakify/strongify macros adding prefix.

[2017-06-22 11:30] hovox commented on #379
Other solution is to move `weakify/strongify` into another private header file, which will be imported into `.m` files only. Please let me know, I can create a pull request for the fix.

[2017-06-22 15:48] #379 closed

[2017-06-22 16:03] AndrewSB commented on #363
My fix was to clone PINRemoteImage and do a carthage build --no-skip....
Then drag the built stuff into my project

Good to see that this wasn't just a my-machine sort of problem, I feel as
if there's some weirdness with the exact checkout versions being built
On Thu, Jun 22, 2017 at 1:40 AM Robin Hayward <notifications@github.com>
wrote:

[2017-06-22 17:50] robinhayward commented on #363
Yea thanks very much for sharing, that did also work for me.

Related: PINRemoteImage is still awesome :)

[2017-06-22 20:13] AndrewSB commented on #363
PINRemoteImage is definitely still awesome

[2017-07-05 10:55] hovox opened #387 "Custom request retry strategy"
Currently if request fails due to, let's say _no connection error_ , the the framework will try to retry after 4 seconds then after 16 seconds (4^2), then after 64 seconds (4^3) and only after that the framework will give up and call request failed callback. It means user will see error message after `4+16+64=84` seconds. In some cases would be great to be able to specify custom retry logic. I hav

[2017-07-05 17:15] garrettmoon commented on #387
PR here: https://github.com/pinterest/PINRemoteImage/pull/386

[2017-07-10 06:02] zjmdp opened #389 "Crash on [PINAnimatedImage frameCount]"
v3.0.0-beta.11

crash log:
http://crashes.to/s/c0f8fc7c80e

[2017-07-18 12:30] zjmdp opened #390 "Add KVO to NSURLSessionTask may cause crash."
The crashes are here: http://crashes.to/s/45830cf8ec3

I found the same issue discussed about AFNetworking. https://github.com/AFNetworking/AFNetworking/issues/1477

I searched all the code in my project that the category `NSURLSessionTask+Timing` with the observer on the property of `NSURLSessionTask` may cause the crash.

[2017-07-21 22:22] garrettmoon commented on #390
@zjmdp well that's just… terrible :( How frequently are you seeing this crash?

[2017-07-21 22:23] garrettmoon commented on #389
@zjmdp Are you displaying multiple GIFs at once? That's currently a known issue I haven't had time to look into.

[2017-07-24 02:30] zjmdp commented on #389
YES, I have multiple GIFs on the same page.

[2017-07-24 02:34] zjmdp commented on #390
Not very frequent, but it's the most frequently crash for my app.
<img width="1549" alt="wx20170724-103409 2x" src="https://user-images.githubusercontent.com/1818763/28506127-a4745aa0-705b-11e7-9c21-ac13132767d5.png">

[2017-07-25 04:15] sthielen commented on #203
Having the same issue as above poster. Any updates?

[2017-07-26 17:18] garrettmoon commented on #203
Hey everyone, based on the reports, this appears to be due to displaying multiple GIFs at one time (which *should* work, but apparently doesn't) and a subsequent race condition. Sadly GIF display isn't a high priority for us right now so it's unlikely this will be addressed by us. Happy to review pull requests to address it though!

[2017-07-26 17:20] garrettmoon commented on #390
Ok, it'll probably be a bit before I can look at this, but if you decide to jump in before then, happy to review a pull request!

[2017-07-26 17:21] garrettmoon commented on #389
Yeah, sadly this is probably a duplicate of https://github.com/pinterest/PINRemoteImage/issues/203

[2017-07-26 17:21] #389 closed

[2017-07-26 17:22] garrettmoon commented on #214
I think it is a duplicate, closing in favor of #203

[2017-07-26 17:22] #214 closed

[2017-07-28 18:03] garrettmoon commented on #376
@hongdangodori I think the earliest you can get this info is when a progress image is reported if the image downloaded in progressive. Otherwise you'll need to wait for the result currently.

[2017-07-28 18:03] #376 closed

[2017-08-11 04:52] zjmdp commented on #390
I just come back to beta.9 for work round. Maybe I need sometime to learn the code before attempting to fix it.

[2017-08-23 08:31] itaispector opened #398 "Crashed: PINRemoteImageManager Concurrent Operation Queue :: NSOperation 0x17164bdc0 (QOS: UTILITY)"
Hi guys,
Using PINRemoteImage (2.1.4)
Using PINCache (2.3)

I get this crash log from Crashlytics:

[code]

Do you know what is the reason for this crash?

Thank you for everything, your library is amazing!

[2017-08-23 17:14] wsdwsd0829 opened #399 "image returned with 404 response not treated as image but error"

[2017-08-23 17:46] garrettmoon commented on #398
@itaispector looks like it's possibly in Apple's JPEG library :(

Are you seeing this crash a lot? With a specific URL? Have you seen it with the latest betas?

[2017-08-24 23:31] #399 closed

[2017-08-28 15:34] jorystiefel opened #400 "tvOS missing in main project "Supported Platforms" setting"
The PINRemoteImage main project is missing the `tvos` and `tvossimulator` values in the Supported Platforms setting.

If you're using a Git submodule, you cannot use PINRemoteImage with tvOS without adding these parameters, which means you have to fork and cannot pull directly from this repo.

[2017-08-28 17:26] garrettmoon commented on #400
Good catch! Would you mind submitting a pull request to address?

[2017-08-28 17:27] jorystiefel commented on #400
@garrettmoon Certainly! Give me a few mins.

[2017-08-28 18:11] jorystiefel commented on #400
https://github.com/pinterest/PINRemoteImage/pull/401

[2017-08-31 08:41] frowing opened #402 "iOS 11 Crash on [PINProgressiveImage .cxx_destruct]"
Hi everyone,

we're seeing some crashes on iOS 11 on large devices such as the 6S Plus and 7 Plus. The stack trace I can provide won't be really helpful as our crash reporter doesn't symbolicate beta iOS versions. Here's what we have:

[code]

Thanks!

[2017-09-05 09:08] was0107 commented on #289
+1

[2017-09-05 17:20] garrettmoon commented on #402
@frowing Hmm, any more info you can give would be appreciated. If it's specific to the iOS 11 beta it's likely a bug in Apple's code?

[2017-09-06 11:55] CHENDONGY opened #405 "I have doubts. Self-signed https image how to load"
Now i want to use your project, but can not the image be loaded, can there be any good solution

[2017-09-06 12:26] frowing commented on #402
We haven't had this crash for more than a month, so it looks like it could've been a bug in one of the betas. I'd say we can close it for now.

[2017-09-06 12:26] #402 closed

[2017-09-06 17:35] garrettmoon commented on #405
@CHENDONGY have you correctly configured for app transport security: https://ste.vn/2015/06/10/configuring-app-transport-security-ios-9-osx-10-11/

Or perhaps the issue is that the image is served using a self signed certificate. Have you tried setting an authentication challenge block on PINRemoteImageManager (`- (void)setAuthenticationChallenge:(nullable PINRemoteImageManagerAuthenticationChalle

[2017-09-06 17:36] garrettmoon commented on #398
I'm going to close this out since I haven't heard anything back. Feel free to reply and I'll take another look.

[2017-09-06 17:36] #398 closed

[2017-09-07 02:47] CHENDONGY commented on #405
I used AsyncDisplayKit in my project, and AsyncDisplayKit relied on your project. I use the certificate is self-signed. Use ASNetworkImageNode to load the network image when loading does not come out
An error occurred `NSURLSession/NSURLConnection HTTP load failed (kCFStreamErrorDomainSSL, -9813)`

I have tried it `PINRemoteImageManager (- (void)setAuthenticationChallenge:(nullable PINRemoteImageM

[2017-09-07 07:55] xilin commented on #390
@garrettmoon Same problem happens on my app, the top 1 crash.
After reading on the [AF issue 1477](https://github.com/AFNetworking/AFNetworking/issues/1477) , it seems that in the end they decided to use method swizzle instead of KVO ([PR 2411](https://github.com/AFNetworking/AFNetworking/pull/2411)) to fix it.

[2017-09-09 03:07] appleguy commented on #289
@garrettmoon - my team also has a use case for this now (we’d love to benefit from Texture + PINRemoteImage prefetching and async decoding, because FLAnimatedImage is not resulting in good performance).

If anyone in the community is interested in developing this, it looks like plenty of people would benefit from your work!

[2017-09-10 21:27] ay8s commented on #400
Thanks for the fix @jorystiefel. Saved me a bunch of time figuring out what was happening with it. Working on my side 👍

[2017-09-11 11:28] yoichitgy commented on #304
Just information for anyone who faced this issue:
I also experienced this issue, and PR #391 and `3.0 beta 12` fixed it.

[2017-09-12 06:47] workhardupc commented on #390
@zjmdp, We use 3.0.0-beta.11 has this problem, Does 3.0.0-beta.9 has this problem?

[2017-09-13 20:55] dustfire commented on #289
hey @appleguy we are planning to use this as well @ Giphy -- love to help

[2017-09-13 21:57] garrettmoon commented on #289
@dustfire I'm happy to help with architectural suggestions and code review if you're willing to take up the actual development work. Feel free to send me an email for faster response if you're interested (garrett@pinterest.com).

[2017-09-14 18:19] garrettmoon commented on #405
Hmm, I'm not sure, I don't know a lot about SSL validation. Are you able to download the images in Safari? If not, my guess is you won't be able to with PINRemoteImage either because iOS won't allow it :(

[2017-09-14 18:38] jorystiefel commented on #400
@ay8s testing it right now, please hold...

[2017-09-18 06:41] hovox opened #409 "Crash because of observing state"
We are getting crashes, [here](http://crashes.to/s/161da86a976) is the fabric link. After investigation we have found that the crash is because of observing `state` property of the `NSURLSessionTask`. Here is the [line](https://github.com/pinterest/PINRemoteImage/blob/master/Source/Classes/Categories/NSURLSessionTask+Timing.m#L33). We have forked an commented out this classes methods as a temporar

[2017-09-18 16:28] garrettmoon commented on #409
Dupe of #390

[2017-09-18 16:28] #409 closed

[2017-09-18 16:29] garrettmoon commented on #409
@hovox take a look at #406 for current discussion on this issue.

[2017-09-19 17:34] garrettmoon commented on #390
@xilin Thank you for your heroic efforts attempting to fix this! It's really too bad this bug exists. Does anyone have confirmation it still exists in Beta 11?

[2017-09-19 22:34] garrettmoon commented on #400
Going to close this out since I believe #408 addresses.

[2017-09-19 22:34] #400 closed

[2017-09-20 06:32] hovox commented on #390
It only happens on iOS 10.x, no iOS 9 or iOS 11.

[2017-09-20 11:07] workhardupc commented on #390
@hovox same as us

[2017-09-20 17:24] garrettmoon commented on #390
Aweeeeesome! I think I may suggest we wait this one out then 😬

[2017-09-21 06:20] luohui8891 commented on #390
Got same issue on iOS 11, see detail [here](http://crashes.to/s/fca981831b6)

[2017-09-21 09:15] workhardupc commented on #390
@garrettmoon Is there any way to use Texture, but not use PINRemoteImage?

[2017-09-21 22:05] garrettmoon commented on #390
@workhardupc yes, I wrote the integration into Texture to be entirely pluggable.

[2017-09-21 22:06] garrettmoon commented on #390
Hopefully the PR I put up addresses this. It's a pretty significant change but removes the need for KVO with the limitation that iOS 9 users and below don't get the benefits of knowing time to first byte.

[2017-09-22 04:14] luohui8891 commented on #390
@garrettmoon which PR? Would you mind to provide the URL?

[2017-09-22 06:28] xilin commented on #390
@luohui8891 See [PR#410](https://github.com/pinterest/PINRemoteImage/pull/410)

[2017-09-22 07:08] luohui8891 commented on #390
@xilin got it, thanks.

[2017-09-22 13:15] biocross commented on #402
Hey @frowing, did you guys change something to fix this? Cause it's still crashing a lot for us. At almost 6k crashes, it's our top crash.

[2017-09-22 15:50] garrettmoon commented on #402
@biocross we actually did end up seeing this as well, because it's in KVO my only guess is it has to do with adopting KVO on NSURLSessionTask. There's a PR to completely refactor out KVO here: https://github.com/pinterest/PINRemoteImage/pull/410

[2017-09-22 15:53] biocross commented on #402
@garrettmoon I did notice that PR, and since this looked related to KVO, I figured they could be related. Hope you guys release a version soon with that fix in! Thank you so much!

[2017-09-22 16:21] #390 closed

[2017-09-26 12:59] davieslee opened #413 "Progressive Jpeg Not Working"
I've tried the following code to iOS `9.3`, `10.3.1` and `11.0`:

[code]

However, the image doesn't load progressively. Instead it loads after the image is fully downloaded.
Is there anything i done wrongly or it is a bug?

[2017-09-26 18:37] garrettmoon commented on #413
@davieslee you mind uploading a sample project which reproduces this?

[2017-09-27 03:08] PatrickSCLin commented on #389
any solutions to avoid or reduce this happen ?

[2017-09-27 05:44] davieslee commented on #413
@garrettmoon here you go
https://github.com/davieslee/pinterest-progressive-jpeg

[2017-09-28 17:14] garrettmoon commented on #389
I've completely rewritten GIF support, hopefully it will be landing soonish: https://github.com/pinterest/PINRemoteImage/pull/411

[2017-09-28 21:52] garrettmoon commented on #413
@davieslee took a bit but I tracked it down. Not well documented, but if you don't send a content length header the progressive image system doesn't know how much it's scanned and if it should render a scan or not. So, long story short, send a `Content-Length: 51434` header.

[2017-09-28 22:02] garrettmoon commented on #413
Also of note, by default, it only renders a progressive scan after 65% has downloaded. You can change the percentages though.

[2017-09-28 22:02] #413 closed

[2017-10-02 07:34] davieslee commented on #413
@garrettmoon how do i set the `Content-Length` with `PINRemoteImage` SDK?

[2017-10-02 23:13] garrettmoon commented on #413
@davieslee The server must return a content-length header when it provides the jpeg.

[2017-10-03 09:07] alvincrisuy commented on #413
I have the same issue and the server is sending a content-length header

[2017-10-03 17:07] garrettmoon commented on #413
@alvincrisuy can you upload a sample project and I'll take a look?

[2017-10-04 01:01] alvincrisuy commented on #413
@garrettmoon

Here's the sample project that I made earlier.
[https://drive.google.com/open?id=0B75vUrnBTEXHYXBSTjQxT2Mtc3M](url)

[2017-10-04 01:29] garrettmoon commented on #413
@alvincrisuy the JPEG must also be encoded with progressive support. There's a tool to test if a JPEG is encoded progressively here: http://techslides.com/demos/progressive-test.html

[2017-10-04 01:39] alvincrisuy commented on #413
@garrettmoon Thank you I'll test it out and back to you once the images in the server are fixed.

[2017-10-06 21:34] #405 closed

[2017-10-06 21:34] #387 closed

[2017-10-06 21:35] garrettmoon commented on #359
Going to close this, please feel free to post a sample project and I'll take a look!

[2017-10-06 21:35] #359 closed

[2017-10-06 21:35] garrettmoon commented on #358
Going to close this out since I haven't heard back.

[2017-10-06 21:35] #358 closed

[2017-10-06 21:37] garrettmoon commented on #115
I'm going to close this out, feel free to put up PRs to improve documentation, they're greatly appreciated!

[2017-10-06 21:37] #115 closed

[2017-10-06 21:44] garrettmoon commented on #31
Going to close this one out since there's now support for plugging in an arbitrary cache.

[2017-10-06 21:44] #31 closed

[2017-10-06 21:44] garrettmoon commented on #25
Hey, Carthage support got added, going to close this out.

[2017-10-06 21:44] #25 closed

[2017-10-06 21:45] garrettmoon commented on #30
Hey, we have this now! Going to close this out.

[2017-10-06 21:45] #30 closed

[2017-10-06 21:45] garrettmoon commented on #34
I don't think we're realistically ever going to support this, sorry :(

[2017-10-06 21:45] #34 closed

[2017-10-06 21:47] garrettmoon commented on #123
@dev-mush TTL is now supported on PINCache, does this resolve your issue?

[2017-10-06 21:49] garrettmoon commented on #169
Going to close this out since I don't think we're probably going to implement this. There is a separate issue for calling back on the main thread for the UI* categories which makes more sense to me https://github.com/pinterest/PINRemoteImage/issues/207

[2017-10-06 21:49] #169 closed

[2017-10-06 21:50] garrettmoon commented on #211
Hey, this got completed! Going to close this out.

[2017-10-06 21:50] #211 closed

[2017-10-06 21:51] garrettmoon commented on #212
@carl-donath-tinroof there is now support for canceling and resuming image download requests. Can I close this issue out?

[2017-10-06 21:52] garrettmoon commented on #227
I refactored a bunch of code so this should be easier to complete.

[2017-10-06 21:53] garrettmoon commented on #251
@AndrewSB configuring a block to set custom headers are now supported in master! I'm going to close this out.

[2017-10-06 21:53] #251 closed

[2017-10-06 21:56] garrettmoon commented on #296
You can now use the `pinCache` property after importing `PINCache+PINRemoteImageCaching.h`

[2017-10-06 21:56] #296 closed

[2017-10-10 21:22] AndrewSB commented on #251
Sounds good @garrettmoon

Thank you PINRemoteImage contributors ❤️

[2017-10-16 03:04] alvincrisuy commented on #413
It's working. Thanks @garrettmoon

[2017-10-17 17:03] TimOliver opened #418 "tvOS - [UIImageView pin_setImageFromURL:]: unrecognized selector sent to instance"
Hi folks! I'm loving `PINRemoteImage`, but unfortunately I came across the same problem as issue #181.

Everything works fine and as expected in iOS, but whenever I try and call `[UIImageView pin_setImageFromURL:]` in tvOS, I get the exception: `[UIImageView pin_setImageFromURL:]: unrecognized selector sent to instance`.

![screen shot 2017-10-18 at 1 01 59 am](https://user-images.githubuserconten

[2017-10-17 17:54] garrettmoon commented on #413
Yup! Glad I could help :)

[2017-10-17 17:58] garrettmoon commented on #418
@TimOliver What version is Cocoapods fetching? The latest release or the latest beta (It won't get the beta automatically on newer versions of Cocoapods). Are you sure cell.imageView a subclass of UIImageView? Can you upload a sample project that demonstrates this?

[2017-10-17 18:44] TimOliver commented on #418
Hi @garrettmoon! Thanks for the prompt reply! I just double-checked. It's version 2.1.4. And yep! That's a custom `UICollectionView` subclass that I implemented myself. It's definitely a `UIImageView`.

Sure! I'll have a play with it tomorrow to see if I can pull out these problematic views and put them in a separate demo app.

[2017-10-18 02:56] TimOliver commented on #418
Aha! I think I found the problem. I tried making a tvOS only demo app and using CocoaPods to import `PINRemoteImage`. I also imported Realm for tvOS to make sure I'd set CocoaPods up right.

The CocoaPods import succeeded, however no source files were imported for `PINRemoteImage`. The folder in Xcode is empty.

<img width="268" alt="screen shot 2017-10-18 at 10 53 17 am" src="https://user-images.

[2017-10-19 17:36] garrettmoon commented on #418
Interesting! Thanks for reporting and uploading the sample project @TimOliver.

[2017-10-21 08:49] TimOliver commented on #418
Hi @garrettmoon! My pleasure! Thanks for the response!

I've got a bit more to add now. :) I played with the subspecs (as well as the 3.0 version in `master` and came up with a few more notes.

This one doesn't work. No source files come down.

[code]

However specifying the tvOS subspecies (ostensibly just the iOS one) actually fixes the problem:

[code]

I was wondering if this issue might have

[2017-10-24 17:50] garrettmoon commented on #418
Glad it's working now for you! Let's leave it open for now in case someone else encounters it. I'll try and take a look when I get some time.

[2017-10-25 08:35] lastcc opened #422 "Bad Config: this repo doesn't understand carthage command"
Command:

     carthage update --platform ios

However tvOS and macOS counterparts are also produced.

And this repo doesn't show up in Checkouts folder?

[2017-10-25 18:35] garrettmoon commented on #422
@lastcc Can you provide more info and possibly a sample project? I'm not entirely sure what the issue is. I'm sadly not a Carthage expert :(

[2017-10-26 09:47] lastcc commented on #422
@garrettmoon Hi thanks for the reply. Will reply with more details tomorrow. :)

[2017-10-26 18:30] justin opened #423 "PINMemMapAnimatedImage not in umbrella header"
Is there a reason for `PINMemMapAnimatedImage.h` to not be included in the `PINRemoteImage.h` umbrella header? It's throwing a warning at us over it. Happy to PR it. Just want to verify there's not a specific reason for the current behavior.

Thanks!

[2017-10-27 18:04] garrettmoon commented on #423
@justin it's actually being phased out. I left the file in because I may use some of the code to build a hybrid memory mapped / in memory cache system. Would gladly accept a PR to silence the warning though! Thank you!

[2017-10-28 14:59] lastcc commented on #422
@garrettmoon

Hi I was reading source code and totally forgot the issue.

there is a bug in `insertImageDataIntoCache` In source code:

[code]

the option is none because the `&`. i'm in the master branch i think.

[2017-10-28 15:02] lastcc commented on #422
@garrettmoon
https://github.com/pinterest/PINRemoteImage/blob/0aec6d2bef2a720636044ff7cfa6947f42270ccb/Source/Classes/PINRemoteImageManager.m#L799

[2017-10-28 15:14] lastcc opened #425 "A typo in source code && mem cache will not be refreshed."
https://github.com/pinterest/PINRemoteImage/blob/0aec6d2bef2a720636044ff7cfa6947f42270ccb/Source/Classes/PINRemoteImageManager.m#L790-L807

https://github.com/pinterest/PINRemoteImage/blob/0aec6d2bef2a720636044ff7cfa6947f42270ccb/Source/Classes/PINRemoteImageManager.m#L799

the option is none because the `&`. i'm in the master branch i think.

    (lldb) po options
    PINRemoteImageManagerDownloa

[2017-10-28 15:19] lastcc commented on #425
And I have a question:

Although a processor block is provided, the original image that was  not processed by the processor is also cached in to disk.

https://github.com/pinterest/PINRemoteImage/blob/0aec6d2bef2a720636044ff7cfa6947f42270ccb/Source/Classes/PINRemoteImageManager.m#L776

is this behavior intended?

[2017-10-30 20:33] garrettmoon commented on #425
@lastcc I'm not sure I understand. The & is doing a bitwise and operation here.

With regards to your question, yes it's intended that the original image is cached as well. Having the option to not cache it could be beneficial though.

[2017-10-30 20:34] garrettmoon commented on #422
I'm going to close this since you opened a new issue.

[2017-10-30 20:34] #422 closed

[2017-10-31 05:15] lastcc commented on #425
@garrettmoon Hi.

Yes I understand you are doing bitwise op here. But what I don't get it is, the result of this bitwise op will be `.None`

so why don't you just `options = PINRemoteImageManagerDownloadOptionsNone`
instead you `options = PINRemoteImageManagerDownloadOptionsSkipDecode & PINRemoteImageManagerDownloadOptionsSkipEarlyCheck`

[2017-11-01 21:02] #423 closed

[2017-11-01 21:16] garrettmoon commented on #425
Just opened a PR, thanks so much for taking the time to make me see my mistake!

[2017-11-02 09:12] lastcc commented on #425
typo in objc is nothing unusual, thanks for fixing it!
I'm closing this.

[2017-11-02 09:12] #425 closed

[2017-11-10 13:42] MohamedAymenHADDAD opened #429 "iOS 11"
Image is not loaded on iPhones with iOS 11 and works normally with earlier versions

[2017-11-11 09:18] MohamedAymenHADDAD commented on #429
URL Issue check if the URL is correctly encoded

[2017-11-11 09:18] #429 closed

[2017-11-29 07:32] anwent opened #430 "[iOS] webp image don't show"
hello,I encountered a problem
Why not show on UIImageView, my Podfile likes it:
[code]
in swift4
thanks.

[2017-11-29 09:23] #430 closed

[2017-11-29 22:09] Kaspik opened #431 "Infer analyse tool - potential bugs & memory leaks"
Hey guys, thank you for this library.

I did run Infer ( http://fbinfer.com ) on our project and it found some issue with PINRemoteImage. Here is screenshot with some info if it helps:

[code]

![screen shot 2017-11-29 at 14 09 34](https://user-images.githubusercontent.com/7204168/33401682-f537f5ce-d50e-11e7-80be-5de359764768.png)

Are you aware of these? If not, do you think it's something worth

[2017-12-01 22:56] garrettmoon commented on #431
I think these may be in the actual macros themselves? I'm guessing this isn't actually an issue in production since most everyone (and by default) compiles out asserts.

Thanks for taking the time to run infer on the project!

[2017-12-01 22:56] #431 closed

[2017-12-21 12:59] ArmandsB commented on #274
Is there any progress with this? Because GIPHY, which is one of largest gif provider (as can you see in image below), is using non-animated gifs as placeholder images, so there is a lot of blanks spaces in our application because of this (using Texture in our app).

<img width="1283" alt="screen shot 2017-12-21 at 14 55 31" src="https://user-images.githubusercontent.com/3258393/34256720-5f5af846-e

[2017-12-21 19:20] garrettmoon commented on #274
@ArmandsB sorry, no progress on this yet, but I'd happily accept a pull request!

[2017-12-21 23:53] garrettmoon commented on #274
Had some extra time :)

[2018-01-02 07:44] ArmandsB commented on #274
Sorry for long response (because of holidays), but everything works great! Thanks for fix 👍

P.S Don't forget to include this fix also in Texture (ASPINRemoteImageDownloader class - alternateRepresentationWithData).

[2018-01-09 01:00] #274 closed

[2018-02-01 21:09] brurend opened #436 "Download taking too much time to finish with placeholder"
If I set a placeholder image to pin_setImageFromURL the download sometimes take considerably longer than the rest, every 20~ images it takes up to 10 times longer to download.

Also if I don't set a placeholder and I scroll through a lot of images (500+) it also starts to take a while to download the images.

[2018-02-02 04:36] ajay2c9 opened #437 "How to update the image in the imageview when the image is updated with same url in server."
Hi,
I am loading a image in the imageview using imageurl. I updated the image in the same ImageUrl. how to update image in the imageview.

[2018-02-09 23:50] chuganzy opened #438 "When is 3.0 going to be officially released?"
It has been a while since 3.0 beta was released but it is still in beta..
I want to know the timeline for the official release.

[2018-02-12 18:21] garrettmoon commented on #436
@brurend would you mind uploading a sample project that demonstrates this?

[2018-02-12 18:22] garrettmoon commented on #437
@ajay2c9 I'm not sure I understand the question, can you rephrase it? Have you looked at the example project: https://github.com/pinterest/PINRemoteImage/tree/master/Examples/Example?

[2018-02-15 13:55] brurend commented on #436
@garrettmoon I will try to upload a sample later today.

Also, I tried using ASNetworkNode instead of UIImageView to see if it would make any difference and the problem persisted. And I'm using IGListKit, not sure if it could have anything to do with it.

[2018-02-15 19:36] brurend commented on #436
I couldn't reproduce the issue in a sample project so I did some more tests and I believe now that my issue isn't PINRemoteImage fault.

[2018-02-19 15:27] #436 closed

[2018-02-22 23:30] garrettmoon commented on #438
He @chuganzy I really want to get 3.0 out the door, but we need a bit more time and we can't promise a date :(

[2018-02-22 23:44] chuganzy commented on #438
Got it. Is it due to some issues remaining or internal stuffs inside Pinterest?

[2018-02-26 20:44] garrettmoon commented on #438
@chuganzy mainly that someone needs to take the time to make sure the release is in good shape :) I.e. make sure Swift support is working correctly, Carthage support, Readme and documentation are up to date, that type of thing.

[2018-02-26 20:46] garrettmoon commented on #436
@brurend glad you figured it out! I'm not sure why adding a placeholder would make the download take longer unless the placeholder is big and it's taking a long time to decode…

[2018-02-27 15:38] brurend commented on #436
@garrettmoon Actually after some more research I believe the problem might be related to signed URLs, although it still might not be related to PINRemoteImage and maybe to NSURLSession. Have you ever experience or seen signed URLs taking considerably longer to fetch? It ranges from 1 second to up to 15 seconds sometimes.

[2018-02-28 21:22] garrettmoon commented on #436
'signed URLs'? Do you mean HTTPs?

[2018-02-28 23:38] brurend commented on #436
I mean AWS signed URLs. URLs with expire time and some other information.

https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-signed-urls.html

[2018-03-01 21:58] garrettmoon commented on #436
Ah, don't know much about those. But since it's related to a CDN, the delay probably has to do with the image not being cached in the CDN? That'd be my first guess.

[2018-03-02 15:21] brurend commented on #436
Yeah, it was indeed some configuration that wasn't right in the CDN, nothing related to PINRemoteImage at all. Thanks for helping out and sorry for opening an issue that in the end wasn't related to the repository.

[2018-03-05 11:29] iDevPro commented on #72
When I try change default configuration:
[code]
I have this issue:
- "sharedImageManager singleton is already configured"

[2018-03-05 18:58] garrettmoon commented on #72
@iDevPro you need to call the above code earlier in your app startup code, before PINRemoteImageManager sharedManager is accessed.

[2018-03-06 07:01] iDevPro commented on #72
But then why this function, if everything can be perfectly set through the class initializer ?)

[2018-03-06 11:36] chuganzy commented on #438
Got it. Thank you! Closing.

[2018-03-06 11:36] #438 closed

[2018-03-21 02:35] chuganzy commented on #87
+1

[2018-03-22 11:00] romansorochak commented on #203
Hi guys!

I'm experiencing the same issue.
Any updates ?

[2018-03-25 09:31] vishal2647 opened #443 "Unable to submit my app"
Guys,
I am unable to submit my app on your website: https://developers.pinterest.com/apps/
I have already authorized my app and when i am trying to submit the app for review process, i am not able to submit it and i am getting “502 Bad Gateway” response and error message is: The MySQL server is running with the — read-only option so it cannot execute this statement.
This is not expected from reput

[2018-03-26 23:59] garrettmoon commented on #443
@vishal2647 This isn't the proper place for this feedback.

[2018-03-26 23:59] #443 closed

[2018-03-27 18:19] arunranga commented on #443
@vishal2647 : this has been fixed.

[2018-03-27 20:05] vishal2647 commented on #443
@arunranga  thanks a lot :)

[2018-04-03 09:17] CaptainTeemo opened #444 "[Bug] GIF not animated when two containers loading the same url."
I'm making a poster view with a background `imageView` and a foreground `imageView` overlay, two `imageView`s load image from same url.
I made foreground `imageView` a FLAnimatedImageView while background `imageView` is a normal `UIImageView`.
This is where bug happens. The foreground `imageView` was not animating.
I believe the problem is when two different `imageView`s loading the same url at th

[2018-04-03 13:08] picturehit opened #445 "CFNetwork problem"
Hello everybody,

I'm using PINRemoteImage to download a lot of pictures in my app.
My top bug issues in Fabric are
Crashed: com.apple.CFNetwork.Connection
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000000
and
Crashed: com.apple.CFNetwork.LoaderQ
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000000

I guess it's a problem with the image url download, right ?
Anyone already got this problem

[2018-04-03 19:40] garrettmoon commented on #445
This doesn't show PINRemoteImage anywhere in the stack trace so I'm going to close this. It's likely a bug in iOS and you should probably file a radar?

[2018-04-03 19:40] #445 closed

[2018-04-03 19:45] garrettmoon commented on #444
Thank you for providing the sample project!

[2018-04-04 15:38] vishal2647 commented on #443
@arunrangaI know this is not the right place to inform this but my app is in pending state from last 7 days. I tried reaching customer support in every possible way but no one is responding. I think writing about this issue here is my only chance. Please please help me.
My App ID: 4923335832214980114

[2018-04-04 15:47] arunranga commented on #443
@vishal2647 : have a read of https://policy.pinterest.com/en/developer-guidelines, notably:

"Our developer API should only be used for direct-to-consumer integrations that help people discover and do what they love. And to avoid confusion with our Marketing Partners program, we don’t allow marketing platforms to use our developer API. This includes (but isn’t limited to) services that are meant t

[2018-04-04 16:19] vishal2647 commented on #443
Thanks for response @arunranga  Please correct me if I am wrong- Our platform is similar to Buffer and Viraltag and they are using the same API. Just wondering how their application got approved?

[2018-04-04 16:28] arunranga commented on #443
@vishal2647 : Buffer is part of the PMP program -- https://business.pinterest.com/en/pinterest-marketing-partners which uses non-public APIs.
(In general, comparing past apps that are approved is not helpful. And this is NOT the right forum for this.)

[2018-04-04 16:51] vishal2647 commented on #443
Ok understood.
We have revised the submission. Fingers crossed.
Thaks for all the information. Really appreciate it.

[2018-04-06 12:38] vlozko opened #446 "Create a static library target"
PINRemoteImage requires the embedding of 3 different frameworks (PINRemoteImage, PINCache, PINOperation). However, this impacts app load times as these have to be loaded in at runtime. Apple's own guidance suggests an ideal maximum of 6 frameworks. (https://developer.apple.com/videos/play/wwdc2016/406/) Furthermore, apps that would link PINRemoteImage as a static library won't copy the binary in i

[2018-04-10 22:01] MikuZZZ opened #447 "Progressive image loading not works in sample project"
I'm trying to use PINRemoteImage for progressive jpg loading with iOS and Swift. I use the sample project in Swift-Example folder and set the network condition to 3G, but the progressive tab shows me the complete image after 5 second without progressive loading.

I'm using iOS 11.3. Thanks

[2018-04-11 18:01] tinder-quemarsekalantary opened #448 "Found a race condition"
We have the thread sanitizer turned on and have been finding this sort of behavior:

![image](https://user-images.githubusercontent.com/32074248/38634455-6271fed4-3d77-11e8-9296-371f5b0fbdaa.png)

![image](https://user-images.githubusercontent.com/32074248/38634528-960e9284-3d77-11e8-9535-b3ece9dc5f0c.png)

[2018-04-11 18:06] #448 closed

[2018-04-11 18:24] garrettmoon commented on #448
@tinder-quemarsekalantary Did it turn out not to be related to PINRemoteImage? Would love to figure this out if it's PINRemoteImage's fault.

[2018-04-11 19:05] #447 closed

[2018-04-11 19:05] tinder-quemarsekalantary commented on #448
yeah it turns out we had a personal fork of the project so we'd need to check and see if this is in the up to date version

[2018-04-11 19:06] garrettmoon commented on #447
@MikuZZZ let me know if it's still not working for you on master.

[2018-04-12 22:54] garrettmoon commented on #448
Let us know!

[2018-04-12 22:56] garrettmoon commented on #446
@vlozko sounds like a good optimization, one thing to consider is that PINCache is optional.

[2018-04-18 10:21] Z-JaDe opened #450 "An infinite loop"
The console keeps printing this：
PINDiskCache.m (522) ERROR: file “***” not exist

CPU always 100%

[2018-04-19 16:10] kgaidis opened #451 "Potential bug with PINRemoteImageBasicCache causing decoding of images on the main thread"
I think there's a bug where images are decoded on the main thread when they are first downloaded IF `PINRemoteImageBasicCache` is used (AKA no PINCache).

When an image is downloaded, or pulled from cache, everything trickles down into `PINRemoteImageManager` method:
[code]

Also, when an image is FIRST downloaded, `object` is NSData, and `cacheInDisk` is also NSData.

The `materializeAndCacheObje

[2018-04-22 09:54] vishal2647 commented on #443
@arunranga It's been more than 20 days and my app still is in pending state. Sent 3 requests to customer support but no response so far. I don't know whom to contact next apart from writing about it here.

[2018-04-24 06:55] iamavikbagh opened #452 "JPEG not loading progressively"
Could you please take a look at this url http://d5hqmnax9xmmh.cloudfront.net/2183ff66dc669f8ae7b509ec6bc75f84.jpg and tell me why it is not loading progressively? I have followed your documentation, and yet the jpg shows only once it is fully loaded.

I have tried creating progressive jpegs on the server using PHP's imageinterlace() and then using imagick too. Neither loaded progressively for me.

[2018-04-26 20:43] garrettmoon commented on #450
@Z-JaDe Hmm, can you upload a sample project? I'm guessing you have a weird URL…

[2018-04-26 20:45] garrettmoon commented on #451
That definitely looks like a mistake! I'd guess setObjectOnDisk should be a no-op. Feel free to open a pull request!

[2018-04-26 20:52] garrettmoon commented on #452
@iamavikbagh I'm guessing it's because the dimensions exceed the default maximum progressive render size which is 1024 x 1024. You can change this by calling `setProgressiveRendersMaxProgressiveRenderSize:completion:`

Lemme know if that's what it was!

[2018-04-26 20:53] garrettmoon commented on #452
(Also be careful of crashes when rendering lots of very large images all at once!)

[2018-04-27 04:26] iamavikbagh commented on #452
That's what it was!

I consider this issue solved now, thanks for your help.

[2018-04-27 04:26] #452 closed

[2018-04-30 17:24] #450 closed, assigned to nobody

[2018-05-01 13:59] kgaidis commented on #451
@garrettmoon

The one potential issue I see with making `setObjectOnDisk` no-op is:

[code]

it uses `setObjectOnDisk` (so resume functionality wouldn't work with PINRemoteImageBasicCache?)

which maybe is different from the documentation? If I understand correctly, documentation says it would be stored in memory:
[code]

[2018-05-01 21:12] garrettmoon commented on #451
😬 we should update the documentation to say it will be stored on disk and that the basic cache does not support disk caching.

[2018-05-01 21:12] garrettmoon commented on #451
Thanks for your help on this!

[2018-05-02 15:39] picturehit opened #455 "Bug initFileURLWithPath PINDiskCache"
Hello everybody,

I saw a new bug, maybe you already seen it.

Fatal Exception: NSInvalidArgumentException
*** -[NSURL initFileURLWithPath:isDirectory:]: nil string parameter

line 229 in the file PINDiskCache.h
        sharedTrashURL = [[[NSURL alloc] initFileURLWithPath:NSTemporaryDirectory()] URLByAppendingPathComponent:PINDiskCachePrefix isDirectory:YES];

Any idea ?

thank you !

[2018-05-02 17:34] garrettmoon commented on #455
@picturehit That would suggest NSTemporaryDirectory() is returning nil. Not sure why that would ever happen! Can you upload a sample project?

[2018-05-03 13:45] kgaidis commented on #451
PR opened:
- https://github.com/pinterest/PINRemoteImage/pull/457

[2018-05-04 15:42] garrettmoon commented on #451
Going to close this now that the PR is merged, thanks again for putting up a fix!

[2018-05-04 15:42] #451 closed

[2018-05-04 15:56] kgaidis commented on #451
@garrettmoon thank _you_ for the library! :)

[2018-05-18 10:10] CHENDONGY opened #458 "How to use ASButtonNode to load a web image"
Hello, Texture loading the picture is using your project, I want to use ASButtonNode to load the network picture. But there is no corresponding function in Texture.

[2018-05-24 07:34] nagasunilt opened #459 "Calling [NSURLSession sessionWithConfiguration:] with nil configuration object."
https://github.com/pinterest/PINRemoteImage/blob/ca736620572dc2d1f9f7a873c0ec6cf59bfcb02c/Source/Classes/PINRemoteImageManager.m#L188

"configuration" in above line could be nil when called from [PINRemoteImageManager sharedImageManager]. Prior to 3.0.0-beta.11, "configuration" is checked against nil and a new [NSURLSessionConfiguration ephemeralSessionConfiguration] object is created if it is nil

[2018-05-24 16:59] garrettmoon commented on #330
I did this! Please give it a try on master!

[2018-05-24 16:59] #330 closed

[2018-05-24 17:00] #87 closed

[2018-05-24 17:01] garrettmoon commented on #203
Can y'all give a try with master? I've completely rewritten GIF handling in PINRemoteImage. Going to close this for now, but please reply back if you encounter similar issues!

[2018-05-24 17:01] #203 closed

[2018-05-24 17:02] garrettmoon commented on #202
The GIF handling has been completely rewritten so I'm going to close this issue. Can you open a new one if you encounter issues on master? Thanks!

[2018-05-24 17:02] #202 closed

[2018-05-24 17:02] garrettmoon commented on #289
This is done on master!

[2018-05-24 17:02] #289 closed

[2018-05-24 17:03] garrettmoon commented on #212
Going to close this out since I haven't gotten a reply.

[2018-05-24 17:03] #212 closed

[2018-05-24 17:03] garrettmoon commented on #123
Closing this out since I haven't heard back.

[2018-05-24 17:03] #123 closed

[2018-05-24 17:03] garrettmoon commented on #455
Closing this out since I haven't heard back.

[2018-05-24 17:03] #455 closed

[2018-05-24 20:15] jverdi commented on #330
@garrettmoon great! We'll give it a try soon

[2018-05-25 19:13] #459 closed

[2018-05-28 08:21] aimobier commented on #365
So how do I customize header? Is there any intuitive code or example?

@garrettmoon

I found this, but I think the authentication information of header will change.

[code]

[2018-05-30 04:52] aimobier commented on #365
🙏

[2018-06-11 10:08] StarStartLee opened #463 "example doesn't work"
There are something wrong with  the podfile  in the example.Could you update it?  Thank you.

[2018-06-11 19:13] garrettmoon commented on #463
@StarStartLee I was able to get the example to work, here's what I did:
- `git checkout master`
- `cd Examples/Example`
- `pod update`
- `open PINRemoteImage.xcworkspace`
- Ran the build on an iPhone 8

The above worked for me, if you're having trouble can you tell me what you did?

[2018-06-11 21:29] garrettmoon commented on #463
I'm going to close this out for now, I'll re-open if you provide more info.

[2018-06-11 21:29] #463 closed

[2018-06-12 00:36] alvinyu2003 opened #464 "[PINOperationGroup initWithOperationQueue:] memory leak"
Has anyone encountered a memory leak for `3.0.0-beta.13` in `[PINOperationGroup initWithOperationQueue:]`? Also, when will 3.0 be released?

[2018-06-12 23:40] garrettmoon commented on #464
@alvinyu2003 do you mind putting up an instruments trace with the leak?

[2018-06-13 12:59] StarStartLee commented on #463
I follow these steps you did ,but terminal throw out these  errer messages:(pod version 1.5.3)
Fetching podspec for `PINRemoteImage` from `../../`
[!] CocoaPods could not find compatible versions for pod "PINCache":
  In snapshot (Podfile.lock):
    PINCache (= 3.0.1-beta.3)

  In Podfile:
    PINRemoteImage/PINCache (from `../../`) was resolved to 3.0.0-beta.13, which depends on
      PINCache (=

[2018-06-20 02:19] tqtifnypmb opened #465 "[PINRemoteImageCategoryManager setImageOnView] Prevent view from being released."
The view which call `setImageOnView` is captured by the `internalCompletion` block. This will avoid that view from being released.

Is this a design choice ? What's this for ?

[2018-06-20 17:14] garrettmoon commented on #465
It is captured, however it will still be released because PINRemoteImage releases blocks once the operation is completed. So essentially:
1. internalCompletion captures view.
2. PINRemoteImage fetches image and runs internalCompletion.
3. PINRemoteImage releases its strong hold on internalCompletion which frees the block.
4. The block releases its strong hold on the view.
5. Everyone is happy.

Pl

[2018-06-20 17:14] #465 closed

[2018-06-21 02:55] tqtifnypmb commented on #465
It means the captured view can't be released until PINRemoteImage finish fetching image.
Actually, I'm just curious about why PINRemoteImage do it this way.  :p

[2018-06-21 17:03] garrettmoon commented on #465
It's not really necessary. If you want to open up a pull request to change it and use `PINWeakify` and `PINStrongify` I wouldn't be opposed to it. Might help clear up some memory in a few edge cases for people.

[2018-06-21 20:41] garrettmoon commented on #464
Going to close this since we can't really investigate without more details.

[2018-06-21 20:41] #464 closed

[2018-06-23 11:07] choiks14 opened #466 "Error:(27, 18) use of undeclared type 'PINAnimatedImageView'"
Error:(27, 18) use of undeclared type 'PINAnimatedImageView'

what is it?

version is
[code]

[2018-06-27 17:56] garrettmoon commented on #466
@choiks14 can you provide a bit more information? PINAnimatedImageView is a UIImageView subclass which displays animated images (GIF and webp so far).

[2018-07-13 08:31] chuganzy commented on #466
It's not released yet so you should use latest master instead of '~>3.0.0-beta.13'

[2018-07-14 20:01] Adlai-Holler opened #468 "Reduce overhead from PINCache"
Especially for slower devices, the file system shuffling and the metadata loading can be really expensive.

To investigate the option of using NSURLCache as a disk cache, I created a sample app based on Texture. It shows 1000 images and you can autoscroll to the bottom on a timer.

In summary, total CPU time of the app on my iPhone 7, verified across multiple runs amounted to:

[code]

My internet

[2018-07-15 21:20] Adlai-Holler commented on #468
Wow YYCache data is in.

[code]

We have a clear winner! @ibireme has been super great to us in the past and he delivers again with this awesome library.

[2018-07-16 00:06] appleguy commented on #468
That's pretty damn impressive on YYCache!! I wonder though, if it's easy to drop in NSURLCache, that might be the way to go as it has cache-control support out of the box. Upgrading to YYCache would be a sane thing to do, though it sounds like quite a bit of extra work to implement the cache-control semantics...and indeed that might be one of the reasons for the performance delta.

[2018-07-16 00:08] Adlai-Holler commented on #468
Agreed, the binary size and the flexibility benefits are nice. Since we have need for the cache control support I'll go that route.

[2018-07-19 10:35] Notthatalreadytakenname opened #469 "Submit for review button doesn't work (502 error)"
Good day to you,
Terribly sorry for writing about it here, however the developer support has been unresponsive for two weeks now.
The "Submit" button doesn't work and we get 502 error when trying to click on it in the Submit for review menu.
All necessary fields are filled, boxes are checked and the button turned blue.
App ID is 4967279917403220862
![screenshot_2](https://user-images.githubusercon

[2018-07-19 15:06] Notthatalreadytakenname commented on #469
The issue is resolved

[2018-08-21 19:22] kgaidis opened #472 "How to change image download priority for a non-progressive image?"
PINRemoteImageManager seems to expose only one way to set priority:
`- (void)setPriority:(PINRemoteImageManagerPriority)priority ofTaskWithUUID:(nonnull NSUUID *)UUID;`

If I look at `PINRemoteImageDownloadTask` it seems that you can only change the priority of progressive image task(?):
[code]

If I am reading the code right, it looks like it's "impossible" to change the priority right now of a i

[2018-08-21 22:12] chuganzy opened #473 "Beta 14 is coming?"
Title says it all.

[2018-09-05 22:43] garrettmoon commented on #472
Yeah, I think this is actually a bug since I don't think task priority actually affects much once the request has been sent :/

[2018-09-20 15:39] romansorochak opened #476 "Setting diskCache.byteLimit does not work"
Hi

I tried to set maximum bytes that PINCache can use from disk.
PINRemoteImageManager.shared().pinCache?.diskCache.byteLimit = 50 * 1024 * 1024 // ~50 MB

But when I tried to reach this number I saw that the maximum space it took was just 20 MB.
Then it started trimming previously cached images.

some test code to see the issue:

            PINRemoteImageManager.shared().pinCache?.diskCache.byt

[2018-09-20 19:17] wiseoldduck commented on #468
https://github.com/pinterest/PINRemoteImage/pull/477 is a tiny change that should help with allowing one to configure a NSURLCache via NSURLSession, and, if they also want, to disable PINCache altogether.

[2018-09-20 19:28] wiseoldduck commented on #113
I think we need to mark `FLAnimatedImage.h` (and perhaps others) as a public header.
In the meantime, you can set the build option `CLANG_ALLOW_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES` as a workaround.

[2018-09-20 19:49] romansorochak commented on #476
@wiseoldduck
the code provided above goes one after another. There nothing happens between printing 'byteLimit' and 'diskByteCount'.

[2018-09-21 00:40] wiseoldduck commented on #476
Oh, maybe I am missing something but I would not expect the diskByteCount to go up until you actually downloaded & cached some images.

[2018-09-23 16:34] waseefakhtar opened #480 "Dynamic imageView size only sets to the image size when scrolled"
I'm trying to set my imageView height based on the image size when the image loads. Initially the height of my imageView is 0 but I notice that when I run the app, the images are set to a constant height and only sets the correct height for each image upon scroll. Here's how I set images in `cellForItemAt`:

[code]

Before Scroll:

<img width="403" alt="screen shot 2018-09-23 at 7 35 31 pm" src="h

[2018-09-26 21:03] nguyenhuy commented on #476
This might be because `ASPINRemoteImageDownloader` has its own `PINRemoteImageManager` with a byte limit of 20MB ([here](https://github.com/TextureGroup/Texture/blob/master/Source/Details/ASPINRemoteImageDownloader.m#L90)).

[2018-09-29 02:58] joshbirnholz opened #481 ""Multiple commands produce" frameworks when archiving"
I can build my project fine, but when archiving my app, I get these errors:

    Multiple commands produce '/Users/<User>/Library/Developer/Xcode/DerivedData/<Project_Name>-gfwiahcpoebijahcpqgyhkwytbfn/Build/Intermediates.noindex/ArchiveIntermediates/<Project Name>/IntermediateBuildFilesPath/UninstalledProducts/iphoneos/PINOperation.framework':
    1) Target 'PINOperation-iOS12.0' has create direc

[2018-09-29 03:05] joshbirnholz commented on #481
Nevermind: https://stackoverflow.com/a/51089264/4157754

[2018-09-29 03:05] #481 closed

[2018-10-01 21:27] chuganzy opened #482 "Improve the performance of PINAnimatedImageView"
Switch to sub-thread to calculate frames.

[2018-10-05 02:44] akiporoyopida opened #483 "What is the best way to erase cached images with pin_setImage?"
Upload image process
view.imageview.pin_setImage(from: URL(string: u)!, processorKey: "rounded")  { (result, unsafePointer) -> UIImage? in
.
.

When I want to delete the cache, I use this process
let u= uploaded url
PINRemoteImageManager.shared().cache.removeObject(forKey: u)
let u2=PINRemoteImageManager.shared().cacheKey(for: URL(string:u)!, processorKey: "rounded")
PINRemoteImageManager.shared()

[2018-10-09 18:13] garrettmoon commented on #481
Thanks for updating with the stack overflow link!

[2018-10-09 18:14] garrettmoon commented on #476
@romansorochak I'm going to close this for now because I think @nguyenhuy pointed out the issue. Please let me know if you think this is still something we need to keep open!

[2018-10-09 18:17] garrettmoon commented on #482
@chuganzy Can you give more details? A sample project perhaps? I spent a lot of time getting performance to be acceptable specifically in collections. There are limitations of course, GIFs are not nearly as efficient as videos :(

There are other ways to improve performance (specifically, the animated image code used to decode GIFs to disk or even decoding to video on the fly) but they have their

[2018-10-09 18:22] garrettmoon commented on #480
Hmm, I'm guessing this is an issue with auto layout… My hunch is that the constraints aren't being invalidated correctly when the image loads asynchronously (try to force relayout perhaps on image load?). When you scroll however, the cell is recreated and the image load block runs synchronously because it's being pulled from the cache, so the constraints are set correctly.

I would say that you ma

[2018-10-09 18:32] garrettmoon commented on #483
@akiporoyopida I think you're doing this in the most efficient way – we don't have a nice way to remove processed images.

The only modification I would suggest for correctness is:
[code]

Hope that helps!

If you're doing this a lot you may want to make a category method on PINRemoteImageManager to do it for you?

[2018-10-09 18:32] #483 closed

[2018-10-09 23:11] akiporoyopida commented on #483
Thank you!

[2018-10-10 18:14] garrettmoon commented on #236
I would love to see this as well and would happily review [RFC]s on how to do it!

[2018-10-10 18:17] garrettmoon commented on #113
FLAnimatedImage has been removed from master and GIF support is now built in with PINAnimatedImageView. Is it reasonable to close this now?

[2018-10-15 10:14] waseefakhtar commented on #480
That's correct. I agree, there are lots of details to get right before it runs smoothly. I've decided to rely on a fixed size for now but I'll try sometime to get the image size in advance like you suggest the API provides and let's see how things perform.

[2018-10-16 18:29] romansorochak commented on #476
@garrettmoon Sorry for long response.
@nguyenhuy explained why it happens but that does not resolve my issue.
I still cannot increase diskCache.byteLimit to be more than 50.
So can you please reopen the issue ?

[2018-11-21 00:45] soushu opened #484 "I want to use a cache when I am offline"
Hello.
When I retrieve images from the server, I get it normally if it is online, and when I am offline, I will try to display it if there is a cache, is it possible?

[2018-12-08 08:00] tarekbadrshalaan commented on #443
I have the same issue and got

`POST https://developers.pinterest.com/apps/{{app id}}/submission/ 502 (BAD GATEWAY)`

any help !!

[2018-12-11 11:05] MarcSteven commented on #484
https://github.com/pinterest/PINRemoteImage/blob/master/Source/Classes/PINCache/PINCache%2BPINRemoteImageCaching.m This is useful @soushu Come on

[2018-12-18 12:51] thierryrene commented on #443
i have the same problem, and support don't return my email :|

[2018-12-26 08:19] FerumFlex commented on #443
Same problem, more than one month my application is on review. Support says that you just need to wait.

[2018-12-26 20:22] vishal2647 commented on #443
Their developer program is dead....

[2019-01-01 17:54] addisonwebb opened #487 "libwebp dependency is not Carthage compatible"
The `libwebp` dependency cannot be compiled by Carthage because it does not have a shared scheme.

[code]

This prevents the use of `PINRemoteImage` since it depends on `libwebp`.

[2019-01-04 12:43] luochaojing opened #488 "use PINRemoteImgMgr.defaultImageCache to cache my self objctive maybe crash"
Hi, my dear big brother！
Here is my code where crashed
[code]

the reason is that:
the serializer callback will not archiver obj if key has not "R-" prefix
[code]

[2019-01-04 12:48] luochaojing commented on #488
is because you do not want this cache used by other ways except your inner NSData?

[2019-01-16 21:21] garrettmoon commented on #480
Glad that will work. Going to close out this issue for now.

[2019-01-16 21:21] #480 closed

[2019-01-16 21:21] garrettmoon commented on #476
Sorry, missed this :(

[2019-01-16 22:11] garrettmoon commented on #484
Going to close this for now, PINRemoteImage supports cached images regardless of if the device is online or off.

[2019-01-16 22:11] #484 closed

[2019-01-16 22:13] garrettmoon commented on #487
Hey @addisonwebb would you mind uploading a sample project that demonstrates this?

[2019-01-16 22:13] garrettmoon commented on #487
Hey @addisonwebb would you mind uploading a sample project that demonstrates this?

[2019-01-17 00:57] addisonwebb commented on #487
Hi @garrettmoon. Here is a sample project that demos `libwebp` not building during the Carthage build process. Repro steps are in the README.

https://github.com/addisonwebb/PINRemoteImage-Issue487

There is a second branch that shows an Xcode project that successfully builds and runs with the `PINRemoteImage` dependency despite `libwebp` not building. I'm not sure what is different about the proj

[2019-01-17 18:34] garrettmoon commented on #487
Ok so I use Carthage infrequently and always forget how it works, but…

Essentially, PINRemoteImage is using Carthage to fetch and build its dependencies. But! because libwebp doesn't support Carthage itself, PINRemoteImage builds it in directly. So! It's safe to ignore the warning that webp isn't building, it'll still work (I plugged in a .webp image into the sample project on the `still-builds-d

[2019-01-17 18:35] garrettmoon commented on #487
And thank you for taking the time to make a sample project!

[2019-01-17 21:02] addisonwebb commented on #487
Thanks for looking into this!

I just took a further look at how `libwebp` was integrated into the `PINRemoteImage` framework and I see that Carthage is being used only to checkout a specific version of `libwebp`. The files have been added to the project and is build with `PINRemoteCache` vs linking the framework built by Carthage.

It all makes sense now. I think I was just thrown off because Car

[2019-01-17 21:03] #487 closed

[2019-01-18 14:40] marcinwlodarczyk commented on #260
I'm experiencing the same issue but on one device only (iPhone 6, iOS 12.0). First we noticed this problem on the latest master release, then I tried with the beta version `3.0.0-beta.7` and it still persists (we tried a clean install to make sure that the corrupted image is not taken still from a cache).
Have you traced the root cause of this issue?

All I'm doing is just running the following co

[2019-01-18 18:14] garrettmoon commented on #260
@marcinwlodarczyk are you hitting it frequently? I wonder if it could have something to do with resume support on canceled images…

[2019-01-18 18:31] marcinwlodarczyk commented on #260
@garrettmoon on that device we were getting this problem ~70% of times (clean launches). I've just tried your lates beta release `(3.0.0-beta.10)` and this problem seems to disappear. Scanning quickly changes that have been made in your (great) framework since the `beta.6` release I think this issue could be related to simultaneous download of multiple images and maybe even to downloading an image

[2019-01-18 20:57] garrettmoon commented on #260
Glad to hear it's not affecting you all anymore!

[2019-01-22 23:34] #476 closed

[2019-01-22 23:34] garrettmoon commented on #476
Closing this for now, please reply if you're still having issues.

[2019-02-14 08:52] HXHinsHuang opened #489 "The data received does not correctly match the corresponding PINRemoteImageDownloadTask"
### release 3.0.0-beta.7

Image data is received piece by piece while the image is being downloaded. In the process of image data download, I quickly back and forth scroll the view, the current download task will be cancelled, PINRemoteImageDownloadTask will be removed from the tasks, and then start a new task. This looks fine,  but the problem occurs when the URL of the new task is the same as th

[2019-02-19 19:40] garrettmoon commented on #489
I think you may have caught something here! Would you mind uploading a sample project?

[2019-03-05 04:58] Baolv opened #496 "Webp not show on ios swift 4.2"
I downloaded example project and test this link: https://storage.googleapis.com/myscoop/scoops/webp/5hqyorwq86c8scrmxs6ew_320.webp But webp not show.

[2019-03-05 16:46] DreamingInBinary opened #497 "PINAnimatedImageView Initializer with GIF"
Right now, if you initialize an instance of an `PINAnimatedImageView` using its initializer that takes in a `PINCachedAnimatedImage` it will not load the image due to the way the `commonInit` works:

[code]

It sets the iVar, but for the animated image to show you need:

`- (void)setAnimatedImage:(PINCachedAnimatedImage *)animatedImage`

**TL;DR:** If you've got an animated image and don't want to

[2019-03-11 18:40] garrettmoon commented on #496
Hey @Baolv can you upload a sample project?

[2019-04-03 07:59] Adenion commented on #443
I have the same bug.

@arunranga please will you fix it ?

[2019-04-05 06:14] PD006 commented on #413
Progressive Jpeg Not Working is not working in my case

[2019-05-13 05:30] mc7h opened #502 "[NSHTTPURLResponse findMaxAge]: unrecognized selector sent to instance"
When using a properly configured `ttlCache` my app crashes with `[NSHTTPURLResponse findMaxAge]:`

I believe this is because `NSHTTPURLResponse+MaxAge.m` isn't included in the `PINRemoteImage` target.

[2019-05-13 22:18] mc7h commented on #502
I confirmed this by making the changes in my local Checkout and rebuilding via carthage.

[2019-05-14 16:58] #502 closed

[2019-06-05 00:09] chadpod opened #504 "Failure loading Giphy animted webp via url in PINAnimatedImageView"
I'm trying to load an animated webp from Giphy into a PINAnimatedImageView. It would download fine, but then fail to decode the image. I found myself having to add the following PIN_WEBP bit to PINAlternateRepresentationProvider:

[code]

to get it working. Can you point me in the right direction as to what I might be doing wrong or is this above change needed?

Here is how I am fetching the image

[2019-06-05 05:12] chadpod opened #505 "PINAnimatedImageView optimization"
I've got a PINAnimatedImageView in a collection view cell. The image and animatedImage are being nil'd out on prepareForReuse. Subsequently when setting the image on the reused cell, I think the clearing of the animatedImage is causing some issues. Should clearing the animatedImage when setting the image be conditional on the _animatedImage even existing?

[code]

[code]

This change cleared up my

[2019-06-10 16:41] garrettmoon commented on #505
@chadpod the proposed solution isn't thread safe.

Would you mind posting an example project which demonstrates the issue?

[2019-06-10 17:56] chadpod commented on #505
I'll try to pull an example together when I get a break in our release schedule. Hopefully I can remember how to recreate it.

Probably a dumb question on my part, but I don't see how the above isn't thread safe? Can you explain further? Thanks.

[2019-06-17 17:48] garrettmoon commented on #505
The above isn't thread safe because you're accessing _animatedImage without holding the lock. Setting self.animatedImage holds the lock. So essentially you could have the main thread check if _animatedImage isn't nil (which could be in the process of being set on another thread).

In practice this wouldn't likely cause an issue because you're setting self.animatedImage to nil in a thread safe way

[2019-06-17 18:26] garrettmoon commented on #504
Eeep, this is definitely a bug! I have a fix as part of another WebP bug in a branch I'm discussing with Google. I'm guessing I'll put up a PR soon, in the meantime here's the branch: https://github.com/pinterest/PINRemoteImage/tree/fixWebPAnimationBlending

[2019-06-17 19:59] #496 closed

[2019-06-24 14:49] hovox opened #508 "Better way for decoding image"
I'm looking into `pin_decodedImageWithData` method and wandering can't we find better way for decoding ? With current implementation in order to decode an image we are creating additional bitmap with the same size and draw on it. We could draw into 1x1 context like done [here](https://github.com/twitter/ios-twitter-image-pipeline/blob/63deaedfb2a7a317b7ef4e42419f5710828d91b5/TwitterImagePipeline/U

[2019-06-26 14:38] hovox commented on #508
We can set `CGContextSetInterpolationQuality` to `kCGInterpolationNone ` it should be more performant than default one. [Here](https://developer.apple.com/documentation/coregraphics/1455656-cgcontextsetinterpolationquality) is the documentation link.

[2019-07-09 17:09] #504 closed

[2019-07-09 17:32] garrettmoon commented on #489
@HXHinsHuang would you mind testing the fix here? https://github.com/pinterest/PINRemoteImage/pull/514

[2019-07-10 11:55] hovox opened #517 "PINAnimatedImageView bug when loading two or more gifs with the same url"
Let's say we have a two `PINAnimatedImageView` instances, if we load same gif url _simultaneously_ for those two image views, only one of them will work. Another one will not load anything.

By simultaneously I mean something like this:
[code]

Issue happens because only one `PINAnimatedCachedImage` instance is created for those two image views so those two views use same `PINAnimatedCachedImage`

[2019-07-10 12:00] hovox opened #518 "PINAnimatedImageView first frame rendering optimization"
When we have tableview or collection view with gifs, scrolling up/down shows empty cell then loads an image. Changing `coverImageCompleted` method like this greatly improved experience. After this change we do not see empty cells

[code]

[2019-07-11 06:56] hovox commented on #508
There are cases where suggested solution(drawing on 1x1 canvas) will not work correctly. Specifically if we get HEIC encoded image which alpha is not premultiplied we will get wrong decoded image because when compositing layers iOS considers that alpha should be premultiplied. So I think current solution works right, we still can disable interpolation to have better drawing speed.

[2019-07-11 15:50] zhongwuzw opened #520 "Pause the playback of GIF when scroll and resume when scroll stopped"
I have the requirement to improve the scroll performance when collection view has many GIFs, thus pause the playback in scrolling state and resume after scroll finished. (By setting runloop mode to default mode other than common mode)

For example, a gif has 20 frames, frame interval 16ms, collection view not scrolled, now it's playing 5th frame, and scroll started, after scroll finished, maybe 5s

[2019-07-23 22:44] #497 closed

[2019-07-24 14:52] oferRounds opened #525 "React Native support?"
Hi,
I really like PINRemoteImage, and I’m now using React Native. I read back then on your that Pinterest have started to use some React Native. Do you plan to export the library also to React Native?

[2019-07-30 13:49] carlos-chaguendo opened #527 "package Manager support?"
### Hi,

They could review the possibility of adding Package.swift manifest to support Swift Package Manager

[code]

### it's likely they'll have to wrap some of their code in

#if canImport(UIKit)
    import UIKit

    extension UIImage {
    }
#endif

[2019-08-26 08:22] aqeelahmad406796 commented on #466
Still facing the same issue. Isn't it updated yet?

[2019-09-06 09:20] trungnguyen1791 commented on #476
I think I'm facing the same issue as @romansorochak.
For example, I tried to assign a bigger byteLimit value like 1000MB, then download some images. Then the next time running app, the Initialization of Diskcache will take 50MB as default and of course trim the cache by ```initializeDiskProperties``` after that.

IMO, i think its better if we can persist the configured byteLimit value to UserDefau

[2019-10-03 19:44] mdamicoml opened #532 "Error with overloaded methods"
I tried to update to '3.0.0-beta.10' from 'release 2.1.4' but it crashed with error:

`Conflicting parameter types in declaration of 'setObjectAsync:forKey:completion:': 'id  _Nonnull __strong' vs 'id<NSCoding>  _Nonnull __strong'`

The problem it's about overloading methods like "setObjectAsync", "setObjectAsync", "setObjectAsync" that are in the "PINCaching" interface.

[2019-10-22 13:47] itunescn opened #533 "PINURLSessionManager.m:210 There seems to be an issue in iOS 9 where this can be nil. If you can reliably reproduce hitting this, *please* open an issue: https://github.com/pinterest/PINRemoteImage/issues"
![Screen Shot 2019-10-22 at 9 46 07 PM](https://user-images.githubusercontent.com/12559006/67292275-6474b800-f515-11e9-8609-fcd508093246.png)

[2019-11-06 02:46] Sonictherocketman opened #534 "Add Option to Prefer Cache Image (if exists) over Placeholder"
Apologies if this already exists, but I couldn't find a reference anywhere in the docs, and I'm unclear as to the order of ops when it comes to loading cached items vs. the placeholder images. As far as I'm aware, calling the following:

[code]

will cause the library to load the placeholder image and attempt to make a network call. If the call succeeds it will use that item, otherwise it falls ba

[2019-11-11 10:55] dairuiquan opened #535 "crash on [FLAnimatedImage addFrameIndexesToCache:]"
My app use this library . First, I think this Library is beautiful.  I find a crash with bulgy that is a crash    collect tool.  I show crash stack with bugly catch.

ibsystem_platform.dylib
_platform_memmove + 112
1	ImageIO
GIFReadPlugin::copyImageBlockSet(InfoRec*, CGImageProvider*, CGRect, CGSize, __CFDictionary const*) + 796
2	ImageIO
GIFReadPlugin::copyImageBlockSet(InfoRec*, CGImageProvider*

[2019-11-27 03:30] Jarred-Sumner commented on #482
I've noticed this too, particularly in the case where the gif is already in the cache.

It looks like the expensive part is `[PINGIFAnimatedImage initWithAnimatedImageData]`? Specifically, creating the gif object on the main thread.

![image](https://user-images.githubusercontent.com/709451/69691116-d7c49900-1082-11ea-9f9c-91aafebd9e09.png)

[2019-11-27 11:42] Jarred-Sumner opened #536 "Three UX issues with PINAnimatedImageView & GIFs"
I'm rendering several `PINAnimatedImageView` in a `UIScrollView`. As the user scrolls, it sets `isPlaybackPaused` to `true` when shown on screen and `false` when off screen. Overall, I really like this library. The performance of my app is meaningfully better than the other two libraries I integrated before this.

There are three UX issues that I'd like to report.

#### 1. When PINAnimatedImageVie

[2019-12-19 21:02] garrettmoon commented on #535
@dairuiquan this is a crash occurring in [FLAnimatedImage](https://www.github.com/Flipboard/FLAnimatedImage), not PINRemoteImage

[2019-12-19 21:02] #535 closed

[2019-12-19 21:06] garrettmoon commented on #534
@Sonictherocketman It does check the cache before hitting the network, but you're right, it doesn't check it before setting the placeholder image.

[2019-12-19 21:07] garrettmoon commented on #533
@itunescn if you're able to reliably reproduce this, please post a sample project!

[2019-12-19 21:10] garrettmoon commented on #532
@mdamicoml I'm not sure I understand, do you mind posting a sample project which reproduces?

[2019-12-19 21:12] garrettmoon commented on #525
Hi @oferRounds no, we don't have any plans to open source and maintain that publicly at this time.

[2019-12-19 21:12] #525 closed

[2019-12-19 21:17] garrettmoon commented on #418
I'm pretty sure tvOS is in a better state now, closing!

[2019-12-19 21:17] #418 closed

[2019-12-20 02:40] TimOliver commented on #418
Thanks Garrett! Yeah, I got the project to a shippable state at the time and shipped.

If I ever see the issue again, I'll make a new ticket here.

Thanks again for all your hard work! :D

[2019-12-20 15:18] oferRounds commented on #525
Hi @garrettmoon got you, thank you for the answer :)

[2020-01-09 01:31] ZachOrr opened #538 "Publish PINRemoteImage 3.0.0"
Hey y'all - would it be possible to publish the new [PINRemoteImage 3.0.0 release](https://github.com/pinterest/PINRemoteImage/releases/tag/3.0.0) to [Cocoapods](https://cocoapods.org/pods/PINRemoteImage)?

Thanks!

[2020-01-15 12:06] iwheelbuy commented on #538
Yeah... why not publishing?

[2020-01-15 23:23] garrettmoon commented on #538
Published!

[2020-01-15 23:23] #538 closed

[2020-01-15 23:23] garrettmoon commented on #532
Going to close this since there hasn't been a reply.

[2020-01-15 23:23] #532 closed

[2020-01-15 23:23] garrettmoon commented on #533
Going to close this since there hasn't been a reply.

[2020-01-15 23:23] #533 closed

[2020-01-16 07:20] iwheelbuy commented on #517
Have the same issue with two images applied simultaneously.

[code]

We receive one instance of the image for both views:

**<PINCachedAnimatedImage: 0x281911d80>
<PINCachedAnimatedImage: 0x281911d80>**

I believe there is an easy work around

[code]

It might not work it all situations, but it works for me and as a result I get different instances of one image.

**<PINCachedAnimatedImage: 0x2837d

[2020-02-12 20:08] VitaliiVasylyda commented on #533
Good evening we have the same issue on our project, 100% reproduce on iOS 10.3. Here a message from the console  Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'There seems to be an issue in iOS 9 where this can be nil. If you can reliably reproduce hitting this, *please* open an issue: https://github.com/pinterest/PINRemoteImage/issues'.

[2020-02-21 04:06] oferRounds commented on #452
Hi @garrettmoon

Just wondered: what’s the rational behind this limitation? Is it because progressively downloading/presenting large images taking more resources then non-progressive (i.e., the crashes you mentioned)?

[2020-02-27 21:25] philmartin83 opened #541 "Ability to change 'setSharedImageManagerWith(config)'"
Is there a way to change ASPINRemoteImageDownloader.setSharedImageManagerWith(config)

I'm currently using an ASNetworkImageNode and the url property to get my images but..... very soon those images will require a jwt in the header of a URLRequest to access those images, I found this stackoverflow [post](https://stackoverflow.com/questions/45430972/how-can-i-add-authentication-header-in-asnetworki

[2020-02-28 07:29] SAGESSE-CN opened #542 "Add support for APNG images"
Thx development.

Can add support for APNG images？
APNG is a better animated image format than GIF, and the important thing is that it's not too difficult to implement.

Reference:
[APNGKIT](https://github.com/onevcat/APNGKit)
[APNG Wiki](https://www.google.co.jp/url?sa%3Dt%26amp%3Brct%3Dj%26amp%3Bq%3D%26amp%3Besrc%3Ds%26amp%3Bsource%3Dweb%26amp%3Bcd%3D2%26amp%3Bcad%3Drja%26amp%3Buact%3D8%26amp%3B

[2020-03-03 16:04] spencerslickremix commented on #443
To all having submission APP troubles... after closer inspection of the 502 bad gateway error I can see an additional error in the console after clicking on it that that says..... 1406, u\"Data too long for column 'description' at row 1\"....

This error needs to absolutely display above the description box so users understand they are adding too much text to the area. An even better user experien

[2020-03-17 18:40] #489 closed

[2020-04-01 10:05] yosoychicho commented on #443
Same problem here. All attempts to create app are been ignored.

[2020-04-15 16:37] justinslickremix commented on #443
Look at all these people having the same issue! @garrettmoon We realize this isn't the place to do this but we are trying to find solution here and no one at pinterest has responded to us in MONTHS. We develop one of the largest free social plugins that has over 80K active installs on WordPress websites. The amount of support we are getting on the daily because of our Pinterest APP not being appro

[2020-05-11 16:47] jparise opened #550 "Consider NSProgressReporting"
[`NSProgressReporting`](https://developer.apple.com/documentation/foundation/nsprogressreporting) (iOS 9+) provides an interface for objects that report progress using a single [`NSProgress`](https://developer.apple.com/documentation/foundation/nsprogress?language=objc) instance.

This could be a nicer, standardized way to report download progress, especially because it supports [trees of progress

[2020-06-10 20:56] LeffelMania opened #551 "PINAnimatedImageView: GIFs Don't Play Nicely with Zoomable UIScrollView"
We've recently upgraded our pod from a _very_ old version to the latest and have run into an issue displaying animated gifs using `PINAnimatedImageView` that we were not experiencing when the library depended on `FLAnimatedImageView`. Specifically, setting `PINAnimatedImageView.animatedImageView` doesn't give the view an intrinsic frame size the way setting `.image` does. This is an important beha

[2020-07-16 16:00] YassineRjl commented on #443
Anyone managed to get this to work?

[2020-08-06 19:55] mr-fixit opened #559 "Xcode 12 beta 4 can't compile you"
FYI,

Xcode seems to have trouble figuring out that various classes that support the PINCaching protocol should be allowed as parameters of type `id<PINCaching>`.

[2020-08-07 11:41] mycroftcanner commented on #559
Can't compile either...

[code]

[2020-08-10 14:16] mycroftcanner commented on #559
@zacwest @garrettmoon @mRs- @Adlai-Holler Any chance you could commit a fix for PINRemoteImage please?

https://github.com/pinterest/PINCache/pull/273

[2020-08-12 11:12] zboralski commented on #559
### Temporary Workaround
[code]

[2020-08-24 08:58] gaikwadamit19 opened #563 "PINCache version need to update to latest version in pods"
I am using both PINCache and PINRemoteImage which is causing iOS compilation issue with PINRemoteImage as pods is still referring to older version of PINCache.
Please update this to latest version.

Need to update
'PINCache', '=3.0.1-beta.8'
to
'PINCache', '=3.0.1'

[2020-08-24 18:51] #559 closed

[2020-08-26 15:39] gaikwadamit19 commented on #563
Any plan to release it?

[2020-08-28 18:31] #563 closed

[2020-09-01 13:43] petarbelokonski opened #565 "Can you please bump the tag of the latest master version ?"
@garrettmoon FYI :)

[2020-09-05 14:23] JohnnyTseng commented on #565
+1 needed 3.0.1 enable to build on Xcode 12

[2020-09-07 07:52] gaikwadamit19 opened #566 "Xcode 12 doesn't compile it successfully"
There are 4 compilation issues in PINRemoteImage pod for PINCache dependancy with 3.0.1,
Updated the pods in app by deleting podfile.lock and again installing pod and found 4 compilation issues.
Looks like this this not compatible with Xcode 12.

[2020-09-07 14:36] McsimumVelocity commented on #566
Hi! Yes, I'm seeing the same as @gaikwadamit19. Encountering a number of errors all similar to the following on Xcode 12 Beta 6.

`Incompatible block pointer types sending 'PINMemoryCacheObjectBlock  _Nullable __strong' (aka 'void (^__strong)(PINMemoryCache * _Nonnull __strong, NSString * _Nonnull __strong, id  _Nullable __strong)') to parameter of type 'PINCacheObjectBlock _Nonnull' (aka 'void (^

[2020-09-08 00:22] sagesse-cn commented on #566
add the flags into bulid config to disable check
[code]

[2020-09-08 15:12] gaikwadamit19 commented on #566
My project using pod for PINRemoteImage. In .podsec file though PINCache dependancy updated to "3.0.1" from "3.0.1-beta.8", somehow PINRemoteImage is still referring to "3.0.1-beta.8".
Not sure from where it is pointing to beta version.

When I explicitly added `pod 'PINCache', '~> 3.0.1'` along with `pod 'PINRemoteImage', '~> 3.0.0'` into pod file, I started getting error on pod install.
screensh

[2020-09-08 15:16] esteluk commented on #566
Because the version is explicitly pinned, there needs to be a 3.0.1 release of `PINRemoteImage` that can be used with the updated `PINCache`. In the meantime you could point to PINRemoteImage's master branch if you want to resolve dependencies fully.

[2020-09-08 17:29] garrettmoon commented on #566
We'll be doing a new release of PINRemoteImage soon. This is fixed in master.

[2020-09-09 06:36] gaikwadamit19 commented on #566
Thank you, I am waiting for it.

[2020-09-11 13:46] McsimumVelocity commented on #566
Hi @garrettmoon. Thanks for your reply and its great to hear there is a fix coming. Really appreciate it. Do you have any approx timeline on a release... like days, weeks or months? It would just be helpful scheduling our own work.

[2020-09-14 11:39] petarbelokonski commented on #566
Yes ... https://github.com/pinterest/PINRemoteImage/issues/565

[2020-09-14 16:16] realdonald1994 commented on #443
It's still pending

[2020-09-15 18:35] noremac commented on #565
With iOS 14 coming out tomorrow, it'd be amazing if this happened soon.

[2020-09-16 09:36] xezero commented on #527
Any updates on this?

[2020-09-16 13:45] bboyle18 commented on #565
@garrettmoon 👋  Any idea when https://github.com/pinterest/PINRemoteImage/pull/567 will be merged?
Thanks!

[2020-09-16 15:34] garrettmoon commented on #565
Done!

[2020-09-16 15:34] #565 closed

[2020-09-16 15:34] garrettmoon commented on #566
Done!

[2020-09-16 15:34] #566 closed

[2020-09-16 15:36] bboyle18 commented on #565
Thanks @garrettmoon 🙇

[2020-09-18 05:51] IHEARTCOOKIES commented on #301
Should be addressed in #549

cc: @garrettmoon @bolsinga

[2020-09-18 08:40] hendych opened #568 "Broken build using PINRemoteImage/WebP 3.0.1 when using :generate_multiple_pod_projects => true in Podfile"
The newest release version 3.0.1 when using WebP subspecs, seems have broken build.
When installed using:

[code]

<img width="1157" alt="Screen Shot 2020-09-18 at 15 38 51" src="https://user-images.githubusercontent.com/8999432/93576432-15553280-f9c5-11ea-8e9b-68a6b742b7e7.png">

When I saw the changes, this seems the root cause of the broken build.
<img width="1216" alt="Screen Shot 2020-09-18 a

[2020-09-18 08:54] hendych commented on #568
Sorry, might be false alarm. I tried the Example app it works as expected. Will check my pods installation again.

[2020-09-22 18:12] McsimumVelocity opened #570 "GIF playback is slow/broken"
GIFs are render extremely slowly in `3.0.1`.

Here is the example GIF in the Swift Example app provided in the repo versus the same GIF loaded in Chrome:

![slow_gif](https://user-images.githubusercontent.com/6392766/93920236-cda51280-fd06-11ea-85bb-5353e0ecb60a.gif)

This can be replicated with other GIFs also.

Setup:
- PINRemoteImage `3.0.1`
- Xcode 12
- iPhone 11 Pro, iOS 14 simulator

Any ass

[2020-09-23 15:21] #301 closed

[2020-09-24 21:10] sridvijay commented on #570
I'm also running into the same issue :/ I've narrowed it down to a couple sections of code, but still am having trouble figuring out which part is wonky.

In `PINAnimatedImageView.m`, we have this snippet of code where the `frameInterval` is being set to 1 (hence the 1 update a second). If modified to the frame rate of your GIF (say 15 fps), everything seems to work fine again.

[code]

That `fram

[2020-09-29 21:59] justinslickremix commented on #443
This is honestly the worst support we have received from any of the Social Networking companies' API we work with. Thankfully our plugins continue to grow without Pinterest as we now have over 90K active installs of our plugin on WordPress and Pinterest is losing out on millions of hits on their site from traffic our customers would be bringing to their site.

[2020-10-01 21:18] 3a4oT commented on #527
#571

[2020-10-06 05:57] bdolman commented on #570
@sridvijay Thanks for your comment -- it pointed me in the right direction. Would love it if you could verify my PR that I think should fix this: https://github.com/pinterest/PINRemoteImage/pull/572

[2020-10-06 21:21] #570 closed

[2020-10-07 09:54] Kaspik commented on #527
Current master is still broken (probably due to https://github.com/pinterest/PINRemoteImage/pull/574):

[code]

[2020-10-07 14:41] 3a4oT commented on #527
Yeah, #574 should do the trick

[2020-10-07 16:00] McsimumVelocity commented on #570
Thanks so much for this fix @bdolman and @sridvijay. Any ETA on a release that will include this? We have a dependency on it in one of our own pods. It's causing us some difficulties. Would be really helpful for our own planning to have a rough release time.

[2020-10-07 17:37] garrettmoon commented on #527
Just merged, please let me know if it's working for y'all and I'll put out a new release.

[2020-10-07 18:51] Kaspik commented on #527
Current master works for us @garrettmoon ! Seems like PINRemoteImage can go out as 3.0.2 the same as PINCache went yesterday. :)

[2020-10-08 18:14] 3a4oT commented on #527
It works for me as well, thanks!

[2020-10-08 18:42] #568 closed

[2020-10-09 18:45] iDevPro opened #577 "error: umbrella header for module 'PINRemoteImage' does not include header 'PINRemoteImage.common-umbrella.h'"
Hello.

I have trouble while build project
`error: umbrella header for module 'PINRemoteImage' does not include header 'PINRemoteImage.common-umbrella.h'`

PINRemoteImage installed from cocoapods (PINRemoteImage (3.0.1))

[2020-10-09 18:57] garrettmoon commented on #577
Can you upload a sample project?

[2020-10-10 00:15] iDevPro commented on #577
Sorry I could not do that... But I found resolution...
1) Modern build in Xcode
2) Remove additional dependency of PINRemoteImage from my Lib and stay PINRemoteImage which in Texture as dependency... (ASDK)

I suppose or we need move to SwiftPM, or wait while CocoaPods fix this problem (I mean build with two dependency)

[2020-10-10 00:59] garrettmoon commented on #577
Glad you got it fixed! I'm going to close this one out.

[2020-10-10 00:59] #577 closed

[2020-10-12 16:14] Harrisonfrn opened #578 "App still under review after Two weeks"
Hello everyone,

I need to use Pinterest API for marketing purpose but my app is still under review since 2 weeks, we need to work with it soon and we don't understand why the review is taking so long.

[2020-10-13 18:38] garrettmoon commented on #578
@Harrisonfrn This isn't the appropriate forum for this.

[2020-10-13 18:38] #578 closed

[2020-10-23 19:40] #473 closed

[2020-11-04 21:55] bolsinga opened #582 "using deprecated in iOS13 MD5 for file cache keys"
Added with #189. It is not clear to me from reading that what the issue was, but using this will get deprecation warnings when targeting iOS13.

[2020-11-05 23:29] bolsinga opened #583 "Uses +[NSKeyedUnarchiver unarchiveObjectWithData:] which is deprecated when targeting iOS12"
There is a simple replacement to use.

[2020-11-21 15:23] granoff opened #589 "EXC_BAD_ACCESS in PINURLSessionManager Operation Queue"
I recently released an update to an app, built with Xcode 12, and released for iOS 13+. I am now seeing this crash quite often. We use PINRemoteImage in one place, and this code has been in place long before this update, which makes me think something subtle changed in the iOS SDK. I've not seen anything in my searches related to anyone else experiencing this issue, so I thought posting here would

[2020-11-21 20:27] granoff commented on #589
A second similar crash is occurring too:
[code]

[2020-11-25 08:54] arturdev opened #590 "Xcode 12.2 issue with carthage"
After updating to Xcode 12.2 the PINRemoteImage is not building

[2020-12-01 11:49] Destriarch commented on #559
Still getting this issue in PINRemoteImage 3.0.3

[2020-12-03 10:13] McsimumVelocity opened #591 "PINAnimatedImageView not displaying an image in some scenarios"
In a number of places where we set the `image` property in `PINAnimatedImageView`, no image is appearing. We have traced this back to the following [line](https://github.com/pinterest/PINRemoteImage/blob/master/Source/Classes/AnimatedImages/PINAnimatedImageView.m#L124), where you clear the contents of the `UIImageView`'s layer contents. When this line is commented, the images appear correctly.

We

[2020-12-20 01:52] alex-vasenin commented on #517
We also have the same issue

[2020-12-20 02:03] alex-vasenin commented on #591
Could it be related to #517? It seems like your workaround helps with it too.

[2021-01-15 06:40] #294 closed

[2021-02-20 10:05] Daemonson commented on #533
Hey there, the example project of repo [Texture](https://github.com/texturegroup/texture) can reproduce this crash.

Download the repo, you can find out the example project in this file path: Texture-master/examples_extra/ASDKgram-Swift.

Running the project and then scroll the view as fast as you can in the ASDK tab. Now you can encounter this assertion caused by the nil value of the delegateQueu

[2021-04-13 12:43] BannaGo opened #595 "_OBJC_CLASS_$_PINWebPAnimatedImage solution"
#define PIN_WEBP    1
but occur this error:
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_PINWebPAnimatedImage", referenced from:
      objc-class-ref in libXXX.a(PINCachedAnimatedImage.o)
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

**I checked this file PINWebPAnimatedImage.m, the reason is  “#impor

[2021-04-13 18:48] duyquang91 commented on #590
The fix has been merged into master branch: https://github.com/pinterest/PINRemoteImage/pull/584
Please release a new version for this officially.

[2021-04-14 11:11] VictorZhang2014 commented on #70
@exherb  Your gist link is not found, have you moved the code snippet to another place?

[2021-04-19 20:54] daltonclaybrook commented on #590
The Carthage build fails for me even on master using Xcode 12.4. This might be related to Apple Silicon because this error appears to be:

[2021-05-05 22:41] timeview commented on #566
I am also having this issue - my pod file is using the following but I keep getting  above error
Incompatible block pointer types sending 'PINMemoryCacheObjectBlock  _Nullable __strong' (aka 'void (^__strong)(PINMemoryCache * _Nonnull __strong, NSString * _Nonnull __strong, id  _Nullable __strong)') to parameter of type 'PINCacheObjectBlock _Nonnull' (aka 'void (^)(id<PINCaching>  _Nonnull __stron

[2021-05-06 21:56] RenderHentai opened #598 "Teste"

[2021-05-06 21:56] #598 closed

[2021-05-31 11:05] dyomin-d commented on #582
I face the same security issue. Here you may find the message from Data Theorem:

The vulnerable code locations use the CC_MD hashing functions, which leverage hashing algorithms (including MD2 and MD5) that are proven to be vulnerable to [collision](https://arstechnica.com/information-technology/2012/10/sha1-crypto-algorithm-could-fall-by-2018/) attacks, and are unsuitable for modern use.

Apple

[2021-06-01 01:17] sagesse-cn commented on #582
It's not a problem just a warning. `cacheKeyForURL` also does not use MD5 for any encryption.

[2021-06-02 18:48] garrettmoon commented on #582
@sagesse-cn is correct, this *probably* isn't much of an attack vector (I suppose your app could be tricked into showing an item from the cache when it wasn't supposed to…)

That said, it's deprecated, we should move to a separate hashing algorithm. Sadly this will mean either we'll need to add support for migrate caches for folks so it won't be easy to address.

[2021-06-04 09:58] dyomin-d commented on #582
Thank you for the comment. I hope you will put it in your roadmap as it influences my app security rating.

[2021-06-15 07:59] ryuta0201 opened #601 "Load another image to a single UIImageView after one download has been completed"
Hi, I'm trying to create a function that loads non-progressive image progressively.
The URL passed to the function provides a progressive PNG image, which seems unable to load progressively even with `self.pin_updateWithProgress` option being true.

I changed the server's implementation so that the server returns low resolution image when `/128` is added to the end of the image's URL.
Then I'm try

[2021-07-01 09:36] JGwilliams commented on #590
Still occurring. WebPDecoder framework seems to be the culprit. It's not been updated since 2015 and needs to be rebuilt for arm64 to be compatible with Xcode 12. I suspect we'd get the same issue for WebPDemux too if the compiler got past this issue.

[2021-07-23 01:11] rakesthedon opened #603 "duplicate symbol prevent construction of PINRemoteImage using Carthage on apple silicon"
I try to add PINRemoteImage via Carthage to a sample app on Xcode 12 and I keep getting an error like this
[code]

I tired to open the workspace and building directly with Xcode 12.5.1 and this is what I get
[code]

can anyone help me?

I use an apple silicon Mac mini running macOS 11.5

[2021-07-23 12:59] rakesthedon commented on #603
It's seems to also be proceed c

[2021-07-24 02:50] woshimaliang opened #604 "Should set cachePolicy to NSURLRequestReloadIgnoringCacheData accordingly when PINRemoteImageManagerDownloadOptionsIgnoreCache is set"
otherwise even PINRemoteImageManager would ignore the cached response by its own cache but the ultimate networking client might still return their cached response.

Currently it works only when network stacking's cache is set to nil or disabled.

[2021-07-26 21:30] woshimaliang commented on #604
https://github.com/pinterest/PINRemoteImage/pull/605

[2021-07-26 22:09] woshimaliang commented on #604
pull request merged.

[2021-07-26 22:09] #604 closed

[2021-07-27 00:45] terminatorover opened #606 "URLProtocol.setProperty(_,forKey:in:) usage creates an error"
The following is the error logged to the console.

[code]

Previously this method `URLProtocol.setProperty(_,forKey:in:)`,  was being passed a string for the value but now it's a `PINRemoteImageWeakTask` and this works but emits the error above. Perhaps, it's best to move to the previous implementation or have the PINRemoteImageWeakTask conform to the protocol that would allow it be serializable.

[2021-08-04 20:29] rounak opened #607 "Issue with cache cost calculation for UIImage created from Core Image"
We are using PINRemoteImage's processorBlock to download an image from a URL, and then processing it using Core Image. We return `UIImage(ciImage: processedCoreImage)` in the processorBlock.

However we're hitting an NSAssert in PINRemoteImage during cache cost calculation:
[code]

It seems like this only supports UIImage that is CGImage backed, which is not the case with Core Image. Any help or g

[2021-11-14 06:37] yo1995 commented on #527
I'm also seeing this issue with Xcode 13.1 and Big Sur 11.6.1, on an Intel machine. Have no idea how to solve it except going back to pods 😞 . Since this is 1 of the only few issues we have for using SPM, it may be worth removing the dependency on `PINRemoteImage`.

[2021-11-14 06:59] sagesse-cn commented on #527
@yo1995 I just tested SPM with 3.0.0 PINRemoteImage and it works, maybe you should provide a demo project to reproduce the problem.

[2021-11-14 07:06] yo1995 commented on #527
Thanks. Tested on a newly created project and it does work, despite the warnings from the cache module. Will need some time to poke around and see why it came up.

[2021-11-16 04:11] jueduibishi opened #612 "ios10 crash"
0   CoreFoundation                      0x000000018cf16ff8 <redacted> + 148
	1   libobjc.A.dylib                     0x000000018b978538 objc_exception_throw + 56
	2   CoreFoundation                      0x000000018cf16eb4 <redacted> + 0
	3   Foundation                          0x000000018d9af760 <redacted> + 112
	4   Shiny                               0x0000000100e04abc -[PINURLSessionManager URL

[2021-11-16 06:42] soumyamahunt commented on #589
@granoff are you still facing this issue?

[2021-11-16 13:52] granoff commented on #589
No, but I also stopped using this library. Can't say if the problem persists or not. Sorry!

[2021-11-22 18:32] garrettmoon commented on #612
Are you able to reproduce this? Can you provide steps?

[2022-02-28 15:34] #603 closed

[2022-03-02 18:30] hovox opened #619 "Project future/roadmap, slow response times"
hey @garrettmoon , is PINRemoteImage is still relevant to you and Pinterest? You are very passive here and it makes a felling that project is dead or almost dead. Maybe you can transition the project to someone else in that case or please let us know what you think about it ? We use it and all PRs and suggestions hanging and waiting months or years to your response.

Sorry if I sound offending, I

[2022-03-02 18:59] #612 closed

[2022-03-02 19:38] garrettmoon commented on #619
Hey @hovox PINRemoteImage is definitely still relevant to Pinterest and me 😅

Sorry for the slow responses on PRs – is there one in particular that is blocking you?

[2022-03-03 03:56] hovox commented on #619
hey , thanks for the response :)

[2022-03-03 17:39] garrettmoon commented on #619
I'm happy to merge it once a unit test case is added!

[2022-04-25 08:30] nikhil-zomato opened #620 "SPM integration not working on Xcode 13.1"
I am using PINRemoteImage(3.0.3) with SPM inn my project. However, it is failing again and again with the error below:
<img width="1332" alt="Screenshot 2022-04-25 at 1 57 56 PM" src="https://user-images.githubusercontent.com/67953107/165050917-da0ad32b-1b0d-412f-93dd-aacad83b89cf.png">

[2022-04-25 10:01] #620 closed

[2022-04-25 10:01] nikhil-zomato commented on #620
Resolved after updating swift toolchain version to 5.3

[2022-06-08 22:50] rounak opened #621 "PINRemoteImageWeakTask memory leak"

[2022-09-09 12:34] oferRounds opened #622 "Question: AVIF support"
Hi!
Any plans add support for the AVIF format? I see that it’s support is now also [coming on safari on iOS 16](https://www.cnet.com/tech/mobile/apple-endorses-new-avif-photos-for-a-faster-web-on-ios-16/)

[2022-09-30 07:37] #542 closed

[2022-10-23 20:05] mr-fixit commented on #619
I'm in a similar situation as @hovox, except the fix I need (93428e8b6e79) has already been merged to `master`.

If you could tag and release 3.0.4 (or call it anything you like), in particular the SPM package, it would be appreciated.

[2022-10-29 19:40] mr-fixit opened #624 "Need a new release"
I need an SPM package of PINRemoteImage that includes this commit (https://github.com/pinterest/PINRemoteImage/commit/93428e8b6e797d27d1f57425937c0e094d0f4ad8)/

If you could tag and release 3.0.4 (or call it anything you like), it would be appreciated.

[2022-11-22 15:09] mr-fixit commented on #624
I'd dearly love to ship an SPM compatible version of NYTPhotoViewer, but need a new release of PINRemoteImage to do it.

I could switch to using FLAnimatedImage, but would rather not.