[2015-07-24 21:01] ZevEisenberg opened #1 "Category methods should be prefixed"
In order to avoid possible name collisions, category methods on Objective-C objects should be prefixed: [https://developer.apple.com/library/ios/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/CustomizingExistingClasses/CustomizingExistingClasses.html](source) via [http://nshipster.com/namespacing/](NSHipster). Instead of:

[code]

it should be:

[code]

[2015-07-24 21:03] garrettmoon commented on #1
Sounds good! Want to submit a pull request :)

[2015-07-24 21:12] ZevEisenberg commented on #1
I would be delighted. It's going to be a breaking change, but since you just released, you might be able to skirt the "breaking changes should bump the major version" guideline. Worth considering, though.

[2015-07-24 21:28] garrettmoon commented on #1
It would, maybe mark the old versions as deprecated and we'll remove them in the next release?

[2015-07-24 21:55] ZevEisenberg commented on #1
Good idea.

[2015-07-24 22:08] garrettmoon commented on #1
Awesome! Looking forward to the PR

[2015-07-25 01:14] ZevEisenberg opened #5 "Set up to build on Travis CI"
Since you've got some unit tests, it would be good to get them running on Travis to make sure they keep passing through merges.

[2015-07-25 17:07] garrettmoon commented on #5
Indeed, good idea! I'll see what we can do.

[2015-07-26 22:07] jaredsinclair commented on #1
👍🏻

[2015-07-26 22:10] jaredsinclair opened #6 "Consider using module-style imports for Foundation and UIKit, to fix this bug..."
<img width="905" alt="screen shot 2015-07-26 at 6 08 31 pm" src="https://cloud.githubusercontent.com/assets/720600/8896158/6c9fba4e-33c1-11e5-8095-6c756473a858.png">

I'm not using CocoaPods, just imported the files manually from a submodule. Xcode 7 Beta 4. Swift project so there's no .pch file to auto-import UIKit everywhere.

[2015-07-26 22:12] garrettmoon commented on #6
Good point! If you're willing to submit a pull request, I'll get it merged in on Monday!

[2015-07-27 12:17] donnywals opened #8 "Error when trying to use webp"
I have a Swift project that includes PINRemoteImage and webp. When I try to build my project I get this error:

[code]

I'm not sure where to go hunting for what exactly is wrong.. I've cleaned my project a bunch of times, deleted Derived Data, etc. No luck so far :(

[2015-07-27 16:30] jparise commented on #6
Fixed by #7.

[2015-07-27 16:30] #6 closed

[2015-07-29 15:56] #1 closed

[2015-07-29 15:56] garrettmoon commented on #5
This is set up now!

[2015-07-29 15:56] #5 closed

[2015-07-29 15:57] garrettmoon commented on #8
Have you tried just including WebP by itself to eliminate PINRemoteImage as the cause?

[2015-07-30 08:07] donnywals commented on #8
@garrettmoon sorry, I meant to update this ticket but totally forgot about it... I think libwebp is the culprit because when my app does compile there's still a warning for libwebp about multiple build commands and PINRemoteImage doesn't recognize the existence of libwebp. So I'll close this ticket, I don't think PINRemoteImage is to blame here..

[2015-07-30 08:07] #8 closed

[2015-08-01 16:14] ZevEisenberg opened #19 "Readme and code are out of sync"
I updated the readme in #3, but because there has not been a new release, the readme currently recommends using methods that are not available in the 1.0 release, which anyone using CocoaPods will be using.

[2015-08-01 16:29] garrettmoon commented on #19
Looking to do a . release soon :)

[2015-08-02 01:22] garrettmoon commented on #19
Dot release complete, looking to push new pod spec soon, however: https://twitter.com/garrettmoon/status/627650447537389568

[2015-08-03 03:33] chiahsien opened #22 "Can we make FLAnimatedImage optional?"
For now, `FLAnimatedImage` is set as a dependency in podspec, is it possible to make it optional? Maybe make it a subspec?

[2015-08-03 13:29] donnywals opened #23 "Image not found but error is (null)?"
When I attempt to load an image at an invalid URL and the completion block is called I would expect the error to contain information about why the image didn't load. Instead both the error and image contain `(null)`. Shouldn't a 404 result in a valid error?

console output when printing result:
[code]

[2015-08-03 17:54] garrettmoon commented on #23
Yup, it probably should!

[2015-08-03 17:55] garrettmoon commented on #22
I'd be happy to accept a pull request that made it optional!

[2015-08-04 09:53] angelolloqui opened #25 "Carthage support"
It would be nice to have carthage support. Not sure about the exact requirements, but I believe it needs to have a framework target.

[2015-08-04 18:43] garrettmoon commented on #25
I'd love to add Carthage support, if you're interested in writing a pull request, I'd happily accept :)

[2015-08-04 19:15] dcaunt commented on #25
See [Supporting Carthage for your framework](https://github.com/Carthage/Carthage#supporting-carthage-for-your-framework)

This involves creating an Xcode project with framework targets and sharing the schemes. Having the project file will generally benefit those not using CocoaPods. I may have a stab at this if I get time.

[2015-08-05 15:25] garrettmoon commented on #19
Finally got the new pod spec up!

[2015-08-05 15:25] #19 closed

[2015-08-05 15:25] garrettmoon commented on #19
Please reopen if I missed something.

[2015-08-05 15:43] ZevEisenberg commented on #19
I would remove the merge details from the past release names, but otherwise looking good!

[2015-08-05 15:45] ZevEisenberg opened #28 "For 2.0, delete un-prefixed (deprecated) methods"
Putting this here so it's not forgotten whenever 2.0 happens. Feel free to close if you prefer to track it another way.

[2015-08-05 21:00] garrettmoon commented on #28
:+1:

[2015-08-05 21:34] pmcatominey commented on #25
Looking into this, it appears we'll need FLAnimatedImage to be available through Carthage first.

I've started playing with this in my fork.

[2015-08-06 05:15] xhzengAIB opened #29 "How to make the loading picture is blur?"
Hi! @garrettmoon

Like this gif loading picture effect:

https://github.com/pinterest/PINRemoteImage/blob/master/progressive.gif

Jack

[2015-08-06 15:33] garrettmoon commented on #29
Well, the image has to be a JPEG that is progressively encoded. Then it's just as the docs say:

UIImageView *imageView = [[UIImageView alloc] init];
[imageView pin_setUpdateWithProgress:YES];
[imageView pin_setImageFromURL:[NSURL URLWithString:@"http://pinterest.com/progressiveKitten.jpg"]];

You can see it in action by downloading the example app.

[2015-08-06 15:33] #29 closed

[2015-08-07 02:43] xhzengAIB commented on #29
Thank！
Need specific photo element to reach the blur effect

[2015-08-07 08:06] alexvimpekable opened #30 "Feature request: pre-build framework (or static library)"
Hi,

Your library is awesome! Yesterday I've replaced our own simple caching solution with PINRemoteImage and our app http://marqueemoviesapp.com got a really noticeable speed boost. But I can't say that was easy thing to do and IMHO most of the developers does not want to fiddle with sources and spend their time building external libraries.

Could you consider providing PINRemoteImage as a framew

[2015-08-07 08:57] alexvimpekable commented on #23
This also the case if url is nil

[2015-08-07 13:43] dcaunt commented on #30
Related: Carthage support #25

[2015-08-07 16:11] fonkadelic opened #31 "Change image cache class"
I would like to use multiple image caches with different parameters (e.g. `ageLimit`). What is the preferred way to accomplish this?

Subclassing `PINRemoteImageManager` is not that easy, because it's shared instance is used for all view categories.

[2015-08-07 17:41] garrettmoon commented on #31
This would require a pretty big change. One idea I had while writing the library was to have a caching delegate. This could move us towards removing the dependency on PINCache which would also be a nice benefit. Happy to see a pull request!

[2015-08-07 17:42] garrettmoon commented on #30
Yeah, I think we're likely to add Carthage support as it would get us most if not all of the way there.

[2015-08-08 09:23] itspradhan opened #32 "Images mixed up while using with UICollectionView"
When Collectionview reuses the view then images get mixed up.
Let suppose there is cell A, and code made a request for IMG_URL_1 that is 43KB It will take time to load CollectionView while scrolling reuses cell A again and this time code made a request for IMG_URL_6 for this cell, and this image is only of 6KB, so it will load faster while IMG_URL_1 still in loading process. First view gets update

[2015-08-08 09:41] itspradhan commented on #32
Found placeholder image which fixed it.

cell.OfferImage.pin_setImageFromURL(imageURL, placeholderImage:(UIImage(named: "placeholder.png")))

[2015-08-08 09:41] #32 closed

[2015-08-10 01:28] gnanaprakash opened #33 "Understanding addImages method"
I'm new to iOS and likely going to use this library, trying to understand addImages method implementation, could see that add kitten object is added using main thread? why not directly add in it async block like mentioned below?

addImages {
                ....
                kitten.imageURL = kittenURLs[kittenIdx];
                kitten.imageSize = CGSizeMake(width / scale, height / scale);

/

[2015-08-10 06:32] chiahsien opened #34 "Feature request: progressive jpeg on iOS 7"
I dig into the source and try to disable iOS 8 checking, but my app crashes when displaying the jpeg.
I try to fix this but failed.
Is there any ways to support progressive jpeg on iOS 7?

[2015-08-10 09:10] dcaunt commented on #25
I have `PINRemoteImage.framework` building locally with Carthage but I don't think it can work for Carthage users until FLAnimatedImage merges in https://github.com/Flipboard/FLAnimatedImage/pull/79.

In the meantime I can PR the framework support with FLAnimatedImage as a submodule which would solve https://github.com/pinterest/PINRemoteImage/issues/30.

[2015-08-10 09:51] lexrus opened #35 "Set FLAnimatedImage as an optional dependency"
Since they don't update FLAnimatedImage for a while. The [issues list](https://github.com/Flipboard/FLAnimatedImage/issues) just getting longer. And it's [not compatible with Swift project](https://github.com/Flipboard/FLAnimatedImage/issues/75). I'd recommend set FLAnimatedImage as an optional dependency.

[2015-08-10 17:36] mheras commented on #34
I also need this in iOS7! Please!!

[2015-08-10 19:55] garrettmoon commented on #35
This is a duplicate of #22

[2015-08-10 19:55] #35 closed

[2015-08-10 19:58] garrettmoon commented on #25
@dcaunt Awesome! Do you mean #22 ? It'd be great for the project if FLAnimatedImage could be optional!

[2015-08-10 19:59] garrettmoon commented on #33
It's just out of laziness. If we do everything on one thread, the main thread in this case, we don't have to worry about thread safety. Otherwise we would have had to create some kind of thread synchronization method to make sure the asynchronous operations didn't happen at the same time and clobber tmpKittens.

[2015-08-10 19:59] #33 closed

[2015-08-10 20:02] garrettmoon commented on #32
Out of curiosity, were you using setImageFromURL or were you downloading the images directly and setting them on the image view. If you were doing the former, this shouldn't have happened, regardless of if there is a placeholder image set.

[2015-08-11 01:32] itspradhan commented on #32
Hi Garrett,

I was using pin_setImageFromURL method as I was getting error while using setImageFromURL method. But I wasn't downloading the images directly and setting them on image view.

[2015-08-11 02:12] garrettmoon commented on #32
That sounds like a real bug then, do you think you could send a sample project to garrett@pinterest.com? It'd be greatly appreciated :)

[2015-08-11 03:04] itspradhan commented on #32
Sure Garrett I would be happy to help I will send them to you by tmr :)

On Tue, Aug 11, 2015 at 10:12 AM, Garrett Moon <notifications@github.com>
wrote:

[2015-08-11 05:04] gnanaprakash commented on #33
Thanks Garrett. Got it.

[2015-08-11 08:50] dcaunt commented on #25
Sorry, I'll try to explain this more clearly.

There are three issues here:
#22 FLAnimatedImage is a non-optional dependency
#25 Carthage support (this issue)
#30 Framework target

Carthage support depends on #30 – we can't support building via Carthage without a framework. In terms of building a PINRemoteImage.framework, we need to add an xcodeproj, and link to FLAnimatedImage somehow. As FLAnima

[2015-08-11 08:55] pmcatominey commented on #25
@dcaunt Split FLAnimatedImage support into a separate repo, setup to depend on PINRemoteImage for both CocoaPods and Carthage?

[2015-08-11 09:40] dcaunt commented on #25
That makes sense, I was looking for a way to keep everything together in one repo but I think a separate repo would be more straightforward.

[2015-08-11 14:35] Mattr-eden opened #36 "use of @import when modules are disabled"
Not sure if it's because I'm developing in swift using a bridging header, or because my project is running on top of Unity but the @import lines at the top of some of your source code cause the error "use of @import when modules are disabled". I've gone through my project settings as well as the cocoapods settings and enabled modules but I eventually had to go through and hack out the @import with

[2015-08-11 18:04] garrettmoon commented on #25
Hmm, let's see if we can't get FLAnimatedImage to support Carthage. I'll try and contact the author to get https://github.com/Flipboard/FLAnimatedImage/pull/79 merged in.

[2015-08-12 22:23] garrettmoon commented on #36
Thanks for reporting this! I'm going to close the issue because you're suggesting it's probably unity, but if anyone else stumbles upon this and can attribute it to PINRemoteImage, please re-open.

[2015-08-14 19:37] waltflanagan opened #39 "Decoded images ignore image orientation"
Using UIImageView `-pin_setImageFromURL:` and related methods lose orientation metadata and display incorrectly.

This seems to be because that are decoded using `pin_decodedImageWithCGImageRef:` don't take the images orientation into account when drawing the CGImageRef into the context.

Repro steps:
[code]

That image was taken with an iPhone 6, portrait orientation.  It appears rotated when set

[2015-08-14 21:53] garrettmoon commented on #39
Awesome, thank you for the pull request!

[2015-08-16 14:58] Sega-Zero opened #41 "deprecation warning when deployment target is ios8"

[2015-08-16 15:05] garrettmoon commented on #41
There's a runtime check to make sure it only gets called on iOS 7 or below. Maybe we should wrap in a pragma warning suppressor.

[2015-08-16 15:09] Sega-Zero commented on #41
Suppressing warnings is not a good way. I think a better solution would be wrapping in
[code]
so this code will never gets included in ios8+ apps

[2015-08-17 03:58] garrettmoon commented on #41
@Sega-Zero Hmm, but what if you want to support iOS 7 & 8? It only compiles one way or the other, thus the need for a runtime check?

[2015-08-17 05:52] Sega-Zero commented on #41
If deployment target is lower than ``_IPHONE_8_0``, the code will be included and the deprecation warning will not be shown. That code will not throw an exception, for now it is just a warning, that ``threadPriority`` should no longer be set manually. There is a better way for this in ios8: the new ``qualityOfService`` property.

[2015-08-17 21:14] garrettmoon commented on #41
We were already using qualityOfService with a runtime check :) I've submitted a PR that addresses the warning.

[2015-08-17 21:24] #41 closed

[2015-08-18 01:30] JaredCrawford opened #43 "Support for custom HTTP request headers"
If an application is required to set additional HTTP headers on image requests, I don't see a way to either supply an ```NSURLRequest``` for each image request (with the appropriate headers already set) or to add the headers globally to all requests.

As one solution, ```PINRemoteImageManager``` uses ```[NSURLSessionConfiguration defaultConfiguration]``` in its initialization. If ```PINRemoteImage

[2015-08-18 01:34] garrettmoon commented on #43
Good idea! Would be happy to entertain any pull requests that implement this.

[2015-08-20 13:40] garrettmoon commented on #39
Fixed by #40

[2015-08-20 13:40] #39 closed

[2015-08-27 14:04] aleksgapp commented on #36
+1 Faced the same issue with Objective-C++ project without unity.

[2015-08-27 17:19] garrettmoon commented on #36
Lame, looks like modules aren't available with objective c++

I'll have to think about a solution, I'm open to suggestions :)

[2015-08-27 22:00] aleksgapp commented on #36
You can use standard `#import`, as it will be automatically mapped to an `@import` if modules are enabled. So there is no need to use `@import` explicitly. See [this](http://clang.llvm.org/docs/Modules.html#includes-as-imports).

Also I found [this](http://stackoverflow.com/a/20708695/1752675) old answer on stackoverflow that point to some experimental command-line parameter for llvm.
[code]
Howev

[2015-08-27 22:10] garrettmoon commented on #36
Great! Mind putting up a pull request? Preferably with the #import, not the experimental very broken :)

[2015-08-28 02:46] exherb commented on #25
Flipboard/FLAnimatedImage#79  has been merged.

[2015-09-03 05:23] eJamesLin opened #48 "Check whether image is downloaded completed before pin_setImageFromURL"
Is there a way to check a given url image is loaded before actually download it using "pin_setImageFromURL"?
The usage model is to load thumbnail image as placeholder, but if actual image is downloaded before and is already in cache, use actual image directly.
Thank you .

[2015-09-03 18:16] garrettmoon commented on #48
Hi @eJamesLin the library handles that all automatically! It will pull the image from the cache if it exists when you call pin_setImageFromURL. There's also a pin_setImageFromURL placeholder: method.

[2015-09-03 18:16] #48 closed

[2015-09-03 18:18] garrettmoon commented on #48
If you need to directly check if the image is in the cache, you can check the cache directly (the code below may not compile, it's an approximation from the top of my head):

[code]

[2015-09-04 06:29] eJamesLin commented on #48
Thank you @garrettmoon !

[2015-09-10 12:58] crossle opened #50 "How about support OS X?"

[2015-09-10 16:52] garrettmoon commented on #50
Sounds like a great idea! Shouldn't be too much work, though I think it would be best to make FLAnimatedImage optional first. Happy to accept any pull requests adding support for OS X.

[2015-09-10 22:53] #23 closed

[2015-09-12 23:35] babatripathy opened #54 "Swift version"
Do you have any example with Swift?

[2015-09-12 23:35] #54 closed

[2015-09-12 23:40] babatripathy opened #55 "Swift example"
Do you have any example with Swift?

[2015-09-13 08:34] reinholdB opened #56 "Don't load image from cache"
My server unfortunately returns the same image URL even if the picture is updated. Therefore I somehow need to skip the cache when loading an image. Could you please help me how this can be done?

I tried to clear the cache before loading the image:
[code]
Nevertheless the image is returned from the cache.

[2015-09-14 15:40] #43 closed

[2015-09-15 03:27] exherb opened #59 "Download Progress"
Is there any way to get how many data has been downloaded?

[2015-09-15 03:28] exherb opened #60 "SVG support"
Is that even possible?

- https://github.com/arielelkin/PocketSVG/
- https://github.com/SVGKit/SVGKit

[2015-09-15 03:30] jparise commented on #59
Yes. Have a look at the `progress:` argument that is available on many of the download methods.

[2015-09-15 03:44] exherb commented on #59
@jparise but I can't figure out how to caculate the progress percentage.

[2015-09-16 18:55] alexvimpekable opened #61 "Xcode 7 warnings "Method override for the designated initializer not found""
Both PINCache and PINDiskCache triggers Xcode 7 warnings "Method override for the designated initializer of the superclass '-init' not found". They should probably just return shared instance on `init` or it might be marked as NS_UNAVAILABLE.

[2015-09-16 20:06] jparise commented on #61
Those were fixed by pinterest/PINCache#25. We should do a new PINCache release shortly, and once that's out, we'll update the PINCache dependency in PINRemoteImage.

[2015-09-17 19:28] alexvimpekable commented on #30
Guys, it's a pain to strip all examples, docs and other non-essential stuff from the sources if you don't using pods. Framework?

[2015-09-21 22:07] jparise commented on #61
[PINCache 2.1](https://github.com/pinterest/PINCache/releases/tag/2.1) has been released with a fix for this. We should also updated PINRemoteImage's PINCache dependency.

[2015-09-22 09:01] #60 closed

[2015-09-22 09:50] #59 closed

[2015-09-22 15:02] garrettmoon commented on #60
It's definitely possible, you'd basically need to write a category on UIImage which drew SVG into a UIImage from SVG data.

[2015-09-22 16:55] garrettmoon commented on #55
Check out this article: https://littlebitesofcocoa.com/51

[2015-09-22 16:55] #55 closed

[2015-09-22 17:05] garrettmoon commented on #56
The call to profileImage.pin_cancelImageDownload() makes me suspicious.

Here's a situation that can happen with the above code.
Lets say you've called pin_setImageFromURL with a URL. Let's say it's not in the cache, so it goes off and downloads the image.

Now lets say you run the above code. Clearing the cache does nothing because the image isn't in there yet.

Then, you cancel the image downloa

[2015-09-22 17:13] garrettmoon commented on #30
@alexvimpekable would happily accept a pull request!

[2015-09-22 17:15] garrettmoon commented on #61
Updated to 1.2 with PINCache 2.1 dependency.

[2015-09-22 17:15] #61 closed

[2015-09-22 17:16] garrettmoon commented on #56
Hopefully this helps, feel free to re-open if this doesn't explain your issue.

[2015-09-22 17:16] #56 closed

[2015-09-30 11:51] kerrmarin opened #63 "Fast scrolling with a lot of images causes excessive memory usage"
Hi,

I have an iPad app where I show rows of 4 (relatively large: width: 920px; height: 1380px;) images on an iPad inside a collection view. This leads to, when scrolling moderately rapid, excessive memory usage and eventually a crash (on physical devices). An example instruments call tree:

![pasted_image_at_2015_09_28_16_57_720](https://cloud.githubusercontent.com/assets/2995710/10190913/d7078e5

[2015-09-30 13:46] nap-sam-dean commented on #36
Hi everyone.

I've made a pull request that I think is what you're after : https://github.com/pinterest/PINRemoteImage/pull/64 - let me know if that's ok :)

[2015-09-30 16:39] rcancro commented on #63
It looks like your collection view cells aren't actually being reused. Try adding an empty dealloc method to PINTestCollectionViewCell and putting a break point in there. It never hits.

If the cells aren't being dealloced, then the images aren't either. Eventually this will lead to OOM exception.

[2015-09-30 16:52] kerrmarin commented on #63
I don't _think_ that's the issue. `dealloc` isn't called because the cells are reused, not `dealloc`ed. Presumably if this controller was popped, then dealloc would be called.

[2015-09-30 17:10] garrettmoon commented on #63
What type of iPad are you testing on? Does it happen with all devices, just at different times?

[2015-09-30 17:17] kerrmarin commented on #63
Hi @garrettmoon I've tested on an iPad Mini (non retina) on iOS 7 (the one that produced the crash log aboce) and on an iPad (retina) on iOS 8. It happens on both devices but I don't have a specific time at which this happens, simply after scrolling .

[2015-09-30 20:57] garrettmoon commented on #63
I'll take a look and see if I can't reproduce it on my local test device and investigate :)

[2015-09-30 21:21] garrettmoon commented on #63
Ok, so here's the issue, we're not receiving memory warnings. Why? This stack overflow has some explanations:

http://stackoverflow.com/a/10009151/262648

It may be that we should set a default memory limit on the PINMemoryCache instance that PINRemoteImage uses and I'd be happy to accept a pull request that had some considered reasoning along with it.

In the meantime, you should be able to preve

[2015-09-30 21:22] garrettmoon commented on #63
Feel free to open this back up if you think there may be another issue going on here.

[2015-09-30 21:23] garrettmoon commented on #63
The calculation of cost for images stored into the cache could also be improved :)

[2015-09-30 21:34] kerrmarin commented on #63
Thanks for the quick replies. I'll have a look tomorrow morning.

Great stuff :+1:

[2015-09-30 22:04] garrettmoon commented on #36
I think it should too!

[2015-09-30 22:04] #36 closed

[2015-10-01 07:52] kerrmarin commented on #63
Hi @garrettmoon -- I've made the changes (even set the cost limit to 1 image of 1000 * 1000) and I can still reliably reproduce the crash. I'll investigate further and report back. In the meantime, I'll re-open this issue.

[2015-10-01 17:18] garrettmoon commented on #63
I don't have a low end device to test on, however I'm betting that this has to do with the size of the images being so large and trying to display them all at once. By the way, you'll get huge performance wins if you download images that are the correct size, both in data and scrolling perf.

[2015-10-01 17:18] garrettmoon commented on #63
Re-opened for you.

[2015-10-02 06:42] kerrmarin commented on #63
Thanks Garrett. It doesn't necessarily have to be a low-end device. I've managed to get it to crash on an iPhone 6 also. I don't think it has to do with the amount of memory used, but with the speed at which the memory usage increases (e.g. many images decoding at the same time?) which would explain why limiting the memory cache to just one image doesn't cut it either. Yes, having the right image

[2015-10-02 14:57] garrettmoon commented on #63
Sure! The speed at which it's decoding the images definitely could be an issue. Here's something to try:

- (void)setMaxNumberOfConcurrentOperations:(NSInteger)maxNumberOfConcurrentOperations
                                completion:(dispatch_block_t)completion;

Change that to a small number and see if that addresses the issue (possibly in conjunction with the change in cache size). It's set to

[2015-10-08 01:34] adamsp opened #68 "Receiving resultType of PINRemoteImageResultTypeDownload when offline and no image is downloaded"
I expect that when I get a result in my completion block with a non-nil `error`, and a nil `image`, the `resultType` should be `PINRemoteImageResultTypeNone` - no image was downloaded, after all.

However, with my iPad in Airplane mode, I get `PINRemoteImageResultTypeDownload`.

This happens because the result type is [assumed to be a successful download if a cache miss occurs](https://github.com/

[2015-10-08 16:25] AdamBCo commented on #59
@exherb how did you go about accomplishing this?

[2015-10-08 17:35] waltflanagan opened #69 "The podspec published for 1.2 points to tag 1.1.2"
See [here](https://github.com/CocoaPods/Specs/blob/master/Specs/PINRemoteImage/1.2/PINRemoteImage.podspec.json#L12)

Similarly, the podspec at tag 1.2 has the incorrect version.

[2015-10-09 17:09] garrettmoon commented on #69
Thanks for pointing this out. I *think* it's fixed with 1.2.1

[2015-10-09 17:09] #69 closed

[2015-10-09 18:03] garrettmoon commented on #59
@exherb I don't think there is a way to actually calculate the percentage of a download yet, the method @jparise points out gives you progressive renders, but not the amount of data loaded. Please feel free to open up a new issue of your own and we can track it there.

[2015-10-09 22:37] AdamBCo opened #70 "Ability to track download progress"
Is there a way to track the download progress of a remote image?

For example, I would like to show a progress bar atop a UIImageView that shows the image is downloading from the web.

Issue #59 referred to it, but I think it was answered in reference to progressive renders as opposed to download percentages.

[2015-10-10 02:29] exherb commented on #70
here https://gist.github.com/exherb/e0ad899fe5d3fc7ea2b3

[2015-10-10 15:08] garrettmoon commented on #70
@exherb Nice! An easy way to solve the issue without modifying the library any :)

If we were to add this functionality to PINRemoteImage, my suggestion would be to add a progress percentage to PINRemoteImageManagerResult and modify how the progressive progress method calls back to have an option to disable progressive renders and to call back every time it gets data, not just when it has a progre

[2015-10-10 18:53] garrettmoon commented on #68
It would be nicer to return PINRemoteImageResultTypeNone. I'd happily accept a pull request!

[2015-10-10 18:54] garrettmoon commented on #63
Hey @kerrmarin I'm going to close this issue, let me know if you feel it should be reopened.

[2015-10-10 18:54] #63 closed

[2015-10-10 19:15] adamsp commented on #68
Great, I'll get one your way this weekend.
On 10 Oct 2015 14:53, "Garrett Moon" <notifications@github.com> wrote:

[2015-10-11 17:15] #68 closed

[2015-10-13 20:51] bdorfman opened #72 "Using PINRemoteImageManager's initWithSessionConfiguration"
I am unclear on how you are supposed to use the `initWithSessionConfiguration` init on `PINRemoteImageManager`, as there is no way to get your init'd manager into the result of the `sharedImageManager` method, which is used by several methods in `PINRemoteImageCategoryManager`. Possibly I am just not understanding its intended usage, but it seems like you need to either have a way to change/set th

[2015-10-13 20:57] bdorfman opened #73 "Readme missing instructions on setting up PINCache"
This library relies on PINCache, but there are no instructions in the Readme that it needs to be added to your project or how to do so properly. Presumably it is set up for you if you are using Cocoapods, but further documentation should be added to the git submodules section.

[2015-10-14 23:34] garrettmoon commented on #73
Yeah, we've always used cocoa pods. Would happily accept a pull request to provide others with more info!

[2015-10-14 23:37] garrettmoon commented on #72
That's a very good point. We should probably add a method for subclasses to specify the manager?

[2015-10-14 23:40] bdorfman commented on #72
Not sure the best way to go about it. Possibly setting a "default" session configuration should be a class method and sharedImageManager will use that one the first time it creates the singleton? Or you could just have something like +setSharedImageManager that will let you use the specified instance for calls to shared.

[2015-10-14 23:42] bdorfman commented on #73
Xcode is very confusing and I have not even been able to get it to work at all by dealing manually with submodules. -_- Trying to get PINCache working via Carthage now, may send you a pull request adding Carthage support to PINRemoteImage depending on my success.

[2015-10-14 23:46] garrettmoon commented on #73
If you succeed, that would be awesome!

[2015-10-15 16:35] mRs- opened #76 "Prefetching with many images is memory intensive and is crashing the App"
I would like to prefetch as many pictures as possible for my application tried the `PINRemoteImageManager.sharedImageManager().prefetchImagesWithURLs()` function.

But at the Moment my App is crashing from watchdog because of heavy memory usage. I got 133 Images to prefetch and some of theme are high quality pictures (2001x1334).

I switched from SDWebImage to PINRemoteImage to resize the pictures

[2015-10-15 16:55] garrettmoon commented on #76
Yeah! There's two strategies. One is to limit the size of the memory cache (pseudocode, not near an Xcode):

[code]

You can also limit the amount of memory used at one time by limiting the number of threads that can process images:

[code]

Hope this helps.

[2015-10-15 16:55] #76 closed

[2015-10-15 17:02] mRs- commented on #76
I will look into this :)

And the possibility to scale the images?

At the moment i am doings something like this:

[code]

[2015-10-15 17:03] garrettmoon commented on #76
Yup, that's how you scale images currently :) If you'd like to write a category method that does something like this, I'd be happy to take it as a pull request.

[2015-10-15 17:41] mRs- commented on #76
thanks :)

[2015-10-16 15:51] 1taypan opened #78 "PINDiskCache.m:148:33: 'CFURLCreateStringByAddingPercentEscapes' is deprecated: first deprecated in iOS 9.0"
- Use [NSString stringByAddingPercentEncodingWithAllowedCharacters:] instead, which always uses the recommended UTF-8 encoding, and which encodes for a specific URL component or subcomponent (since each URL component or subcomponent has different rules for what characters are valid).

[2015-10-16 15:53] jparise commented on #78
This is being tracked as pinterest/PINCache#28.

[2015-10-16 16:15] #78 closed

[2015-10-19 14:56] mRs- opened #79 "Memory Leak in UIIMage(PInDecodedImage)"
I maybe found a memory leak in the current implementation of decoding the images. It's clearly visible when you try to decode big images (2000x1000 px). The CG raster data in VM memory size is really high for each of my pictures (10,2 MB). And if I relaunch the app with local cached images the cg raster data for the image is only 1.34 MB each.

I can reproduce it myself when I try to scale my imag

[2015-10-19 17:55] farhanpatel opened #80 "Placeholder Image not set when URL is nil."
When using a PinRemoteImageCategory (UIImageView) if you set a placeholderImage and provide an invalid URL. The invalid url causes the UIImageView to set the image to nil removing the placeholder image.

I would expect the behaviour to instead set the placeholder Image regardless of if the url is a valid or not.

I can submit a PR with a fix. If this is something you guys would liked fixed.

[2015-10-19 18:20] #80 closed

[2015-10-19 20:43] garrettmoon commented on #79
@mRs-

By my rough calculations, an 2000 x 1000 image that's decompressed should be 8MB in size. So you're 'local' storage image may be compressed still? I.e. in JPEG or PNG and not BMP form? The decodedImageWithCGImage intentionally changes JPEG, etc to BMP to aid in drawing speed (to aid in fast scrolling for example).

So the ~10MB size sounds correct to me. Am I missing something else?

[2015-10-20 05:27] mRs- commented on #79
When I set a image with PINRemoteImage there are following steps that are made:

## Download, Decompress, Cache and Display ##
1. Download the Image
2. Decompress the Image
3. Save the Image to cache
4. Display Image

With this approach the 2000x1000 image is holding like ~10 MB in CG raster data.

## Find local File in Cache and Display ##
1. Check the cache
2. Find the Image
3. Display Image

Wi

[2015-10-20 19:50] kerrmarin commented on #79
Could this be related to #63 ?

[2015-10-20 21:00] garrettmoon commented on #79
@kerrmarin I don't think it is, if you follow the mitigation techniques I describe, the app doesn't crash, responds to the memory warning and it *doesn't* continue to grow in size. I think this issue is incorrectly described as a memory leak.

[2015-10-20 21:19] garrettmoon commented on #79
But I could be wrong too! I plan to investigate the difference between disk access and network access when I get a chance.

[2015-10-21 06:39] mRs- commented on #79
Maybe we need a method to decode the images without using so much memory. Maybe a switch to CGImageSource would be a solution.

[2015-10-21 15:47] garrettmoon commented on #79
@mRs- It's not actually decoded if it's using any less memory :) The point of decoding it is so that the GPU doesn't have to decode it later, on the main thread (when it could cause stutters in scrolling). If it's in anything but bitmap format (which is a set number of bytes per pixel and therefore directly correlated with image size), it'll have to do that.

You *can* actually disable decoding of

[2015-10-22 07:52] mRs- commented on #79
Disabling decode is not an option for my current solution, because the images are big and I don't want to do this on the main thread.

Decoding images with UIKit is not the best option we have here. UIKit is doubling the costs of decoding the image, which leads in a memory spike.

I think a better solution is to go with `ImageIO` and the workflow would be something like that.

1. check image for m

[2015-10-24 00:14] garrettmoon commented on #79
Cool! I haven't had a chance to see why there's a difference between reading from disk vs network. If you do come up with a change that reduces memory usage, that'd be amazing.

Something that may help your development: there's a unit test called testDecoding which tests the time it takes to draw an image when decoding is skipped vs when it's not. So any change you make that reduces memory usage *

[2015-10-24 08:40] lqcjdx opened #85 "It's a great project but difficult to use"
As you say how to use:
Installation
Manually
Download the latest tag and drag the PINRemoteImage folder into your Xcode project.
Install the docs by double clicking the .docset file under docs/, or view them online at cocoadocs.org

First,i tried clone in desktop directly,but find the Contents is so complex that i do not know  how to 'drag the PINRemoteImage folder into your Xcode project'  .

The

[2015-10-24 10:50] mRs- commented on #79
Awesome, then I will give this definitely a try would be awesome to achieve something like that in this library

[2015-10-26 23:43] bdorfman commented on #73
Carthage support added in this PR: https://github.com/pinterest/PINRemoteImage/pulls

Have it all working in our app. Possibly broke some Cocoapods support but hopefully not.

This should theoretically make it easier to add to your app. You can either just use Carthage, or just clone the repo and build the new framework target, then drag that target to your own app (which is basically what Carthag

[2015-10-28 18:37] bdorfman commented on #73
Carthage support added + I tweaked the manual installation instructions to hopefully make them a little bit clearer (although probably most people should still use Cocoapods or Carthage if they don't want to have a headache).

[2015-10-28 18:37] #73 closed

[2015-10-28 18:41] bdorfman opened #87 "Add FLAnimatedImage as private carthage dependency"
Once they merge in this PR https://github.com/Flipboard/FLAnimatedImage/pull/95 FLAnimatedImage should be added as a private dependency in Cartfile.private so that pre-compiled binaries of PINRemoteImage can have animated image support built in.

[2015-10-28 19:57] garrettmoon commented on #85
Hi @lqcjdx when I run the command
[code]
it returns:
[code]

Maybe there's something wrong with your cocoapods install? You can try upgrading cocoapods with:

[code]
Also, the README has been updated with a bit more clarity on how to install. Hopefully this helps!

[2015-10-28 19:57] #85 closed

[2015-11-03 13:05] markcleonard commented on #25
I see the Carthage Compatible label in the README, but in my attempt to use this with carthage I received:
`*** Skipped building PINRemoteImage due to the error:`
`Dependency "PINRemoteImage" has no shared framework schemes for any of the platforms: iOS`

[2015-11-03 16:42] garrettmoon commented on #25
This should have been added by https://github.com/pinterest/PINRemoteImage/pull/77. I haven't done much Carthage, I'll try and see if I can't reproduce.

[2015-11-03 18:24] bdorfman commented on #25
So if you don't specify a sha, branch, or tag in your Cartfile, Carthage will by default use the latest release according to Github's releases page. Since there hasn't been a new release since Carthage support was merged, this then fails. You should be able to fix by specifying "master" or any sha since Carthage support was merged (or @garrettmoon you could make a new release).

[2015-11-03 18:27] garrettmoon commented on #25
Ah! Thanks @bdorfman I'll also make a new release :)

[2015-11-03 18:29] bdorfman commented on #25
Also apparently if you have more than one Xcode project and none of them are in the root, the one it chooses to try to build frameworks for is actually undefined. The current setup works for me, but it is possible that it is dependent on the version of Carthage you are using or your OS or something. Possibly you should also move the Carthage xcodeproj to the root (currently in the PINRemoteImage d

[2015-11-03 18:55] garrettmoon commented on #25
@markcleonard can you let us know if the above change worked?

[2015-11-05 03:35] angela- opened #89 "PINURLSessionManager Crash on iOS 9"
EXC_BAD_ACCESS KERN_INVALID_ADDRESS on
PINURLSessionManager.m line 76
-[PINURLSessionManager URLSession:task:didReceiveChallenge:completionHandler:]

here is the stack trace
[code]

[2015-11-05 17:03] garrettmoon commented on #89
Hmm, that stack trace doesn't give us much to work with. Are you sure that's the crashing thread?

Can you reproduce the issue?

[2015-11-06 11:48] kerrmarin opened #90 "Crash on -[PINProgressiveImage data]"
Hey,

We've seen reports of crashes caused by PINProgressiveImage in the wild, although we are not able to reproduce them locally. I thought I might as well throw it up here just in case. It seems to happen when the request fails, and PINProgressiveImage tries to make a copy of its `mutableData`. Perhaps the data in there is malformed, due to the error (a network error?)? I've only seen this repor

[2015-11-06 12:40] kerrmarin opened #91 "Crash on -[PINURLSessionManager URLSession:dataTask:didReceiveData:]"
Hey,

We've seen some crashes reported on our monitoring. These crashes happen on iOS 8 and 9. We haven't been able to reproduce them. Here is a stack trace:

[code]

Thread 13:

[code]

[2015-11-06 15:05] garrettmoon commented on #91
I think this one may be fixed by https://github.com/pinterest/PINRemoteImage/commit/65d9c582fbaed691940cf4c550054535e4b84246

[2015-11-06 18:09] garrettmoon commented on #79
@mRs- Hey! So I wasn't able to see the disk cache using less memory than the memory cache when playing around with it this morning. If you can give me a test case that gets this to happen I'd be happy to look into it.

Also would be cool to see if you can get the memory use down while keeping the speed of drawing our decoded images just as fast.

I'm going to close the issue, but feel free to repl

[2015-11-06 18:09] #79 closed

[2015-11-07 18:48] farhanpatel opened #92 "Crashed: PINURLSessionManager Operation Queue :: NSOperation (QOS: LEGACY)"
We have a similar issue to #91 I thought I'd create a new ticket as it isnt on the exact same line. I'm running the latest code with commit 65d9c582fbaed691940cf4c550054535e4b84246

The issue happens on ios 8/9 only. I can link you to the crashlytics issue if more info is required.
[code]

I've had no luck trying to reproduce it. If you have any thoughts on how I can give it a shot.

[2015-11-07 19:04] garrettmoon commented on #92
Looking at it in crashlytics would definitely be more informative.

[2015-11-07 19:35] farhanpatel commented on #92
Here is the report. You should be able to access it. http://crashes.to/s/859ce80843f

[2015-11-07 20:16] farhanpatel commented on #92
Here is some more info via HockeyApp. It has some info on what the main thread was doing. It crashes on the same spot but not sure if its the exact same issue.
https://gist.github.com/farhanpatel/815df738603cc932cb27

[2015-11-08 17:34] jparise opened #93 "Use NS_EXTENSION_UNAVAILABLE_IOS instead of PIN_APP_EXTENSIONS"
`NS_EXTENSION_UNAVAILABLE_IOS` can be used to mark symbols as unavailable to extensions. This should allow us to remove the `PIN_APP_EXTENSIONS` define and produce one library for both application and extensions.

Inspired by AFNetworking/AFNetworking#2737. Depends on pinterest/PINCache#37.

[2015-11-09 06:26] zhouzizi opened #94 "How to use with webp"
I have  add all of the PINRemoteImage files  to my project ，but use ```  pin_setImageFromURL(NSURL(string: "xxxx.jpg")!) ``` can not show the image ,my webp image	postfix is ".jpg",but it is wep image

[2015-11-09 08:09] zhouzizi commented on #94
deal

[2015-11-10 03:10] zhouzizi commented on #94
Sometimes it can be work ,but sometimes not...

[2015-11-10 06:56] zhouzizi commented on #94
How to use with webp

[2015-11-10 22:50] garrettmoon commented on #94
@zhouzizi we'll need more info to help you track down the issue. You say it works sometimes but not other times? Does it work with some images and not others?

[2015-11-11 01:17] zhouzizi commented on #94
Sorry, It does not work with Webp image.Counld you give me a guild to install with webp  please ? I found the NSData+ImageDetectors.m file and other files has some codes  like
![41454219-9d86-45ed-91aa-9e831d241c47](https://cloud.githubusercontent.com/assets/9103749/11081098/f77ab988-8854-11e5-9679-38e0bea14764.jpg)  ,I delete it ,but it also can not work ..

[2015-11-11 01:22] garrettmoon commented on #94
You should look into the webp pod possibly?

[2015-11-11 01:27] zhouzizi commented on #94
I am a newbie ..Could you told me more detail please ..

[2015-11-11 01:34] garrettmoon commented on #94
Are you using cocoa pods, add

pod 'libwebp'

to your pod file.

[2015-11-11 01:37] zhouzizi commented on #94
no.I install it with manually method ,i have drag all files to my project ,include libwebp
![image](https://cloud.githubusercontent.com/assets/9103749/11081457/bde69f72-8857-11e5-8407-71061b0004ad.png)

[2015-11-11 01:37] garrettmoon commented on #94
Hmm, I haven't done it that way, so I'd have to figure it out myself too. Maybe someone else in the community can help.

[2015-11-11 01:44] zhouzizi commented on #94
Sorry to bother you.

[2015-11-16 06:21] angela- commented on #89
I can't reproduce the issue, I'm just seeing the crashes in Crashlytics. I've attached another stack trace if it helps? The issue mainly affects iOS 9.1.0 users

[code]

[code]

[2015-11-16 14:25] markcleonard commented on #25
*** Checking out Alamofire at "3.1.2"
*** Checking out SwiftyUserDefaults at "2.0.0"
*** Checking out PSOperations at "2.0.2"
*** Downloading PINRemoteImage.framework binary at "Carthage Support"
*** Downloading PINCache.framework binary at "Xcode 7 support"
*** Checking out RateLimit at "v1.2.1"
*** Checking out SwiftyJSON at "2.3.1"

Doesn't seem to check out in the same manner as the rest of my

[2015-11-16 18:20] bdorfman commented on #25
That is totally fine. PINCache and PINRemoteImage have prebuilt binaries uploaded to github so Carthage will use those instead of building.

Although because FLAnimatedImage doesnt have a working Carthage yet, the prebuilt binary for PINRemoteImage doesn't support FLAnimatedImage I think.

[2015-11-16 22:37] bdorfman commented on #92
We are also seeing a similar crash in the didReceiveChallenge callback. I can't quite figure out what is happening.

You are not re-stronging self inside the dispatch block, and also there are cases here where completion handler seems like it will never be called (if PINURLSessionManger's delegate does not implement the callback) but its unclear if either of those is the problem. Possibly it is th

[2015-11-16 23:16] garrettmoon commented on #89
This is being tracked in #92

[2015-11-16 23:16] #89 closed

[2015-11-18 22:43] garrettmoon commented on #90
@kerrmarin haven't seen this one show up for us, I'll try and take a look when I can.

[2015-11-18 22:48] garrettmoon commented on #92
Y'all have a URL I can test the challenge callback with?

[2015-11-18 22:50] garrettmoon commented on #92
@bdorfman you're right that the weakSelf should be strongified in there, but I don't think this is the cause, it seems to be happening on the dispatch.

[2015-11-18 22:54] garrettmoon commented on #92
I was able to get a 0x50 EXC_BAD_ACCESS when delegateQueue was nil. I was *hoping* that was resolved by #84.

So I'm hoping that addressed http://crashes.to/s/859ce80843f

However, it seems different than https://gist.github.com/farhanpatel/815df738603cc932cb27 which is failing with 0x30 in block copy…

[2015-11-18 22:56] bdorfman commented on #92
I'm not actually clear on what url is even causing this callback to fire in our app. I think it might get called for any https url, and not just ones that require username and password? I can't even really reproduce the issue, we are just seeing crashes in the wild in Hockey.

In our own fork I have speculatively changed the dispatch to be sync instead of async on the idea that maybe completionHan

[2015-11-18 22:58] bdorfman commented on #92
Our crash also occurs in block copy by the way. The stack trace looks pretty identical to https://gist.github.com/farhanpatel/815df738603cc932cb27

[2015-11-18 23:02] garrettmoon commented on #92
I'm going to see if I can't dig anything up on block copy

[2015-11-18 23:02] garrettmoon commented on #92
Please do let me know if the dispatch_sync solves things!

[2015-11-23 22:07] #94 closed

[2015-11-23 22:07] #91 closed

[2015-11-27 17:53] DmitryBulaienko opened #100 "Raise 'processor' block also in case getting image cache"
It would be nice if **processor** block would also get called on pulling image from cache using methods
**pin_setImageFromURL:processorKey:processor:**, etc.

Image preprocessing block is great thing and would be cool if that can be applied for cached images.
Thanks in advance!

[2015-11-30 05:24] yangmie commented on #92
It seems that delegateQueue is nil when the crash happened. Maybe self.delegateQueues removed this object at some point. But I'm not familiar with this, I temporarily fix this problem by the following code. Hope this can help!

        dispatch_queue_t delegateQueue = dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_LOW, 0);
        if (self.delegateQueues[@(task.taskIdentifier)]) {
            d

[2015-11-30 18:12] garrettmoon commented on #92
@yangmie it's my hunch that the development queue is nil as well, however, your fix is not thread safe as we require the delegate messages to execute serially and therefore they need to happen on the same queue.

[2015-12-02 00:49] garrettmoon commented on #100
@DmitryBulaienko the block doesn't get called because the image pulled from the cache will have already been processed. If it has to go through the processing block again you don't get the benefit of caching :)

[2015-12-02 00:49] #100 closed

[2015-12-08 22:38] zachwaugh commented on #92
We're getting a number of crashes from this as well with two almost identical stack traces using PINRemoteImage 1.2.2. Unfortunately, I haven't been able to reproduce it, and I don't know what URL is causing it. The URLs we're requesting *shouldn't* require authentication.

[code]

[code]

[2015-12-09 00:57] bdorfman commented on #92
So I think the problem might be that you don't implement the session-level authorization challenge callback. (`- URLSession:didReceiveChallenge:completionHandler:`, eg the one without `task:`)

The docs say:

```If you do not implement this method, the session calls its delegate’s URLSession:task:didReceiveChallenge:completionHandler: method instead.```

If the system automatically forwards throug

[2015-12-09 00:57] garrettmoon commented on #92
@bdorfman !!! That sounds like it's definitely it!

[2015-12-09 01:08] bdorfman commented on #92
I'm not exactly sure the best way to fix it? Possibly you can just implement the method and do all the same logic but with task = nil, but not on a delegate queue. I'm not sure if any of the delegate callback code has expectations about being on certain threads or task not being nil though?

Also it's unclear to me if the task is actually nil in this case. Foundation claims that the task parameter

[2015-12-09 06:49] mRs- commented on #93
I created a pull request for this with the changes. Am I doing it right?

[2015-12-09 18:28] garrettmoon commented on #92
Lets leave this open for now, and if y'all can report back if it fixes things it would be greatly appreciated!

[2015-12-09 18:30] garrettmoon commented on #90
Ha, reread this. It's pretty cut and dry, your app ran out of memory :/ Not much we can do except potentially try catch around alloc'ing the memory. Not sure I'm comfortable with that.

[2015-12-14 22:32] garrettmoon commented on #93
I actually think this was done incorrectly, the macro is meant to *mark* api's as unavailable to extensions. I think I need to revert the commit and investigate if this is even possible.

[2015-12-14 22:43] garrettmoon commented on #93
From my understanding, NS_EXTENSION_UNAVAILABLE_IOS will only allow us to mark methods as unavailable for use in extensions, it *won't* allow us to compile separate code paths. So I'm not sure it will actually add value? :(

[2015-12-15 06:15] mRs- commented on #93
From the documentation
`Use any API marked in header files with the NS_EXTENSION_UNAVAILABLE macro, or similar unavailability macro, or any API in an unavailable framework `

So you can explicit flag a method as unavailable in an extension. I don't know if there is a real impact on the code paths.

**Idea**
1. Different APIs for extension / app, the one for the app marked as `NS_EXTENSION_UNAVAILA

[2015-12-15 21:50] #72 closed

[2015-12-21 09:27] derekargueta commented on #22
@garrettmoon is this issue closable with pull request #65 merged?

[2015-12-22 17:29] ibireme commented on #93
Use this method to get `UIApplication`:

    /// Returns nil in App Extension.
	static UIApplication *_YYSharedApplication() {
	    static BOOL isAppExtension = NO;
	    static dispatch_once_t onceToken;
	    dispatch_once(&onceToken, ^{
	        Class cls = NSClassFromString(@"UIApplication");
	        if(!cls || ![cls respondsToSelector:@selector(sharedApplication)]) isAppExtension = YES;

[2015-12-24 09:30] mingshing opened #109 "Crash on - [PINProgressiveImage postProcessImage:withProgress:] CompilerFSCacheSerialQueue"
Hi,
I receive a crash report from Crashlytics.
Here is the crash report raw data

**Thread : Crashed: CompilerFSCacheSerialQueue**
[code]

Could you give me some advice?  Thanks!

[2015-12-24 15:19] zachwaugh commented on #92
I've had a build in production for a week now with this fix and haven't seen this crash again, so seems to be fixed now. Thanks!

[2015-12-26 08:09] garrettmoon commented on #92
Awesome!

[2015-12-26 08:09] #92 closed

[2016-01-04 13:04] markcleonard commented on #25
@bdorfman @garrettmoon  Thanks! So in this way does it not recognize specifying iOS as a platform `carthage build --platform iOS`?  PINCache downloads to both Carthage/Build/iOS and Carthage/Build/Mac, whereas PINRemoteImage only downloads to Carthage/Build/iOS.

[2016-01-04 20:31] garrettmoon commented on #22
Yes! I think so, thanks!

[2016-01-04 20:31] #22 closed

[2016-01-04 20:59] garrettmoon commented on #93
@mRs-

1. Is possible, though I'd only be in support of this if it were only a *couple* of methods we could mark this way. I think we could possibly get away with it, but it wouldn't be very clean.

2. I don't think it works that way. I'm 90% sure that NS_EXTENSION_UNAVAILABLE_IOS is just an indicator to the compiler to mark a method as unavailable. I don't think it changes anything at runtime nor

[2016-01-04 21:00] garrettmoon commented on #109
We've see similar crashes and haven't been able to come up with a solution yet. My guess is this is related to running out of memory :(

[2016-01-08 17:07] chriseman opened #113 "Include of non-modular header inside framework module"
We are implementing an iOS-framework so to reuse it in other projects. We use PINRemoteImage in one class of our framework as well as a couple of times in the project it self. However as soon as we use the class from the framework 3 error messages e.g. "Include of non-modular header inside framework module 'PINRemoteImage.PINRemoteImageManagerResult'".

As a workaround we removed the define macro

[2016-01-13 07:32] mRs- commented on #113
Do you need the support for FLAnimatedImage?

[2016-01-13 10:38] chriseman commented on #113
no we don't need FLAnimatedImage support, I used "pod 'PINRemoteImage/Core'" as a workaround

[2016-01-14 19:29] garrettmoon commented on #113
@chriseman sounds like you resolved the issue, I'm going to close this.

[2016-01-18 07:13] mRs- opened #115 "How to prefetch properly - README Enhancement"
I'm using PINRemoteImage as my main image downloader and it's really awesome to use it. In my applications I use it as the main library for handling image downloads and prefetching them to store it locally on the disk.

But I head to run through many obstacles to create a download task that is not cached in the memory cache but in the disk cache.

I would like to add more information about **How t

[2016-01-20 00:49] garrettmoon commented on #115
That would be *super* awesome and greatly appreciated! If you have any swift examples you'd like to add that'd also be a welcome addition!

[2016-01-22 16:42] andrewhavens opened #118 "How to add automatic detection of animated gifs?"
Sorry if this is the wrong place to post this. I notice that your library requires the developer to specify a `FLAnimatedImageView ` if the image is an animated gif. Since I only have a URL, I don't know the format of the image (jpeg, gif, other). Is it possible to add auto-detection so that the downloaded image automatically uses the correct image view?

[2016-01-22 18:08] garrettmoon commented on #118
@andrewhavens I think this is actually supported already. FLAnimatedImageView is a subclass of UIImageView. The category which sets the results on it checks if it's an animated image and if it's not sets it as a regular image.

So! You don't need to detect if it's a GIF or not, just use an FLAnimatedImageView if it's possible you'll get a GIF back.

Hope this helps!

[2016-01-24 11:39] mRs- opened #121 "Manager is object is not used in cancelWithUUID"
When I wrote the support for nullability I discovered that the manager is not used or needed in `- (BOOL)cancelWithUUID:(NSUUID *)UUID manager:(PINRemoteImageManager *)manager`

Maybe this is a bug or it's not needed.

[2016-01-26 18:58] garrettmoon commented on #121
I went through, it looks like the manager is used in PINRemoteImageProcessorTask? It needs it to call the manager to cancel the download task.

[2016-01-27 06:45] mRs- commented on #121
I refer to PINRemoteImageTask.m line 76 https://github.com/pinterest/PINRemoteImage/blob/master/Pod/Classes/PINRemoteImageTask.m#L76

[2016-01-27 19:02] garrettmoon commented on #121
Yeah, it's not used there, but its used by its subclass :) PINRemoteImageProcessorTask.

[2016-01-28 05:47] rounak opened #122 "Make tag for 1.2.3"
The podspec latest version says 1.2.3 but there's no 1.2.3 tag so the latest version on cocoapods is still 1.2.2

[2016-01-28 07:56] mRs- commented on #121
Okay :)

[2016-01-28 07:56] #121 closed

[2016-01-29 01:27] garrettmoon commented on #122
Dang, sorry about that! I'll try and get to it this weekend.

[2016-01-29 15:43] dev-mush opened #123 "How does the cache expire? Is it possible to check if a cached image has changed?"
I find PINRemoteImage a great and stable library, and I really thank you guys for such a great work!

There's just one thing I can't seem to figure out, and I promise I'll dig down into the source code to figure it out, but meanwhile, I'd like to ask if this functionality is actually supported.
( _I did some googling about it and crunched your past issues, and even if I found some similar question

[2016-02-01 04:28] garrettmoon commented on #122
Added!

[2016-02-01 04:28] #122 closed

[2016-02-01 05:14] rounak commented on #122
Thanks @garrettmoon. Appreciate you being so swift!

[2016-02-01 19:02] rounak commented on #122
Sorry to bother you again, but do you know if Cocoapods should automatically pick up this change, or there's something more to be done? Because it still shows the older version. https://cocoapods.org/pods/PINRemoteImage

[2016-02-02 22:57] garrettmoon commented on #93
I'm going to close this for now as I don't think there's a good solution available.

[2016-02-02 22:57] #93 closed

[2016-02-03 14:35] cannyboy commented on #118
i was able to use FLAnimatedImageView for both animated and still images: https://github.com/Flipboard/FLAnimatedImage/issues/123#issuecomment-178555531

[2016-02-03 15:19] cannyboy opened #127 "FLAnimatedImageView not animating after setting UIImageView with same URL"
I'm setting a `UIImageView` with `pin_setImageFromURL`.

Later, I set a `FLAnimatedImageView` with the  same method and URL.

[code]

When I do this, the `FLAnimatedImageView` does not animate.

Perhaps the image is initially cached as a still image, so it will never appear animated?

[2016-02-03 20:25] garrettmoon commented on #127
That's a good theory!

[2016-02-03 20:26] #118 closed

[2016-02-04 00:34] garrettmoon commented on #123
@dev-mush you're right, this is not currently supported by PINRemoteImage. There's currently a pull request attempting to implement TTL on PINCache, that could help. Looking at headers would certainly be a good option as well, the downloading of images is done in PINDataTaskOperation if you want to take a look on what it would take to add support.

[2016-02-07 15:14] justin opened #132 "Bitcode Support"
We have migrated our image processing and caching to PINRemoteImage + PINCache, so thank you very much for saving me from having to rewrite an 6 year old parsing library!

One thing i've noticed since the migration is that I don't believe the releases you put out through Carthage support Bitcode.

Is a fix for that a pull request you'd accept?

[2016-02-07 18:42] garrettmoon commented on #132
@justin probably! Do you know if there's a way to support it optionally? Could I create two versions for each release? We don't currently use Carthage so I'm at the communities mercy as to how to best support Carthage users.

[2016-02-09 01:15] #28 closed

[2016-02-09 18:54] justin commented on #132
I just sent a PR. If you are using Cocoapods, I don't believe this will have an effect.

I'm not sure how you're building the release zips you are uploading to Github either, but if you're building those from the xcodeproj file, they'll have bitcode enabled.

[2016-02-09 19:15] justin commented on #132
Actually it looks like PINCache would need to have Bitcode enabled too since it's bundled.

[2016-02-09 23:46] garrettmoon commented on #132
@justin Yup, I cd into the PINRemoteImage directory and then carthage build --no-skip-current.

I'll also accept pull requests for PINCache :)

[2016-02-10 16:24] justin commented on #132
OK. I took a peek at this and I think it's good to go.  PINCache already has bitcode enabled, so if you build new binaries for it things should be fine.

You can test all this by doing this in the `PINRemoteImage` project on my `bitcode` branch.

[code]

Everything should be build and good to go now.

[2016-02-11 04:12] chika-kasymov opened #138 "Can not see any blur effect on UIImageView"
Hello!

When I run PINRemoteImage example app, I can not see blur effect on UIImageView which is located in _Progressive_ tab. In the beginning there is no image, and after some time UIImageView updates only once with full image.

Maybe I need add additional configuration? I run Xcode 7.2.1, and didn't change any code in example project.

Thanks for any help!

[2016-02-11 04:35] garrettmoon commented on #138
@chika-kasymov blurred progressive images only show up if the image takes a while to download. You can simulate that by using the network link conditioner (http://nshipster.com/network-link-conditioner/). There's a version of the network link conditioner on iOS and on OS X which works for the simulator. Hope this helps!

[2016-02-11 04:44] garrettmoon commented on #138
@chika-kasymov turns out there's a bug in the example project too! Please add

[code]

To PINAppDelegate.m in application:didFinishLaunchingWithOptions: to fix (I'll also be fixing the library).

[2016-02-11 04:47] chika-kasymov commented on #138
Thanks! Adding `setProgressiveRendersMaxProgressiveRenderSize:completion:` to AppDelegate helped.

[2016-02-11 04:51] garrettmoon commented on #132
Merged! Thanks for doing this! Let me know if anything else needs to be changed.

[2016-02-11 04:51] #132 closed

[2016-02-11 05:04] chika-kasymov commented on #138
Is waiting image up to 20-30 seconds without blur normal? I replaces URL from example project to http://entropymag.org/wp-content/uploads/2014/10/outer-space-wallpaper-pictures.jpg, but blur not applied.

[2016-02-11 05:16] garrettmoon commented on #138
@chika-kasymov the image in the example is *very* large and we don't render a blurred progressive until there is at least one complete scan downloaded.

The image you provided is *not* a progressive jpeg. You can check if a jpeg is progressive on this site: http://techslides.com/demos/progressive-test.html

The blurring only works for jpegs that are progressively encoded.

[2016-02-11 05:18] chika-kasymov commented on #138
Ok, it's my mistake. I missed that in documentation. Thanks any way!

[2016-02-11 05:18] #138 closed

[2016-02-11 15:26] justin opened #140 "OS X Support Broke Carthage"
When I try to use a freshly built copy of the framework from `master`, it gets mad about the `PINImage` defines saying it can't find them.

It builds fine in the `PINRemoteImage` project, but importing it into a third-party iOS app causes tons of errors around the define breaking down.

I wonder if frameworks can't deduce the `#define` values? I can't really find any documentation to validate or i

[2016-02-11 15:33] justin commented on #140
If you copy-pasta the defines into each class that use them rather than just the import of `PINRemoteImageMacros`, it's fine. Obviously not an ideal solution. Trying to see what else is feasible.

[2016-02-11 18:37] garrettmoon commented on #140
@justin thanks for looking into it! Let me know if I can help in any way.

[2016-02-11 19:35] justin commented on #140
Maybe @maicki can chime in with some thoughts since he spearheaded the OS X support.

[2016-02-15 03:05] chika-kasymov opened #142 "Image downloading restarts when reusing UICollectionView cells"
Hello!

I have an issue when scrolling `UICollectionView`. When 'A' cells start to download their images, and UICollectionView scrolls to 'B' cells, 'A' ones stop downloading process. When I return to 'A' cells they start to download again, but 'B' cells stop.

I see methods `setMaxNumberOfConcurrentOperations:` and `setMaxNumberOfConcurrentDownloads:`, but don't know if they will help me.

Can yo

[2016-02-15 13:58] LivioGama commented on #109
I have the same problem in a piece of code that I wrote to blur an image in UImageView, it's quite rare and didn't find any solution

[2016-02-15 21:04] maicki commented on #142
@chika-kasymov Hey Kassymov would you be able to provide some sample project?

[2016-02-15 23:14] garrettmoon commented on #109
I believe this has been resolved by switching to accelerate and approximating a blur.

[2016-02-15 23:14] #109 closed

[2016-02-16 03:15] chika-kasymov commented on #142
My `- (UICollectionViewCell *)collectionView:(UICollectionView *)collectionView cellForItemAtIndexPath:(NSIndexPath *)indexPath` method:

[code]

Without `[UIImage new]` images are shuffled.

[2016-02-18 02:33] rounak opened #145 "Include image url in callback block"
Callback blocks in PIN Remote Image include a result object. That object doesn't include the imageURL.

So when using the library from a cell (or any scenario where there's scope for reuse bugs) I can't tell if this callback block has been called for the latest image url or from a previous call.

I know I could cancel the download operations in prepareForReuse, but I want to let the download conti

[2016-02-18 02:34] garrettmoon commented on #145
Check out the UIImageView categories. They deal with the exact issue you're describing by looking at the NSUUID returned by downloadImage.

[2016-02-20 12:36] mRs- commented on #50
It's done, can be closed

[2016-02-20 17:33] #50 closed

[2016-02-22 19:58] cbttpaul opened #146 "README has broken link to UIImageView+PINRemoteImage"
In the README, there is a link to [UIImageView+PINRemoteImage](https://github.com/pinterest/PINRemoteImage/blob/master/Pod/Classes/Image%20Categories/UIImageView+PINRemoteImage.h).  I believe this has to do with the category being changed to `PINImageView+PINRemoteImage.h`

[2016-02-22 21:11] garrettmoon commented on #146
Addressed with #147, thanks!

[2016-02-22 21:11] #146 closed

[2016-02-23 20:31] dmauro opened #149 "PINURLSessionManager crash trying to get delegateQueue"
Crash occurred here: https://github.com/pinterest/PINRemoteImage/blob/master/Pod/Classes/PINURLSessionManager.m#L89

In PINRemoteImage 1.2.2. Happened to catch it in the debugger. It got a nil delegateQueue out of the delegateQueues dictionary.

[2016-02-23 20:51] garrettmoon commented on #149
@dmauro Thanks for reporting! This was address in https://github.com/pinterest/PINRemoteImage/commit/21e69bcf809f27039d0bd28e157bedbff73fa119#diff-3a0c5e99470a5f988d8cd462abb141a2

You should update :)

[2016-02-23 20:51] #149 closed

[2016-02-23 21:16] dmauro commented on #149
Sorry, will do. Thanks!

[2016-02-24 11:54] k06a opened #151 "Wrong define-based iOS/OSX determination"
Here is code to demonstrate this bug:
[code]

So this include will not work properly without importing UIKit:
[code]

And this code looks fun:
[code]

I'll try to describe this code literally: _if imported UIKit do import UIKit else import Cocoa_.

Maybe better to use this defines:
[code]

Found this solution here: https://github.com/SnapKit/Masonry/blob/master/Masonry/MASUtilities.h

[2016-02-25 03:13] connor commented on #70
Closing this out since #134 added support for it and it's been published in 2.0 release.

[2016-02-25 03:13] #70 closed

[2016-02-25 23:20] rounak opened #152 "Image scale is always 1.0"
The images created by PINRemoteImage always has a scale of 1.0, which causes problems with intrinsic sizes of image views. SDWebImage create images with the correct scale factor depending on the device.

[2016-02-26 00:12] #145 closed

[2016-03-02 10:36] rf10ster opened #153 "Ability to expose internal method and property for PINRemoteImageManager"
Hello, I'm using PINRemoteImage in one of my project, and I'm really keen on with it - You've created great framework.
But for my internal needs I need to be able to override method of `PINRemoteImageManager` - `downloadDataWithURL` which compose my own download process as part of result task and want to put it into tasks queue `urlSessionTaskQueue`.
So I've made fork of your repository and create

[2016-03-02 16:36] garrettmoon commented on #152
Thanks for the report @rounak, definitely something we should look into addressing!

[2016-03-03 08:17] piechart opened #154 "Unable to add PINRemoteImage to iOS 7.0 project"
I've installed PINRemoteImage via Carthage
I followed all instructions:

<img width="476" alt="2016-03-03 11 16 15" src="https://cloud.githubusercontent.com/assets/17230738/13488300/697eafc8-e131-11e5-85de-1586680aa51c.png">
<img width="673" alt="2016-03-03 11 15 15" src="https://cloud.githubusercontent.com/assets/17230738/13488301/697f1e86-e131-11e5-841d-67b1daf76dce.png">
<img width="616" alt="2

[2016-03-03 08:28] piechart commented on #154
By the way. I've also tried to install it via CocoaPods with such file:
xcodeproj "pinTestCocoa.xcodeproj"
pod "PINRemoteImage"
pod "PINCache"
Got result
<img width="568" alt="2016-03-03 11 27 21" src="https://cloud.githubusercontent.com/assets/17230738/13488549/f71ce3ee-e132-11e5-9b19-21f7b69a8e21.png">
But it can't find SDWebImage module on import

[2016-03-03 08:35] piechart commented on #154
I've also tried installing with CocoaPods with such file:
xcodeproj "pinTestCocoa.xcodeproj"
pod "PINRemoteImage"
pod "PINCache"
Got result:
<img width="568" alt="2016-03-03 11 27 21" src="https://cloud.githubusercontent.com/assets/17230738/13488688/dde4b4aa-e133-11e5-91ed-50dae243c8e5.png">
But neither I can use it without any import nor with
import PINRemoteImage etc does not work, without it -

[2016-03-03 09:37] rounak commented on #152
@garrettmoon This is the fix we added https://github.com/TinderApp/PINRemoteImage/commit/bea7c9d6636e392b6b2b5a0809bf13629b0d0fc9 We didn't use `UIScreen scale` because we weren't sure if that can be called from non main threads. Let me know if you think this is a good fix. If so, I can open up a PR

[2016-03-03 18:58] garrettmoon commented on #154
@piechart I don't believe Carthage supports below iOS 8, so you'll have to use cocoa pods if you want to support iOS 7.

When you use cocoa pods, are you using the generated .xcworkspace instead of the .xcodeproj?

[2016-03-03 19:00] garrettmoon commented on #151
Please put up a pull request!

[2016-03-03 19:09] k06a commented on #151
@garrettmoon no problem :) https://github.com/pinterest/PINRemoteImage/pull/155

[2016-03-03 19:16] piechart commented on #154
That was my mistake missing "use_frameworks!" in Podfile
Sorry

[2016-03-03 19:16] #154 closed

[2016-03-08 17:34] smyrgl opened #158 "Cocoapods 1.0 Beta 5 + WebP + use_frameworks!"
When testing out Cocoapods 1.0 (Beta 5) the issue with frameworks that 0ef39a8b7f599112c8944a7c8b921be28ac8dc9e works around seems to have cropped up again.

<img width="1260" alt="screen shot 2016-03-08 at 9 33 35 am" src="https://cloud.githubusercontent.com/assets/1709178/13610087/e2f816fe-e510-11e5-8025-e6903341bb4f.png">

I'm not sure what change they made in 1.0 that broke this workaround but

[2016-03-08 21:59] bdorfman commented on #158
Also just wanted to mention that the commit mentioned (0ef39a8b7f599112c8944a7c8b921be28ac8dc9e) appears to totally break Carthage support for using WebP with PINRemoteImage since it now relies on a preprocessor macro being set that is only set through Cocoapods. If you revisist framework linking, you should fix this as well.

[2016-03-08 22:34] bdorfman opened #159 "Availability framework not imported"
You don't have `#import <Availability.h>` anywhere in your headers, so it is possible other apps importing your framework will not have `__IPHONE_OS_VERSION_MIN_REQUIRED` defined and thus will default to NSImage even on iOS deployment targets (causing build errors).

[2016-03-14 23:04] maicki commented on #140
@justin @garrettmoon Can we close that issue due to: #160 ?

[2016-03-15 16:48] justin commented on #140
Let me dig into it today. I'll report back.

[2016-03-15 18:36] justin commented on #140
This is still an issue, with the same errors coming back.

<img width="479" alt="screen shot 2016-03-15 at 12 32 53 pm" src="https://cloud.githubusercontent.com/assets/1384/13789512/136881d6-eaaa-11e5-8569-1c35e0c24d18.png">

[2016-03-15 18:51] justin commented on #140
This branch fixes it I believe.

https://github.com/justin/PINRemoteImage/tree/fix/osx-conditionals

I updated the conditionals to be more explicit and added an import of `TargetConditionals.h` in the macros file. Stuff compiles now.

Computers!

[2016-03-15 20:31] swisspol opened #163 "Invalid detection of iOS vs OS X in source code"
This cannot work:
[code]

`__IPHONE_OS_VERSION_MIN_REQUIRED` is not defined by the compiler but by one of the system headers, so `#ifdef __IPHONE_OS_VERSION_MIN_REQUIRED` will always evaluate to false since no such system header is included beforehand, _unless_ you happen to be lucky and use a precompiled header.

Second of all, the best macro to use is `TARGET_OS_IPHONE` as in:
[code]

The reliab

[2016-03-16 22:06] garrettmoon commented on #140
Computers! Mind putting up a pull request?

[2016-03-17 14:48] justin commented on #140
Yessir! https://github.com/pinterest/PINRemoteImage/pull/164

[2016-03-18 18:38] riotcku opened #166 "Image from our CDN breaking due to 403 Error"
Hello Pinterest! I have a problem that I can't quite pin down and was hoping for some help here. I do hope this is the correct place to ask!

I'm fixing a bug on the site we manage (http://metallica.com). When we pin items, everything works fine until I try to view the picture itself on Pinterest, the image request gets a 403 forbidden access error and appears broken on the site. Here's some pictu

[2016-03-18 18:54] riotcku commented on #166
Oh. After a bit more testing it turns out Adblock for some reason blocks the image from showing up. I'm sorry! Working great now...

[2016-03-18 18:54] #166 closed

[2016-03-18 20:12] garrettmoon commented on #166
Glad you got it working!

[2016-03-18 23:35] garrettmoon commented on #163
Should be fixed by #164

[2016-03-18 23:35] #163 closed

[2016-03-18 23:36] garrettmoon commented on #151
@k06a Thanks again for putting up the PR, I think #164 fixed this.

[2016-03-18 23:36] #151 closed

[2016-03-18 23:36] garrettmoon commented on #140
Landed!

[2016-03-18 23:36] #140 closed

[2016-03-18 23:37] garrettmoon commented on #90
I completely rewrote the progressive image rendering algorithm, so this shouldn't be relevant any more.

[2016-03-18 23:37] #90 closed

[2016-03-19 00:06] justin commented on #140
Whoooo. Would be nice if it became a 2.1.1 so we could get back on mainline. We're still tagged at 1.2.3

[2016-03-19 00:54] garrettmoon commented on #140
Absolutely, I'll try and get this released over the weekend (ping this thread if I forget).

[2016-03-20 01:56] Johnkui opened #168 "Picture downloading not progressively after setting to download progressively"
In the published Example(ProgressiveViewController) I changed the picture address(https://s-media-cache-ak0.pinimg.com/1200x/2e/0c/c5/2e0cc5d86e7b7cd42af225c29f21c37f.jpg) to another one(http://38ccda.medialib.glogster.com/media/7c744f06bf559a9be5fcb84f6b9e6f887e92ed0f74fe4b2e4192727fb0f943f1/grassland-summer.jpg) to download it progressively, but the it turned out not loading picture progressivel

[2016-03-21 00:20] garrettmoon commented on #168
Hi @Johnkui there are two conditions that need to be met for an jpeg to be rendered progressively.

1. The image must be encoded progressively. As you mention, this is a different format. You can learn about progressive encoding of jpegs pretty easily by Googling.
2. PINRemoteImage will only render a progressive scan of an image if it thinks that it will take a little while longer to download the

[2016-03-21 00:20] #168 closed

[2016-03-21 01:29] garrettmoon commented on #140
Published 2.1.1

[2016-03-21 01:57] Johnkui commented on #168
Thank you, @garrettmoon!  So PINRemoteImage does not support progressively downloading for the baseline and interlace encoded image, right?

[2016-03-21 03:08] garrettmoon commented on #168
I'm no expert by any means, but interlacing is not supported by jpeg though progressive is sometimes referred to as interlacing.

You're correct that progressive rendering is *not* supported on baseline images, but it wouldn't betook difficult to add support for it.

[2016-03-21 13:34] maicki commented on #159
@garrettmoon That should be fixed with #164

[2016-03-21 16:42] garrettmoon commented on #159
@bdorfman can you confirmed this is fixed 2.1.1?

[2016-03-21 16:42] #159 closed

[2016-03-21 21:47] DavidNix opened #169 "Consider calling completion and progress callbacks on the main thread"
Line of interest:
https://github.com/pinterest/PINRemoteImage/blob/7ba1bee59c733f4e11267700e0d4a51f5a177404/Pod/Classes/PINRemoteImageManager.m#L176

It's very common for progress and completion callbacks to update UI elements.  Hence, as a library author, calling them on the main thread is typical.  I would even argue best practice.  I admit, I haven't had the time to fully understand the need fo

[2016-03-21 22:04] garrettmoon commented on #169
@DavidNix Thanks for the feedback!

Yeah, this is definitely something that snags a lot of devs. It's part of the reason all the default categories exist.

That said, there are very specific performance reasons to not use the main thread. Maybe a clearer warning in the README would help?

[2016-03-21 22:09] DavidNix commented on #169
The reason I dipped into the Manager is to get at that progress callback.
Perhaps expose the progress block in a category method?

But a big warning in the README would definitely help.

Thanks!

On Mon, Mar 21, 2016 at 4:04 PM Garrett Moon <notifications@github.com>
wrote:

--
Thanks,

David

[2016-03-22 14:13] alex-vasenin opened #171 "Xcode 7.3 PINURLSessionManager.h:31 nullability warning"
PINRemoteImage.framework/Headers/PINURLSessionManager.h:31:26: Pointer is missing a nullability type specifier (_Nonnull, _Nullable, or _Null_unspecified)

[2016-03-22 20:29] garrettmoon commented on #171
Fixed by #170

[2016-03-22 20:29] #171 closed

[2016-03-25 15:27] garrettmoon commented on #153
Hi @rf10ster,

Thanks for the feedback! I think if you want to implement your own downloading process, it might be better to make a delegate protocol and a default delegate which implements the current behavior? That way you don't have to expose internal methods which could change behavior at any time. And you can set up an explicit contract around what those delegate methods should do.

I'd happi

[2016-03-25 15:27] #153 closed

[2016-03-28 01:56] dillan commented on #25
When I build using Carthage PINRemoteImage does not get built for iOS or Mac, and I'm only getting it to build for tvOS after adding some missing files in #173.

@bdorfman is there something missing that was accidentally not committed in #77? @garrettmoon eludes to that possibility here: https://github.com/pinterest/PINRemoteImage/pull/77#issuecomment-153418225

[2016-03-28 08:39] gfelot opened #174 "Error - plz erase"

[2016-03-28 09:48] gfelot commented on #174
I think it's a problem with the thread. There is no data when I try to modify my UIImageView. But the data seems to come later. How can I check this and wait for the data ?

[2016-03-28 22:45] #174 closed

[2016-03-31 19:01] christianselig opened #176 "Is there a way to disable caching temporarily? (For debugging purposes.)"
I'm curious if there's a way to disable the caching functionality of PINRemoteImage/PINCache temporarily. This doesn't make much sense in the real world, as that's a massive point of the library itself, but while debugging it can be really helpful to see a full image download performed each time.

Perhaps there's a way to do this and I haven't been able to find it, but I figured I'd ask.

(I know

[2016-03-31 22:33] mad102190 opened #177 "Add support for UIButton setBackgroundImage?"
Is is possible to use the PINRemoteImage categories to set the background image of UIButtons? This is usually the primary use (at least in my experience) for images in UIButtons. Or do I have to use the PINRemoteImageManager to download and image and then set the image on the button's background on the main thread?

[2016-03-31 22:35] garrettmoon commented on #177
Happy to accept a pull request to add this support!

[2016-04-01 23:46] mad102190 commented on #177
@garrettmoon Ok i submitted a PR (#178) to add this functionality (along with some additions to the example project to showcase the changes).

[2016-04-01 23:47] garrettmoon commented on #177
Thank you! I'll try and take a look soon.

[2016-04-08 12:55] vijaytholpadi opened #181 "-[UIImageView setPin_updateWithProgress:]: unrecognized selector sent to instance"
I just switched from SDWebImage to PinRemoteImage for Progressive JPEG rendering. It works well most of the time but I saw a series of consecutive crashes happen when I was trying to load images progressively in my CollectionView.

I then ran the application again on my phone and I am not able to reproduce this crash again. Will keep an eye out for it.

I am enclosing the crash report from Crashly

[2016-04-08 14:29] garrettmoon commented on #181
Thanks for the report @vijaytholpadi I've never heard about this one before.

What version of PINRemoteImage are you using?

[2016-04-11 05:10] vijaytholpadi commented on #181
Hi Garett,

The versions is PINRemoteImage (2.1.2)

[2016-04-13 02:53] Adlai-Holler opened #186 "Images May Be Removed from Disk Cache for Not Being in Memory Cache"
If we attempt to fetch an image from the memory cache but it isn't there, we will remove it from the disk cache:

<img width="1059" alt="screen shot 2016-04-12 at 7 49 16 pm" src="https://cloud.githubusercontent.com/assets/2466893/14481422/a8cacbb4-00e7-11e6-99c6-d1c8a4fdaba3.png">

<img width="724" alt="screen shot 2016-04-12 at 7 49 53 pm" src="https://cloud.githubusercontent.com/assets/2466893/

[2016-04-13 14:48] garrettmoon commented on #186
Dang, this is a bad one :( I'll get it fixed up immediately.

[2016-04-13 14:51] garrettmoon commented on #186
Luckily it doesn't happen in many code paths.

[2016-04-13 15:22] garrettmoon commented on #186
Fixed in 2.1.3 which just got published. Fix is here:

https://github.com/pinterest/PINRemoteImage/commit/f15ca03ece954b4712b2c669c849245617e73e08

Will fix in master next.

[2016-04-13 15:22] #186 closed

[2016-04-13 17:34] garrettmoon commented on #181
Hmm, I don't see how this would occur unless client code was calling the wrong method. I'm going to close this issue, but please reply here if you can give more steps to help investigate.

[2016-04-13 17:34] #181 closed

[2016-04-13 18:44] Adlai-Holler commented on #186
Thanks for the fast fix!

[2016-04-22 18:35] garrettmoon commented on #176
I don't think there currently is one, but I'd be open to a pull request that added the option!

[2016-04-25 16:30] taher-mosbah opened #192 "PINRemoteImageManager timeout"
Hello,
I'm using PINRemoteImage (2.1.4) through CocoaPods for downloading Images and PINCache for caching.
PINRemoteImageManager gives me a timeout for every request, the same image request works fine using NSUrlSession or even Safari.
Testing the example project and a new project works fine.
Same behaviour on device using wifi and cellular.

`  [[PINRemoteImageManager sharedImageManager]
      do

[2016-04-25 16:47] taher-mosbah commented on #192
My question is: is there any special configuration for using PinCache and PinRemoteImage in the same project ?

[2016-04-25 16:54] garrettmoon commented on #192
@taher-mosbah PINRemoteImage *requires* PINCache. If you're using cocoa pods to include PINRemoteImage, PINCache will be included implicitly. So to answer your question, there shouldn't be any special requirements. Can you provide sample code? The log above doesn't really tell me anything; that log occurs when PINRemoteImage debugging is on and you request an image.

[2016-04-26 11:44] taher-mosbah commented on #192
Thank you for you answer, I tracked down the issue to an external dependency that I'm using (HockeySDK 4.0.0-beta.1) using 3.8 solves the conflict.

[2016-04-26 11:44] #192 closed

[2016-04-27 15:31] dtorres commented on #176
This should be possible by setting the byteLimit in the PINDiskCache to 1 (after all,  no image will be shorter than a byte) and the costLimit of PINMemoryCache to 1 as well.. both properties are assignable son you can set them through your manager instance

[2016-04-28 21:47] rounak opened #194 "Cache underlying image when using the processor"
I don't think PINRemoteImage caches the actual unprocessed image when using it with a processor block. Is this an oversight or an intentional decision?

[2016-04-28 22:37] garrettmoon commented on #152
@rounak Thanks for bringing this up and figuring out a solution!

I think this should probably be done at a different layer, or specified at a different layer. All the images that are downloaded from the web don't have 'scale' per say as far as I know. So this would set the scale arbitrarily to the screen size. I'm not sure what the effects would be for people relying on the scale being 1.0 curren

[2016-04-28 22:39] garrettmoon commented on #176
Good call @dtorres, I would think that should work! Closing this, but please let me know if it should be re-opened @christianselig.

[2016-04-28 22:39] #176 closed

[2016-04-29 04:56] garrettmoon commented on #194
That would definitely be a bug!

[2016-04-30 17:21] garrettmoon commented on #158
@smyrgl can you post your pod file or a minimal version so I can test? The release candidate for 1.0 just came out so I think now is the time to address this :)

[2016-05-02 11:00] mobileexpert1 commented on #25
A shell task (/usr/bin/xcrun xcodebuild -workspace /Users/mobile/Desktop/Carthage/Checkouts/PINRemoteImage/Example-Mac/PINRemoteImage.xcworkspace -scheme PINRemoteImage -configuration Release CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES -showBuildSettings) failed with exit code 66:
xcodebuild: error: Scheme PINRemoteImage is not currently configured for the build action.

[2016-05-02 11:08] mobileexpert1 opened #195 "Not able to export tvOS framework with Carthage."
When i do this: github "pinterest/PINRemoteImage"
carthage update --platform tvOS
It always export frameworks for iOS and mac os.

When i use github "pinterest/PINRemoteImage" ~> 3.0
It shows an error : A shell task (/usr/bin/xcrun xcodebuild -workspace /Users/mobile/Desktop/Carthage/Checkouts/PINRemoteImage/Example-Mac/PINRemoteImage.xcworkspace -scheme PINRemoteImage -configuration Release CODE_

[2016-05-02 20:03] rounak commented on #152
@garrettmoon Agreed that the current layer where this is done seems a little off. However, if we just put it in the image view category, places where images are prefetched, or where we're directly using the image manager would be excluded. So I think PINRemoteImageManager seems like a better candidate to add that.

One thing to note is that UIImage size is measured in points and not pixels. So as

[2016-05-02 21:47] garrettmoon commented on #194
@rounak would you be willing to write a unit test to show this behavior? That'd help us to getting closer to a fix and preventing another regression.

[2016-05-03 01:47] mengheangrat opened #197 "[!] Unable to find a specification for ' PINRemoteImage'."
[!] Unable to find a specification for ' PINRemoteImage'.

[2016-05-03 23:58] garrettmoon commented on #197
Hi @mengheangrat going to need a bit more info than that. Please reply if you have some, closing this for now.

[2016-05-03 23:58] #197 closed

[2016-05-04 16:49] krezzoid opened #198 "CFBundleShortVersionString error when trying to upload to iTunes Connect"
Hi ,

you have wrong format for CFBundleShortVersionString and in total impossible to upload app to iTunesconnect without changing this value to correct, for example "3.0.0.2" instead of "3.0.0-beta.2"

[2016-05-04 18:29] garrettmoon commented on #198
@krezzoid iTunes connect won't allow 4 digit values either :(

This is also a beta release and needs to be indicated as such.

Can you give the exact logs that you hit when uploading to the app store?

[2016-05-04 18:38] garrettmoon commented on #198
Found more context: https://github.com/CocoaPods/CocoaPods/issues/4421

[2016-05-05 11:01] krezzoid commented on #198
Yep, seems like this is  the same issue … anyway, error message from iTunesConnect is the same.
Do you still need to have something additional from my side?

___________________________________________________________
Amudo SAS
Ilya Seliverstov
ilya@amudo.com <mailto:ilya@amudo.com>
amudo.com <http://amudo.com/>

[2016-05-05 17:09] garrettmoon commented on #198
@krezzoid do any of the work arounds in the thread work? Have you tried using cocoa pods 1.0.0rc? It seems like this is a cocoa pods issue :( There's no good way for us to fix this without releasing 3.0 early.

[2016-05-05 17:58] krezzoid commented on #198
I just changed CFBundleShortVersionString in .plist file of Xcode archive before submitting app ;)

not yet, i prefer to wait for release version. Anyway, its not a problem for me to update .plist file before submitting  app, because this not happens often.

[2016-05-10 09:37] danielgalasko commented on #142
@chika-kasymov you are correct. When you use the image category pin_setImageFromURL you will see that there is the line `[self cancelImageDownloadOnView:view]`.

My suggestion is, if you want to download the actual image and not cancel rather use

[code]

make sure in your completion that you check if the cell is still visible by making the call to `collectionView.cellForItemAtIndexPath`

[2016-05-10 11:44] chika-kasymov commented on #142
@danielgalasko ok, I will try.

[2016-05-10 11:44] #142 closed

[2016-05-10 12:10] danielgalasko commented on #169
One suggestion could be to follow suit with AFNetworking and allow for setting the callback and progress queues. That way they can default to main thread but gives more advanced applications the power to specify background queues...

[2016-05-10 12:18] danielgalasko commented on #115
I actually built an image preloading component ontop of PINRemoteImage and have been thinking about writing a Medium post about it. I ended up going around `PINRemoteImageManager.prefetchImagesWithURLs` because it doesn't return the UUIDs of any created operations. Ideally you want the flexibility of cancelling those requests as well.

The trick with preloading is that you need to store the URLs a

[2016-05-10 12:24] danielgalasko commented on #115
@mRs- not sure how your PR addresses preloading? Looks like you added stuff for progressive images?

[2016-05-10 20:31] garrettmoon commented on #169
@danielgalasko It should be pretty straightforward to allow init'ing with another callback queue!

[2016-05-11 07:30] danielgalasko commented on #169
Cool 🍌🍌🍌, don't mind making a PR as I can see the value of this. Only consideration is to go with `NSOperationQueue` or a GCD queue. Personally I prefer using a GCD queue in this instance because the API provided by NSOperationQueue might imply cancellation and dependencies which don't make sense in the context of completion and progress blocks. There is some good [conversation](http://stackoverfl

[2016-05-12 05:45] gudjao commented on #198
Using cocoapods 1.0 fixes the problem for me.

[2016-05-12 14:16] maicki opened #200 "FLAnimatedImage header not found if adding 3rd party pod with FLAnimatedImage dependency"
Adding e.g. NYTPhotoViewer as new pod besides AsyncDisplayKit / PINRemotImage. NYTPhotoViewer adds FLAnimatedImage as dependency and installs it within the workspace. PINRemoteImage will set USE_FLANIMATED_IMAGE to 1, but for some reason cannot import the FLAnimatedImage headers. To fix this issue we have to explicitly add PINRemoteImage with FLAnimatedImage support to the Podfile:

[code]

[ASDKG

[2016-05-12 17:23] garrettmoon commented on #200
Yeah, ASDK and PINRemoteImage don't include FLAnimatedImage support by default. You need to specify the subspace.

[2016-05-12 17:23] #200 closed

[2016-05-12 17:24] garrettmoon commented on #194
@rounak I'm going to close this for now. If you can provide a test case or even better a unit test, I'll happily re-open.

[2016-05-12 17:24] #194 closed

[2016-05-12 17:36] garrettmoon commented on #158
@smyrgl Can you reproduce this on the 1.0.0 release of CocoaPods? I'm not able to. Please ping this thread if you're able to and I'll re-open the issue.

[2016-05-18 15:10] matheusleite commented on #181
I have the same issue.
I do not calling the wrong method

[2016-05-18 15:50] garrettmoon commented on #181
@matheusleite are you able to reproduce the issue? Can you provide a sample project? The crash is an unrecognized selector, so it should be reproducible reliably…

[2016-05-18 17:05] matheusleite commented on #181
I installed PINRemoteImage through cocoapods and import the libraries:

`#import <PINRemoteImage/PINImageView+PINRemoteImage.h>`

then, when I try to run the app, in the cellForRow tableView delegate method, crash when I try to use pin_setImageURL on my UIImageView embed on my TableViewCell, look:

![screen shot 2016-05-18 at 14 01 49](https://cloud.githubusercontent.com/assets/7133438/15367898/68

[2016-05-18 23:43] garrettmoon commented on #181
@matheusleite would you be willing to send me your project? garrett@pinterest.com. If so, I should be able to figure this out. It's quite strange! I'm guessing it's a problem with the configuration of the project.

[2016-05-19 02:57] PhilCai1993 opened #201 "What does srand([[NSDate date] timeIntervalSince1970]) do?"
Why adding ```srand([[NSDate date] timeIntervalSince1970]);``` ?
I'm curious...

[2016-05-19 17:41] garrettmoon commented on #201
Looks like you're referring to the example apps? I assume it's to ensure that the random numbers aren't deterministic on each run.

[2016-05-19 17:41] #201 closed

[2016-05-19 17:47] PhilCai1993 commented on #201
Thanks😃
I read your new post on Pinterest blog yesterday. I'm really curious about the techs referred in that. I wish new posts will come soon
在2016年05月20日 01:41，Garrett Moon 写道:

Looks like you're referring to the example apps? I assume it's to ensure that the random numbers aren't deterministic on each run.

—
You are receiving this because you authored the thread.
Reply to this email directly o

[2016-05-19 17:51] garrettmoon commented on #201
@PhilCai1993 We're working on more blog posts!

[2016-06-03 14:31] george-gw opened #202 "PINAnimatedImage crash CGImageCreate image 0x0"
I'm writing a prototype for an app with AsyncDisplayKit, in essence, right now, it's just an ASCollectionNode with some ASCellNodes. In the nodes, there's an ASNetworkImageNode and an ASTextNode. The displayed images could have animated gifs, I have been doing some stress test with some node manipulation (changing the text inside the nodes). And at some point the app crashed with the following mes

[2016-06-03 14:52] george-gw opened #203 "PINAnimatedImage crash with _status = PINAnimatedImageStatusProcessed"
I'm writing a prototype for an app with AsyncDisplayKit, in essence, right now, it's just an ASCollectionNode with some ASCellNodes. In the nodes, there's an ASNetworkImageNode and an ASTextNode. The displayed images could have animated gifs, I have been doing some stress test with some node manipulation (changing the text inside the nodes). And at some point the app crashed with the following mes

[2016-06-03 16:47] garrettmoon commented on #203
@george-gw Thanks for the report! I think this may be an issue where the lock isn't held long enough. I'll put up a PR.

[2016-06-03 22:14] garrettmoon commented on #203
Hmm, looked at this further and it's not an issue with the lock I don't think :/. @george-gw Are you able to reproduce this reliably?

[2016-06-03 22:36] garrettmoon commented on #202
@george-gw If you're able to reproduce this reliably, I'd greatly appreciate a sample project!

[2016-06-07 09:22] george-gw commented on #203
@garrettmoon thank you for your reply!
I tried to reproduce it this morning, but I was unsuccessful. However when I was trying it on Friday, it was crashing, at random times, but quite frequently that's why I reported it.

[2016-06-07 12:07] george-gw commented on #202
@garrettmoon this crash happens very rarely and I am unable to reproduce it, it happened a few times, at random. Is there something you'd like me to look for when/if this happens again?

[2016-06-07 12:07] george-gw commented on #203
@garrettmoon not quite, it's difficult to reproduce as it's very sporadic. I could share the project but I don't really have a clear way of reproducing it, other than: keep scrolling up and down and hope that the crash appears! Would you like me to do something for when the problem occurs or would you prefer the project and trying to get the app to crash by doing it?

[2016-06-07 16:59] garrettmoon commented on #203
If you could send the project to garrett@pinterest.com I'll take a look when I can get some time.

I have a hunch that it *might* be related to the weak map of _animatedImages in PINAnimatedImageManager. You could also try changing line 91 from:
`_animatedImages = [[NSMapTable alloc] initWithKeyOptions:NSMapTableWeakMemory valueOptions:NSMapTableWeakMemory capacity:1];`
to
`_animatedImages = [[NSM

[2016-06-07 17:03] garrettmoon commented on #202
I'm guessing we probably need to build a stress unit test. One that creates a bunch of the same GIF over and over and also dealloc's them quickly. Either that or the GIF is corrupted / zero sized…

[2016-06-08 08:34] george-gw commented on #203
I sent you the sample code by email @garrettmoon, thank you for taking the time to check things out.

Regarding your suggestion, switching to NSMapTableStrongMemory might have fixed both this issue and issue #202, well at least it made it less probable for it to occur as I couldn't get it to crash during the time that it normally would have crashed. However, I ended up with a different issue (a lo

[2016-06-08 08:39] george-gw commented on #202
The GIF is repeated on different cells as you will see in the sample project (sent by email). The image appears on some cells, which means that for some others, it's failing, even though that GIF should be used from cache rather than re-downloaded and re-computed. You will also notice that at some points the image will not show at all until you scroll it away and back in.

[2016-06-09 14:52] chriseman commented on #113
unfortunately now the case has come and we need the support of FLAnimatedImage for another project and we still receive the same error with version '2.1.4'

[2016-06-10 07:09] k06a opened #207 "Sequentially download image with several qualities failed"
I would like to download 2 qualities of image sequentially, but `2.0.0+` versions are a little bit broken I think.

Following code not works properly – not loading second image:
[code]
Works always with this workaround:
[code]

[2016-06-10 22:04] rex-remind101 commented on #113
I do need `FLAnimatedImage` support. Is there any solution to this?

[2016-06-13 16:29] rex-remind101 commented on #113
@garrettmoon any solution to this? Is it possible that the compiler directive  `#if USE_FLANIMATED_IMAGE` is causing `FLAnimatedImage` to not import as a module?

[2016-06-13 16:37] chriseman commented on #113
As far as I know, if you use the "pod 'PINRemoteImage/Core'", then the USE_FLANIMATED_IMAGE flag is set to false, and FLAnimatedImage will not be imported

[2016-06-13 17:27] rex-remind101 commented on #113
Hmm... My intention is to have it imported and it worked until switching to using frameworks. I'm using cocoapods, and I'm curious if there's something being ignored because of this compiler directive. The error is
[code]
Which I think implies that the header is trying to import `FLAnimatedImageView` as a static framework instead of a module, hence "non-modular". The obvious culprit would be the c

[2016-06-13 17:31] chriseman commented on #113
Unfortunately I had no time to investigate the problem or the reason causing the compiler error. However what leaves me puzzled is that obviously no one before had this problem using PinRemoteImage inside of a framework.

What Cocoa Pods are you currently using?

[2016-06-13 17:43] rex-remind101 commented on #113
`1.0.1`

[2016-06-13 17:45] chriseman commented on #113
ok, so at least it has nothing to do with CocoaPods, as I am still on 0.39.0

[2016-06-13 19:00] garrettmoon commented on #207
@k06a what version specifically? Master has a dispatch to the main queue automatically.

[2016-06-13 19:03] k06a commented on #207
@garrettmoon 2.0.1

[2016-06-13 19:36] garrettmoon commented on #207
Hmm, that's very surprising. 2.0.1 has this behavior as well. Mind doing a little bit of diagnosis? Putting a breakpoint into the completion callback and seeing where it goes and why it's not dispatch asyncing to the main thread just like your workaround? Or I'd be happy to look if you can package up a project that behaves this way.

[2016-06-14 09:21] k06a commented on #207
In version `2.1.4` completion block does not called not on main thread also. So bug can be reproduced for any version between `2.0.1` – `2.1.4`.

[2016-06-14 17:16] garrettmoon commented on #207
the completion block is *not* guaranteed to be called on the main thread as per documentation. It may make sense to change this for the UIView categories though.

[2016-06-16 17:34] chriseman opened #208 "Include of non-modular header inside framework module"
please open this issue again, as it hasn't been fixed and other users have the same problem

https://github.com/pinterest/PINRemoteImage/issues/113#issuecomment-225655042

[2016-06-16 23:47] garrettmoon commented on #208
Re-opened

[2016-06-16 23:47] #208 closed

[2016-06-19 09:50] oferRounds opened #209 "Question: Progressive JPEG vs WebP vs URLs of varying quality"
Hi
First of all - thanks for this really really amazing library!

I'd like to ask a question please:
In my app most of image are ones which are uploaded by the client - via the users themselves.
I would like to use one of options which are supported by this library for combatting slow connections.

My question relates to the fact that I'm not sure which of the 3 options would work out best for me.

[2016-06-19 10:13] oferRounds opened #210 "Question: checking if image exists in cache"
When downloading an image and presenting it via a `UIImageView` instance, if image is not available on cache, I'd like to show an `Activity Indicator`.

I would like not to present the indicator if image is already available, so I want to check this before starting to present the indicator.

My questions are:

- Is this the right way to do it?

[code]

-  If so, is doing that will cause the image

[2016-06-19 13:43] maicki commented on #210
@oferRounds I don't know if this newly added API for `PINCache` is already available within `PINRemoteImage`, but instead of using `objectForKey:` on the cache you can use `containsObjectForKey:`. So it would look like:

[code]

`containsObjectForKey` does not decode any image it is just checking if the image is available on the disk. That said this is happening synchronously there is also an asyn

[2016-06-19 13:46] oferRounds commented on #210
@maicki - that's a good idea, thanks a lot for replying!

[2016-06-20 06:50] nickvelloff commented on #25
[code]

[2016-06-20 09:11] matrixx commented on #152
Hi! Just bumped into the same issue. What's the status of the upcoming fix?

[2016-06-20 14:47] dtorres opened #211 "[Feature Proposal] URLRequest configuration"
I would like to manipulate some properties of the request before is sent to the session, specifically `allowsCellularAccess` but other developers may find this useful to authenticate their requests through custom HTTP headers.

Currently it is only possible to modify these values at the session level, applying them to every request.

Implementation ideas:
- Add a parameter to PINRemoteImageManager

[2016-06-20 17:41] garrettmoon commented on #152
@matrixx @rounak I'm ok with this integrating at the manager layer if we can get something in before 3.0. However, I'd rather it be configurable instead of just using the main screen's scale.

[2016-06-20 19:21] garrettmoon commented on #25
@mobileexpert1 @nickvelloff it's possible that something is configured incorrectly (I don't know much about Carthage), but that error happens when you try to build carthage from the root directory. It appears to work if you cd into the PINRemoteImage folder at the root of the project.

[2016-06-20 19:29] garrettmoon commented on #210
Another trick: PINRemoteImageManage will return nil from it's methods (instead of an operation NSUUID) when it retrieves the image from the memory cache. While it won't return nil when returning it from the disk cache, this would at least allow you to avoid showing it for the disk cache.

Gonna close this issue, feel free to reply back if you think if you'd like to work on adding more robust suppo

[2016-06-20 19:29] #210 closed

[2016-06-20 19:34] garrettmoon commented on #209
WebP is more expensive to decode on device because there's no dedicated hardware. I think WebP may have a progressive option, but PINRemoteImage doesn't support it. Smaller download than JPEG, but bigger on device cost. Choosing this over JPEG depends on the network conditions of your users and the types of device they predominantly use.

Progressive JPEG is pretty awesome.

URLs of varying qualit

[2016-06-20 19:34] #209 closed

[2016-06-20 21:47] oferRounds commented on #209
@garrettmoon - thanks for your detailed answer!

One last question - does every JPEG supports Progressive, or when I decode and upload the image it should already be done for that purpose (i.e., in the way which supports it)?

[2016-06-20 21:53] oferRounds commented on #210
@garrettmoon - thanks for this one also! I'll look into submitting a PR :)

[2016-06-20 21:54] garrettmoon commented on #209
@oferRounds not every JPEG supports progressive, it depends on how it's encoded.

[2016-06-20 21:55] oferRounds commented on #209
Got you - thanks again!

[2016-06-20 22:12] garrettmoon commented on #211
I like the idea of a block which can be set which will be called to configure the request. Something like the  `authenticationChallenge` block that currently exists.

[2016-06-21 09:09] dtorres commented on #211
Having a block property in the manager takes away all the context a user might need. And considering that the only input the user has is the URL, which is useless since at this point it could've come from anywhere in the app (or the network for that matter)

[2016-06-21 17:38] garrettmoon commented on #211
We could also pass in the UUID? The concern I have with passing it in as part of the operation is that multiple areas of the app could be requesting the same image but with different request parameters. PINRemoteImage will only generate one request for multiple requests of a URL. How would it reconcile which set of request parameters to use?

[2016-06-21 21:24] nickvelloff commented on #25
@garrettmoon This would likely work, as it would remove the examples from the scope of the build. The problem is that when using this as a dependency in another project, I don't know how you would target a specific sub-directory to build. Reading around Carthage docs, I'm not sure that is possible.

[2016-06-22 10:35] dtorres commented on #211
makes sense, and let the user reconcile according to their needs

[2016-06-22 13:00] matrixx commented on #152
Great! I'll be following this.

[2016-06-23 22:05] garrettmoon commented on #25
@nickvelloff well I'm happy to accept any PRs to improve the situation! Sadly I don't use Carthage so I'm not the best person to work on this :(

[2016-06-23 22:43] nickvelloff commented on #25
@garrettmoon Right on. I'll whip one up.

[2016-06-23 23:09] nickvelloff commented on #25
@garrettmoon Actually ASDK, which was the focus of this issue for me, has added `PINRemoteImage` to the official dependencies (optionally). This resolves the issue for me. I'm working with the team there to help with Carthage so PRs may be coming, but I want to see how things play out so not going to jump in quite yet.
Thanks for this lib though!

[2016-06-23 23:14] garrettmoon commented on #25
Sounds great! I work with those guys and gals so I think we can figure out how to get any PRs that come from it merged :)

[2016-06-29 07:42] kalrashubham49 opened #212 "Partial downloaded image not getting stored in cache"
I am trying to fetch p-jpegs using this library .

But if an image is partially downloaded it is not stored in cache and neither library is resuming download from the point it left.

[2016-06-29 22:23] garrettmoon commented on #212
@kalrashubham49 that's correct, we don't store progressive renders in the cache (because they are bitmaps, they would be quite large).

Why would you want the progressive renders stored in the cache?

[2016-07-07 01:44] nickvelloff opened #214 "PINAnimatedImageStatusUnprocessed assertion during animated transition"
Hi. Got a crash I thought I would report. This was during an AsyncDisplayKit layout transition. Not sure if it is helpful, but there is one `.gif` in the data set that was displayed.

<img width="910" alt="screenshot 2016-07-06 18 42 00" src="https://cloud.githubusercontent.com/assets/885369/16640013/89030864-43a9-11e6-9f38-562baeeb47ec.png">

[code]

[2016-07-07 17:19] nickvelloff commented on #214
Possible dupe of https://github.com/pinterest/PINRemoteImage/issues/203 - leaving open in case it is not.

[2016-07-14 12:57] alexcohn opened #216 "PINRemoteImageManager cancel task"
My questions are about a specific line of code:

[`[strongSelf.canceledTasks removeAllObjects];`](https://github.com/pinterest/PINRemoteImage/blob/master/Pod/Classes/PINRemoteImageManager.m#L542)

1. Why do we remove all objects from the `canceledTasks` list on _any_ completion of `downloadImageWithURL` if its UUID is different?
2. Why don't we remove objects  from the `canceledTasks` list on comp

[2016-07-14 14:24] alexcohn opened #217 "PINRemoteImageManager.setPriority"
On the face of it,
[`break`](https://github.com/pinterest/PINRemoteImage/blob/master/Pod/Classes/PINRemoteImageManager.m#L945) only stops the inner loop [`for NSUUID *blockUUID in [task.callbackBlocks allKeys]`](https://github.com/pinterest/PINRemoteImage/blob/master/Pod/Classes/PINRemoteImageManager.m#L942), but not the outer loop [`for (NSString *key in [strongSelf.tasks allKeys])`](https://gith

[2016-07-16 08:33] alexcohn commented on #169
I tend to agree with @DavidNix: there is zero cost if a completion is **nil**, and I cannot imagine a progress callback that is not on the UI thread

[2016-07-16 10:33] danielgalasko commented on #169
Cool, submitted #222

[2016-07-25 07:52] yxztj commented on #158
@garrettmoon I'm using Cocoapods 1.0.1 and also facing this issue. It's easy to repro.
Repro steps:
1. Create an empty project
2. Create a podfile as follows:
`
target 'testPIN' do
  use_frameworks!
  pod 'PINRemoteImage'
  pod 'PINRemoteImage/WebP'
end`
3. pod install
4. open the newly created workspace, and build, an error pops up saying:
￼
![1 pic](https://cloud.githubusercontent.com/assets/333

[2016-07-27 09:57] skeeet commented on #31
@garrettmoon is this still a thing?
Because if it is, then i'd suggest to extend feature scope to having customizable downloader as well, and have working implementation with pluggable cache/download manager, which i'll gladly cleanup and submit as PR.

[2016-07-27 10:29] kalrashubham49 opened #224 "Application Crashing with Message (Exercised class for selector implementation needs to be pushed)"
Application is crashing and giving error shown Below:

Fatal Exception: NSInternalInconsistencyException
Exercised class for selector implementation needs to be pushed

<img width="955" alt="screen shot 2016-07-27 at 3 59 08 pm" src="https://cloud.githubusercontent.com/assets/13597940/17172511/170e4866-5413-11e6-92f6-41a2239d5f09.png">

Lot of users are affected and i am not able to track this cra

[2016-07-27 16:04] garrettmoon commented on #158
There appears to be an issue with the webp cocoa pod :( I don't think this is something that can actually be fixed on our end, but needs to be addressed in the webp repo. As far as I can tell, this will occur with *any* cocoapods project that has the webp repo as a dependency.

I would suggest opening an issue here: https://bugs.chromium.org/p/webp/issues/list

FYI, it still appears to work with 0

[2016-07-27 16:21] garrettmoon commented on #224
@kalrashubham49 can you give some more information? Any way to reproduce?

[2016-07-27 16:26] garrettmoon commented on #31
@skeeet That'd be great!

[2016-07-27 18:21] kalrashubham49 commented on #224
When I run this application in development environment, it never occurred ,
but I have received 65 such crashes for 55 users as per crashlytics record
for my Live Appstore build

On 27 Jul 2016 21:52, "Garrett Moon" <notifications@github.com> wrote:

[2016-07-27 20:39] garrettmoon commented on #224
@kalrashubham49 hmm, I'm not sure how to investigate this further. What kind of images are being shown? Could the image format be unsupported?

[2016-07-28 10:31] yxztj commented on #158
@garrettmoon Thanks for the reply.
I'm not sure how webp's integrated with Cocopods. But we have another project using SDWebImage with WebP subspec, it's working without any build issue.
Seems this one is related: https://github.com/rs/SDWebImage/issues/1444

[2016-07-28 23:15] skeeet commented on #31
PR #225 does not include customizable downloader for now.

[2016-08-01 18:47] davitPiloyan93 commented on #203
HI,I'm writing a prototype for an app with AsyncDisplayKit, and can reproduce this crash  in my test application,please fix that crash.
This is video ,how can reproduce that crash .In 1.55 second crashed application.
https://drive.google.com/file/d/0B05hQ25cGDZyVmVCTTk5MHo5MlU/view?usp=sharing
[PintRemoteImageCrash.zip](https://github.com/pinterest/PINRemoteImage/files/394522/PintRemoteImageCrash.

[2016-08-03 00:01] garrettmoon commented on #216
Hopefully the pull request answered your question, lemme know if not!

[2016-08-03 00:01] #216 closed

[2016-08-03 00:03] garrettmoon commented on #158
@yxztj ooh! a workaround, thank you! I'll reopen this and see if I can't come up with a PR.

[2016-08-05 23:13] garrettmoon opened #227 "Allow custom downloader"
Specifically look at `PINURLSessionManager` (class), `sessionTaskWithURL:key:options:priority:` (in PINRemoteImageManager) `downloadDataWithURL:key:priority:completion:` (in PINRemoteImageManager) and `PINDataTaskOperation` (class)

To be frank, it could definitely use a bit of cleanup to make things clearer. There are also a couple specific features that are pretty tied in (PINRemoteImage keeps a

[2016-08-05 23:15] garrettmoon commented on #224
Going to close this for now, will re-open if more info is posted.

[2016-08-05 23:15] #224 closed

[2016-08-06 15:17] garrettmoon commented on #158
Should be fixed, sorry it took so long to understand!

[2016-08-06 15:17] #158 closed

[2016-08-09 15:20] CavalcanteLeo opened #228 "<PINRemoteImage/PINRemoteImageCaching.h> file not found"
Installed with pod

![captura de tela 2016-08-09 as 12 16 14](https://cloud.githubusercontent.com/assets/1735944/17521851/4f5be094-5e2b-11e6-9a6f-addec0b1e8df.png)

![captura de tela 2016-08-09 as 12 16 59](https://cloud.githubusercontent.com/assets/1735944/17521850/4f322aba-5e2b-11e6-9d71-e9d6fb777979.png)

[2016-08-09 15:29] CavalcanteLeo commented on #228
but with manually installing, worked!

[2016-08-10 15:26] CavalcanteLeo commented on #228
no one?

[2016-08-10 16:49] garrettmoon commented on #228
@CavalcanteLeo can you possibly give a bit more info?

[2016-08-10 17:13] CavalcanteLeo opened #230 "High Memory use"
Device: an older device (iPod touch 5th generation - ME643BZ/A)

In a UICollectionView, with a lot of imagens the app crashes by exaggerated amount of memory used (usually when I scroll too fast)

In a quick debug, I found this:

![captura de tela 2016-08-10 as 14 04 46](https://cloud.githubusercontent.com/assets/1735944/17563163/6efb8baa-5f04-11e6-9972-981931f41780.png)

![captura de tela 2016-08

[2016-08-10 17:17] leonardo-ferreira07 commented on #230
👍

[2016-08-10 17:20] garrettmoon commented on #230
Let me know if you have any more information you'd like to add, I'll re-open the issue.

[2016-08-10 17:20] #230 closed

[2016-08-10 17:20] garrettmoon commented on #228
Let me know if you have any more information to add, I'll re-open the issue.

[2016-08-10 17:21] CavalcanteLeo commented on #228
Sure, I installed PINRemoteImage with cocoapods.

But the pod folder doesn't have all files that the project have.

Should have all those files: https://github.com/pinterest/PINRemoteImage/tree/master/Pod/Classes

instead, have only the print above

[2016-08-10 17:23] garrettmoon commented on #228
@CavalcanteLeo what version of cocoa pods (`pod --version`) do you have? Can you post your Podfile?

[2016-08-10 17:24] CavalcanteLeo commented on #228
pod 'PINRemoteImage', '2.1.4'

[2016-08-10 17:24] CavalcanteLeo commented on #228
also tried with 3 beta

[2016-08-10 17:25] CavalcanteLeo commented on #228
i friend ( @leonardo-ferreira07 ) of mine had the same issue

[2016-08-10 17:31] CavalcanteLeo commented on #228
cocoa pods version 1.0.1

[2016-08-10 17:37] garrettmoon commented on #228
@CavalcanteLeo I just created a new test project with Xcode and a podfile (I also tried 2.1.4) on cocoa pods 1.0.1:
[code]
Both compiled fine for me. Are you sure you have the .xcworkspace open and not the .xcproject?

[2016-08-10 17:48] CavalcanteLeo commented on #228
hehe, of course, it's an old project, with a lot of pods, i just switched from SDWebImage to PINRemoteImage

[2016-08-10 17:49] leonardo-ferreira07 commented on #228
@garrettmoon yeah, this compiled fine for us too. But, @CavalcanteLeo have a doubt if this class is used or not by the library, and in the main if this class is used to do a progressive loading.

[2016-08-10 17:50] CavalcanteLeo commented on #228
I can't import the class PINRemoteImageCaching

[2016-08-10 17:51] garrettmoon commented on #228
Ohhh, I see, you're trying to import PINRemoteImageCaching.h but you're not able to because it's not exposed via cocoa pods, that's the issue?

[2016-08-10 17:52] CavalcanteLeo commented on #228
Yep, i tried to reproduce this example:
https://github.com/pinterest/PINRemoteImage/blob/master/Example/PINRemoteImage/ProgressiveViewController.m

[2016-08-11 18:21] garrettmoon commented on #228
@CavalcanteLeo @leonardo-ferreira07

Ahh, ok, that file isn't in a release yet, it's only in master. Take a look at the Example in the actual repro that you're using:

https://github.com/pinterest/PINRemoteImage/blob/3.0.0-beta.3/Example/PINRemoteImage/ProgressiveViewController.m

[2016-08-11 18:21] #228 closed

[2016-08-11 21:02] CavalcanteLeo commented on #228
damn, just got confused between the branches.. lol 😰  😰

Thank you @garrettmoon, and can't wait for the immutable data model open source

[2016-08-11 21:20] garrettmoon commented on #228
No worries :) (immutable data model is coming… higher priority things have been prevailing 😀)

[2016-08-12 17:13] leonardo-ferreira07 opened #231 "Try to use WebP file"
Hello, @garrettmoon!

Here is my problem: i'm trying to test the WebP image format in my project, i'm using the same method ```[self.imageView pin_setImageFromURL:[NSURL URLWithString:@"http://www.gstatic.com/webp/gallery/3.webp"];``` of your example in the repository, and doesn't work. I saw in another closed issue, that you said to add **pod 'libwebp'** to my ```.Podfile```, i added it and then

[2016-08-12 18:28] garrettmoon commented on #231
@leonardo-ferreira07 did you figure it out? I saw your pull request (and merged)

[2016-08-12 18:30] leonardo-ferreira07 commented on #231
@garrettmoon i searched for issues closeds here, and i discover how to do the WebP images works perfectly. Just add a ```PINRemoteImage/WebP``` subspec to my ```Podfile```. Then, this is so related with issue #158. I suggested a little modification in README.md, and create a pull request #232.

[2016-08-12 18:30] #231 closed

[2016-08-12 18:33] leonardo-ferreira07 commented on #231
Yeah, problem solved! Thank you for this great repository, and thanks to for accepting my pull request. :)

[2016-08-12 18:34] garrettmoon commented on #231
Glad to hear it! Thank you for improving the README :)

[2016-08-14 06:40] alexcohn commented on #216
Thanks, this fix looks good

[2016-08-15 18:57] carl-donath-tinroof commented on #212
If an image is partially downloaded, need a way to
- use (right now) the best image an incomplete progressive render can provide (lest have to re-fetch & wait for what has already been fetched)
- resume the partial download
and/or [why I'm actually posting this]
- mitigate multiple requests for the same image, none of which have completed yet (and some/all of which are under way, dividing effectiv

[2016-08-15 19:51] garrettmoon commented on #212
@carl-donath-tinroof
If you try and download an image multiple times, only one download will ensue and if each download operation has a progressive block, each block will be called when there are progressive results. You are correct though, if you kick off one download option which begins rendering progressive results, starting another download operation will not immediately vend the last progress

[2016-08-15 20:01] carl-donath-tinroof commented on #212
So to clarify a nuance I'm tangled in: if you request a single image (same URL) several times practically at the same time (no chance for any request to finish downloading any meaningful amount of data), perhaps interleaved with several other similarly multiple requests, it will - or won't - start only one download stream (recognizing there are several requests) per same URL? or might we get multi

[2016-08-15 20:07] garrettmoon commented on #212
Correct, only one download for many download requests of the same URL. If an existing download is running (task) any additional calls with the same URL will get attached to that task. If any of the download requests requested progressive callbacks, those will occur when enough data has been downloaded to generate one, regardless of when a request was attached to a task.

[2016-08-22 19:22] ezefranca opened #235 "Impossible use setPin_updateWithProgress in Swift"
Because the name of the class, its impossible to import in Swift.

[2016-08-22 19:54] garrettmoon commented on #235
@ezefranca I believe it's the correct way to provide a property override for a category method which has a prefix in Objective-C. Any ideas for a solution?

[2016-08-22 20:25] ezefranca commented on #235
It's one solution. But another approach are use the Macro **NS_SWIFT_NAME**
https://developer.apple.com/library/ios/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html

[2016-08-22 20:30] garrettmoon commented on #235
Neat! Would you be interested in putting up a PR to fix? I'd happily review :)

[2016-08-29 17:08] sainttail opened #236 "Is there a way to set new sharedManager?"
For example, when logout and login again in the app. We need to initiate the new session for `PinRemoteImageManager` but we have no way of setting this new session configuration to `sharedManager` when it is already instantiate.

Because of this we will lose all the categories support for `UIImage` and `UIButton` since those depends on `[PinRemoteImageManager sharedManager]` since the only thing w

[2016-08-31 01:40] AndrewSB opened #237 "Move from `pin_` prefix to a `pin.` proxy (for Swift 3) update ?"
I thought this would be nice for use in swift 3.
Incredibly similar to this change https://github.com/ReactiveX/RxSwift/issues/826

[2016-08-31 09:28] liaogang opened #238 "How to avoid the image being auto saved to the cache?"
I want to save the transformed image to the cache when download complete.
[PINRemoteImageManager downloadImageWithURL... ]

[2016-09-01 00:03] garrettmoon commented on #237
Thanks for pointing to a fix! I'm out of the country for ~3 weeks. I'll look at putting up a PR when I'm back. If you want to put up a PR I can get one of my colleagues to look at it.

[2016-09-01 00:08] garrettmoon commented on #238
If you use the Processing API:
downloadImageWithURL:(nonnull NSURL *)url
                                  options:(PINRemoteImageManagerDownloadOptions)options
                             processorKey:(nullable NSString *)processorKey
                                processor:(nullable PINRemoteImageManagerImageProcessor)processor
                               completion:(nullable PINRemoteImag

[2016-09-01 00:08] #238 closed

[2016-09-05 12:43] k06a opened #239 "Feature request: support Base64 inlined images"
Some `NSURL`s can contain inlined images like this:

I think it would be perfect to support this URLs in `PINRemoteImage` not to handle this urls in a special way. What do you think? I think I am able to do this contribution myself.

https://en.wikipedia.org/wiki/Data_URI_scheme

[2016-09-08 18:53] rmato opened #243 "App crashes due to Out of Memory Exception with PINRemote"
I am using PINRemoteImage to download images and cached them in my app. My app uses lots of images, just like instagram so the images memory increases all the time. And I have lots of crashes due to out of memory.

Is there a way to set a limit of MB to store in cache? Is there a way to free memory once it's full before the app crashes?

Thanks!

[2016-09-08 19:12] appleguy commented on #243
The memory cache should be emptied in case of memory warning.  I think your issue is more likely to be parts of your app that are holding onto the image references directly - like view controllers or views that aren’t being released.

Have you tried looking at the Instruments Object Allocations / Leaks tools, or the Xcode 8 Memory Graph features?  It should help find it quickly.

[2016-09-09 01:35] AndrewSB opened #244 "Swift 3 support"
Hey!

I was wondering if pinterest already had established a timeline to upgrade this library to Swift 3?

[2016-09-09 03:53] appleguy commented on #244
It’s not currently scheduled, just because we weren’t aware of the types of changes required to support it.  At the moment the maintainers aren’t using Swift, although we care a lot about ensuring there are no blockers to smooth & elegant usage in Swift.

If you could summarize what types of changes are required to achieve this, that would be helpful - and we’d be very interested in expediting the

[2016-09-13 02:11] AndrewSB commented on #244
I made this before testing! I mistakenly assumed the library wouldn't work with swift 3 😄

[2016-09-13 02:11] #244 closed

[2016-09-14 20:04] lukeivers commented on #235
i seem to be able to set it via `imageView.pin_updateWithProgress = true`

[2016-09-15 23:43] lukeivers commented on #243
So I am using PINRemoteImage to download and cache progressive images in a table view.  The memory balloons massively while I am scrolling, but quickly smashes itself back down when scrolling stops.  When testing on my phone, I can cause crashes with this.  On the simulator, I can't usually get it to crash, but I get horrible stuttering in scrolling the table and have seen memory usage jump as hig

[2016-09-16 08:09] danielgalasko commented on #243
Yeah I do think this might be a result of your implementation and not specifically PINRemoteImage. @lukeivers if you could drop some stack traces and maybe snippets of how your cells are using image loading etc that would be great 😄

[2016-09-16 17:00] lukeivers commented on #243
Sure thing.  I don't have any stacktraces yet (I have some configuration wrong and am not properly capturing debugging info from running it on my phone, and it doesn't actually CRASH on the simulator, just uses massive amounts of memory).

A few related notes, first:

- Telling it to prefetch all the URLs for my entire table data source made it jump to ~4GB of memory consumed
- Because of that, I

[2016-09-16 17:52] lukeivers commented on #243
One can see here that it's consuming MASSIVE amounts of memory in CG raster data:

<img width="701" alt="screen shot 2016-09-16 at 10 51 36 am" src="https://cloud.githubusercontent.com/assets/962696/18595903/948862da-7bfb-11e6-9a16-06b27f60f466.png">

[2016-09-16 17:56] lukeivers commented on #243
Ok, the last one was on my simulator, this one is from my actual phone:

<img width="1026" alt="screen shot 2016-09-16 at 10 55 03 am" src="https://cloud.githubusercontent.com/assets/962696/18596015/1916b68c-7bfc-11e6-8e60-3f0f28158257.png">

[2016-09-16 18:06] lukeivers commented on #243
One final note: I'm not actually getting a crash on my phone.  The app just disappears.  I think that the system memory watchdog is killing off my app due to excessive memory usage, as opposed to it being a genuine crash from some direct bug in the code.

[2016-09-16 23:44] lukeivers commented on #243
Update: if I set the defaultOptions for my imageView to include DownloadOptionsSkipDecode, it reduces the performance of scrolling on my table to... well, completely non-viable BUT it does completely prevent the crash / memory issues from occurring.

I found this because I finally got some error messages in a console to appear, and they looked like this:

CGBitmapContextInfoCreate: unable to alloc

[2016-09-17 00:31] appleguy commented on #243
You may need to differently configure your .memoryCache object, e.g. set a different cost limit for the cache.

I'm not too familiar with the intended behavior here — with AsyncDisplayKit (which closely integrates with PINRemoteImage), the framework proactively frees memory for images that are a certain distance from the screen.  I believe with a traditional UIKit approach, you either need to manu

[2016-09-19 21:05] lukeivers commented on #243
So, I think that part of the issues it that (from what I can tell) it doesn't appear to calculate the cost and validate that against the costLimit until after it has fully materialized the remote URL locally.  In the mean time, it's building the progressive images in memory (obviously), and those are consuming nearly or as much memory as the fully materialized object will in some cases.

So when y

[2016-09-20 08:39] oferRounds opened #247 "Question: identify two cached images as same image, just with different sizes"
Hi

in my app, I have this common scenario: same image may presented in different sizes (say for example, that in screen A it is presented in a view which is 200x200 points, and on B - 50x50 points).

Now, my server API expose a mechanism (via the URL's GET parameters) which allows the client to ask for an image in a specific size.

My question is then the following:
Lets say that screen A appeare

[2016-09-21 07:08] appleguy commented on #247
Great question, Ofer.  I think PINRemoteImage may be capable of this, but I don't know a definitive answer - @garrettmoon would.

If you are also using AsyncDisplayKit, note that ASMultiplexImageNode was designed for this behavior and should be able to do what you want.  It even scales the image representations it uses during animations, with automatic asynchronous fetching and decoding of the bes

[2016-09-21 20:16] garrettmoon commented on #247
@oferRounds I believe `downloadImageWithURLs:(nonnull NSArray <NSURL *> *)urls
                                   options:(PINRemoteImageManagerDownloadOptions)options
                             progressImage:(nullable PINRemoteImageManagerImageCompletion)progressImage
                                completion:(nullable PINRemoteImageManagerImageCompletion)completion;`

will do nearly what you

[2016-09-21 20:38] oferRounds commented on #247
@appleguy - thank you (as always)! So that's another good reason for me to integrate AsyncDisplayKit!

@garrettmoon - thank you too! I'm actually now doing a work following your advice for a previous question I asked in the past - combining both Progressive JPEG and several URLs of varying quality. So I am about to use the method you mentioned.

Your suggestion sounds good for now. I'll start with

[2016-09-21 20:38] #247 closed

[2016-09-21 20:54] garrettmoon commented on #247
Thanks for the feedback! I'm always happy to hear when the project helps others :)

[2016-09-21 20:56] oferRounds commented on #247
👍👍😊

[2016-09-21 23:03] garrettmoon commented on #235
@ezefranca does lukeivers' solution work for you? If not would you be willing to provide a test app that shows the issue?

[2016-09-21 23:04] garrettmoon commented on #239
Thanks for putting up the PR!

[2016-09-21 23:04] #239 closed

[2016-09-21 23:13] garrettmoon commented on #243
@lukeivers so it's not perfect, but there are several ways of limiting the amount of images being rendered at once:

- You can limit the number of concurrent downloads with `setMaxNumberOfConcurrentDownloads:completion:`
- You can limit the number of concurrent operations (rendering a progressive scan is an operation) with `setMaxNumberOfConcurrentOperations:completion:`. This is probably what you

[2016-09-21 23:39] lukeivers commented on #243
I ended up actually switching over to AsyncDisplayKit (which I was mostly only avoiding because I didn’t want to rebuild my UITableViewController, and then I had to do it for other reasons), which totally fixed my issues.

I did have max concurrent downloads set.  I did not have max concurrent operations set.  However, I think the primary issue is due to the way that cancelling operations/tasks wo

[2016-09-25 11:10] oferRounds opened #250 "Question: upgrade low quality image sometimes don't work"
Hi,

I'm using the method which allows to download several URLs of varying quality and combine it with turning on the option to upgrade low quality images.

My question is regarding the last option - the `PINRemoteImageManager`'s `setShouldUpgradeLowQualityImages:completion`. The problem I'm seeing is that sometimes not all images are upgraded (even when the internet does seem to work well).

Mayb

[2016-09-25 12:53] oferRounds commented on #250
One more related question: is there a way to force the download of varying quality images? I.e., even if the bandwidth is not good, I would still like the client to try to download the highest quality image (even if it will take time).

Alternatively, if there is a way to adjust the values which are used to define what is considered to be a good and a bad network, that can also work out for me.

[2016-09-26 10:08] oferRounds commented on #250
Ok, I'm sorry - I missed the relevant BPSThreshold methods.

But just to some up - I am trying to achieve the behaviour of which - given 3 URLs: low, medium, high - all 3 URLs are being tried to be download. My goal, if that makes sense, is to minimize the occurrences of situations of which the user sees a loading indicator, waiting for the image to arrive.

[2016-09-26 19:40] garrettmoon commented on #250
@oferRounds for your use case, I'd recommend a progressive JPEG instead if possible. You can change the percentage download required to show a scan and possibly also encode your JPEG such that a lower quality scan exists.

The downloadImages: method sadly isn't designed for what you're trying to achieve.

[2016-09-26 21:27] oferRounds commented on #250
@garrettmoon - thanks!
I actually use progressive JPEG, but I thought I can combine these two technics.
But sure - got you.

Regarding the `ProgressThresholds` array - a question just to make sure I understand:
I see that the default value is set to [0.0, 0.35, 0.65]. So if I understand right, the first value, 0.0, means that the first progressive image will be generated after 0% of the image was

[2016-09-26 21:31] garrettmoon commented on #250
Yes, that's exactly correct. So I guess you can't make a change to get the first scan to show up earlier except re-encoding your JPEGs :/

[2016-09-26 21:34] oferRounds commented on #250
Ok, got you :)
Then I'll look more into the re-encoding option.

Thanks for your response! :)

[2016-09-26 21:34] #250 closed

[2016-09-28 00:54] AndrewSB opened #251 "Using setAuthenticationChallenge?"
I'm currently using [Haneke](https://github.com/Haneke/HanekeSwift) for one of my projects, but was looking to switch over to this library 😄

I had some trouble understanding the authentication procedure with PINRemoteImage, and I couldn't find any documentation or examples 😿

[Here's a gist](https://gist.github.com/AndrewSB/00d798a624466380715962c005008cef) of what I was doing with Haneke. My und

[2016-09-28 23:59] garrettmoon commented on #251
Hey @AndrewSB, glad you're looking at PINRemoteImage!

So if you're doing basic authentication where you send a request and the server replies with a auth challenge, you'll want to look into `setAuthenticationChallenge:`

However, looking at your GIST it appears you just want to set an auth header? Setting custom headers is actually not possible currently (crazy no one has asked for this!), but it

[2016-09-29 03:51] maicki commented on #235
@ezefranca You have to use `imageView.pin_updateWithProgress = true` as @lukeivers said. The reason is that it's declared as a property in `PINRemoteImageCategory` and not as a method:

[code]

[2016-09-29 17:14] garrettmoon commented on #235
@ezefranca Going to close this now, please let me know if there's something that still needs to be done.

[2016-09-29 17:14] #235 closed

[2016-09-29 17:52] AndrewSB commented on #251
You are correct, I do want to just set an auth header. Totally crazy that no one has asked yet!

I'm trying to push out a new release of an app by friday, so I'll be tied up until then, but I'll start a PR as soon as I'm free 😄

[2016-09-29 21:14] lukeivers commented on #243
So, after working a lot more with this, I'm pretty sure I've identified what was my base issue.  In one case I worked around it via AsyncDisplayKit, but in another I couldn't figure out how to use it (can't figure out how to do ASScrollNode with zooming).

So, the place where I was using it most recently was in an UIPageViewController.  I was doing imageView.pin_setImage in viewDidLoad of the chil

[2016-09-30 04:40] appleguy commented on #243
Thanks for the awesome description Luke, Garrett and I really appreciate the opportunity to learn from your use case.

It's certainly concerning to think that UIPageViewController may have a bug related to this.  As you may have found with AsyncDisplayKit, there is a formal -clearContents and -clearFetchedData callback, which can be set to trigger a predefined distance away from the screen.

If yo

[2016-10-07 16:17] JoeFerrucci opened #253 "PINRemoteImageManager's Disk Space Usage Too High"
My app's disk size grows seemingly unbounded. I would like to set a byte limit on PINRemoteImageManager. When investigating, I see this folder growing with each image downloaded: `com.pinterest.PINDiskCache.PINRemoteImageManagerCache` -- found at this path: `~/Library/Developer/CoreSimulator/Devices/<id>/data/Containers/Data/Application/<other-id>/Library/Caches/com.pinterest.PINDiskCache.PINRemot

[2016-10-07 16:52] JoeFerrucci commented on #253
I solved my problem by setting: `PINRemoteImageManager.sharedImageManager().cache.diskCache.byteLimit`

[2016-10-07 16:52] #253 closed

[2016-10-07 17:19] garrettmoon commented on #253
Yeah, hmm, there's probably two learnings here:
1. We should probably set a default disk cache limit.
2. Default image cache is a bit confusing, it's intended only for override and should only ever be called once by the PINRemoteImageManager itself. That should be better documented.

[2016-10-07 17:20] JoeFerrucci commented on #253
Is it safe for me to set it on app launch?

On Oct 7, 2016, 10:19 AM -0700, Garrett Moon <notifications@github.com>, wrote:

[2016-10-07 17:31] garrettmoon commented on #253
@JoeFerrucci that's a good question, and why I'm now thinking we *shouldn't* set the cache limit by default.

When it's set it immediately trims to that size. So if we default to setting it to 50MB, and you later set it to 100MB, you'll lose 50MB of cache on every startup.

So I think I'll update the documentation and avoid setting a default limit at this time.

As far as setting it on app launch,

[2016-10-07 17:58] garrettmoon commented on #253
#254

[2016-10-17 09:18] PhilCai1993 commented on #201
I've read your recent post [Behind the launch of Pinterest’s Design Standards](https://engineering.pinterest.com/blog/behind-launch-pinterest%E2%80%99s-design-standards).
And I'm facing similar issues. In our company, designs are made using Sketch. And when it comes to texts, it's hard to layout the UILabel or UITextview correctly.

CJK languages are heavily used in our [app](https://itunes.apple.

[2016-10-18 03:03] appleguy commented on #201
Hey there!  Would be happy to help if you have AsyncDisplayKit questions.  Is this question about PINRemoteImage, or ASDK?  If you're wondering about the text layout, feel free to file a ticket on the AsyncDisplayKit GitHub, and come join us on Slack too!  (	http://asyncdisplaykit.org/slack.html)

[2016-10-18 07:56] PhilCai1993 commented on #201
@appleguy I'm sorry for leaving a comment here. It's not about PINRemoteImage, but it seems to be related to ASDK. But [here](https://engineering.pinterest.com/blog/behind-launch-pinterest%E2%80%99s-design-standards) is the blog from Pinterest about text bounding layout([maybe he is the auther of that article](https://github.com/rcancro)).
Would that slack channel you metioned here help?

[2016-10-19 16:15] taher-mosbah opened #256 "Cached images duplicated"
Hello,

I noticed that my app disk usage is too high, digging around with iExplorer I noticed that the same images are on two folders "com.pinterest.PINDiskCache.PINRemoteImageManagerCache" and "fsCachedData".
I limit my cache to 100 mb doing the following on startup :
`  NSUInteger maxImageCacheSize = 100 * 1024 * 1024;
  [[PINRemoteImageManager sharedImageManager].cache.diskCache trimToSize:maxI

[2016-10-19 17:54] garrettmoon commented on #256
@taher-mosbah what version are you using? There was a bug for sadly quite a while where images would be cached twice, but that should be fixed in master (to disable NSURLSessionCaching).

[2016-10-20 09:55] k06a opened #258 "Crash on decoding really large image"
Just got crash on decoding huge JPG image of size 5000x6500: http://lake-central.lcsc.us/userfiles/richard-ohlenkamp/Alg_%20II%20Chap%202%20Rev%20KEY%20pg_%203.JPG

Callstack:
<img width="565" alt="2016-10-20 12 51 31" src="https://cloud.githubusercontent.com/assets/702124/19555107/1be67716-96c4-11e6-9fab-8dd758b03ef6.png">

I think we need to think how to handle this case without crashing app :)

[2016-10-20 13:04] taher-mosbah commented on #256
@garrettmoon  I'm using version 2.1 from Cocoapods

[2016-10-20 20:11] garrettmoon commented on #256
Yeah, this should be fixed in master or the latest 3.0 beta I believe.

[2016-10-20 20:11] #256 closed

[2016-10-20 20:13] garrettmoon commented on #258
We could add something akin to `progressiveRendersMaxProgressiveRenderSize`

[2016-10-21 13:06] taher-mosbah opened #259 "Proper way to clean old images"
Pre 3.0 I'm doing the following to limit the image cache to 100mb and clean the old ones :
`  [[PINRemoteImageManager sharedImageManager].cache.diskCache trimToSize:maxImageCacheSize block:^(PINDiskCache * _Nonnull cache) {
  }];
`

This is not working anymore in 3.0, is this the proper way to do so ?

`  PINDiskCache *tempDiskCache = [[PINDiskCache alloc] initWithName:@"PINRemoteImageManagerCache

[2016-10-21 15:33] garrettmoon commented on #259
@taher-mosbah You can either override defaultImageCache to return your own configured version of PINCache, or just cast: `[[(PINCache *)[[PINRemoteImageManager sharedImageManager] cache].diskCache trimToSize: maxImageCacheSize block:^(PINDiskCache * _Nonnull cache) { }];`

[2016-10-21 15:34] garrettmoon commented on #259
It hasn't been documented yet well, but the cache is pluggable in PINRemoteImage so if you wanted to use a different caching system you could. By default however, PINRemoteImage will still use an instance of PINCache.

Let me know if this didn't work for you!

[2016-10-21 15:34] #259 closed

[2016-10-24 09:08] baby03201 opened #260 "Images loaded from Disk Cache occasionally display artifacts / corruption."
I'm currently using AsyncDisplayKit + PINRemoteImage libraries in my app.
The PINRemoteImage version is 3.0.0-beta.3 (due to some constraint using in AsyncDisplayKit)

This library is awesome, however, sometimes the cached images look not fully downloaded as the image below:
![broken](https://cloud.githubusercontent.com/assets/923188/19639675/fed3c2be-9a0b-11e6-802b-17ce8b2923bc.jpeg)

The functio

[2016-10-25 18:14] appleguy commented on #258
Anton - what would you expect the framework to do in this case?  Shouldn't you be setting skipDecode = YES if you're downloading a really large image and don't want it decoded, and make sure it is drawn into a context of the size you want?

I know that PINRemoteImage's integration with AsyncDisplayKit would handle this correctly (e.g. if you have an ASNetworkImageNode or ASMultiplexImageNode, they

[2016-10-25 20:06] k06a commented on #258
Maybe do some tricky memory allocation in this case?
1. Create temp file and resize it
2. Map it into memory
3. Close file
4. Use file mapping as image context

This mapped memory will work really fast as RAM. File will not be deleted until mapping is unmapped, which will happen on context dealloc. I had some experiments a few years ago with this idea: https://github.com/k06a/UIImage-DecompressAnd

[2016-10-26 15:45] appleguy commented on #258
We do something similar for Animated GIFs (decode to a memory-mapped file).  I'll point out a few things:

- PINRemoteImage isn't particularly designed (or described as) having special support for ultra-high-res images; this would be a nice feature request / extension though!

- Even with a mapped file, are you confident that performing the resize operation will not cause that data to be pulled in

[2016-10-27 09:16] yxztj opened #262 "Specify download priority in downloadImageWithUrl?"
Currently it's not possible to set task priority when calling downloadImageWithUrl. Can we add another parameter for priority in the API, instead of setting it separately after creating the download task?

**Background**: We have a long tableView with lots of images, each cell contains random static image or gif image(also load it's first frame as placeholder. gif task priority is changed dynamica

[2016-10-28 19:33] appleguy commented on #262
This is a good request @yxztj !  We'd also use such an API from AsyncDisplayKit, since it sets priorities depending on how close an image is to the screen.  When a new screen loads, often there are downloads started for the Visible area, the "almost-visible" area, and the preloading area - and it would be great to be able to pass those priorities in without a separate call.

Have you been able to

[2016-10-29 06:36] yxztj commented on #262
@appleguy Yeah I've been using ASDK to set image download priority based on node's interface state(preload, display, visible). We're using FLAnimatedImage and some other image processing so we implemented ASImageCacheProtocol/ASImageDownloaderProtocol on our own web image manager, which relies on PINRemoteImage.

We're logging the _urlSessionTaskQueue operations' priority on each setPriority call.

[2016-10-31 17:40] AndrewSB opened #264 "downloadImage without a UIImageView"
Hey! I'm having a little trouble downloading an image (to use for a `UINavigationBar.backgroundImage`, so I was thinking I'd just be able to use `PINRemoteImageManager.shared().downloadImage`, but I can't get the function signature to work out.

Here's what I tried:
![screen shot 2016-10-31 at 10 40 07 am](https://cloud.githubusercontent.com/assets/3814772/19864670/70630454-9f56-11e6-93d4-7adc2dc6

[2016-11-01 00:23] garrettmoon commented on #264
I'm still learning Swift, but I *think* it should be `result: PINRemoteImageManagerResult?` instead of `result: PINRemoteImageManagerImageCompletion?`

[2016-11-02 01:13] garrettmoon commented on #260
@baby03201 I have a guess as to the cause of that:
Are you running in the simulator. I've seen similar issues when running in the simulator, but *never* on device.

[2016-11-02 01:35] appleguy commented on #260
It is possible that there is an encoding error or other issue with the image file.  Could you send the URL to the image of that size?

[2016-11-03 00:14] AndrewSB commented on #264
Hmm, thats what I was hoping for, but it isn't...
Here's the generated swift interface

<img width="1240" alt="screen shot 2016-11-02 at 5 12 09 pm" src="https://cloud.githubusercontent.com/assets/3814772/19952065/941620aa-a11f-11e6-9c7b-a512ac109b49.png">

and here's me trying to use it
<img width="1306" alt="screen shot 2016-11-02 at 5 11 12 pm" src="https://cloud.githubusercontent.com/assets/38

[2016-11-03 00:57] garrettmoon commented on #264
Do you have a sample project you could upload?

[2016-11-03 08:49] baby03201 commented on #260
@garrettmoon Unfortunately, I couldn't able to regenerate that error in my device now. This screenshot was taken by my friend with his iPhone 6s device. I guess it might happens while the network connection is bad.

@appleguy Thanks for your patience and response!
The images URL link was shown as below:
[First image](http://resource.golface.com.tw/ADPlatform/image/ALBA%E9%9B%9C%E8%AA%8C/2016%E5%B9

[2016-11-03 17:01] SteveGeyer commented on #260
I came here looking specifically for information this bug. We just upgraded AsyncDisplayKit from 1.9.81 to 1.9.91 and similarly got PINRemoteImage upgraded to 3.0.0-beta.3. We we started seeing bad images on live devices (not the simulator) and we had not previously been seeing them in the three months we have been using this product. We started focussing on PINRemoteImage when we realize that the

[2016-11-03 17:50] garrettmoon commented on #260
Hey @SteveGeyer thanks for the info!

Do you happen to know what version of PINRemoteImage you were using previously? 1.9.81 specified beta 2 or better. Can you confirm that's what you were using?

A note: This is actually a Pinterest project and all the full time contributors on AsyncDisplayKit are also Pinterest employees :)

[2016-11-03 18:07] SteveGeyer commented on #260
@garrettmoon Yes I was using beta 2.

I apologize for my mistake on credit. PINRemoteImage and AsyncDisplayKit are awesome products. They have made our app truly sing. I really appreciate all the work you and the Pinterest staff has put into them.

[2016-11-03 18:08] garrettmoon commented on #260
@SteveGeyer Awesome, ok, I'll see if there's something that could help attribute the difference. And no worries about the misattribution :)

[2016-11-03 18:18] garrettmoon commented on #260
Here are the changes between beta 2 and beta 3 (https://github.com/pinterest/PINRemoteImage/compare/3.0.0-beta.2...3.0.0-beta.3)

My first guess is it has to do with the cancelation patch. Possibly something getting a callback after cancelation.
https://github.com/pinterest/PINRemoteImage/commit/2cfc232d117a746f2004f61cefc2326149c63443

[2016-11-03 18:43] SteveGeyer commented on #260
I am not exactly sure what you may be suggesting. However, the image I provided in my initial post was one that is rendered by AsyncDisplayKit. You are seeing one cell (ASCellNode) made up of three images and some other stuff. This cell's layout is controlled by layoutSpecThatFits() and this cell is in a collection of many cells (ASCollectionView). The AsyncDisplayKit prefetch on the ASCollectionV

[2016-11-03 19:58] garrettmoon commented on #260
@SteveGeyer my guess is that beta 5 won't have this issue fixed. I'm going to see if I can set up some conditions which will allow me to reproduce locally.

[2016-11-03 20:02] garrettmoon commented on #260
@SteveGeyer there could be another issue causing this: if an image isn't fully saved to the disk cache when the app is terminated it could result in something like this. It would be good to know if when the issue is reproduced for the first time, if it was pulling the image from the cache or from the network. Not sure an easy way to confirm that either though…

[2016-11-03 20:04] garrettmoon commented on #260
@SteveGeyer actually, if you happen to know if the version of PINCache changed when you upgraded, knowing which version to which would help in investigating.

[2016-11-03 20:35] SteveGeyer commented on #260
@garrettmoon I have grabbed my Podfile.lock from the "working" system and edited out unnecessary pods. Below are what I believe are the relevant lines. It shows PINCache 2.2.2.

PODS:
  - AsyncDisplayKit (1.9.81):
    - AsyncDisplayKit/PINRemoteImage (= 1.9.81)
  - AsyncDisplayKit/ASDealloc2MainObject (1.9.81)
  - AsyncDisplayKit/Core (1.9.81):
    - AsyncDisplayKit/ASDealloc2MainObject
  - AsyncD

[2016-11-03 20:48] garrettmoon commented on #260
@SteveGeyer very valuable information, thank you! I'm investigating this as we speak :)

[2016-11-03 22:26] garrettmoon commented on #260
@stevegeyer there would be one more valuable piece of information you could gather for me. Specifically the file that's stored in the cache. You should be able to get to it by calling objectForKey with the offending URL on the cache object of `[PINRemoteImageManager sharedImageManager]` (the key you pass in can be retrieved by calling `[[PINRemoteImageManager sharedImageManager] cacheKeyForURL:URL

[2016-11-03 22:38] SteveGeyer commented on #260
I am off to a meeting right now, but will grab this data and answer your questions in a couple of hours.

[2016-11-03 23:35] SteveGeyer commented on #260
@garrettmoon I will attempt to get the local cache file tomorrow when I
have access to the actual device that failed. I will also try and get you
the URLs involved.

We are definitely calling PINRemoteImage directly elsewhere in the app. In
fact those calls are likely happening at the same time as ASDK. The URLs
used by ASDK and direct calls will different since ASDK is handling the
thumbnails whi

[2016-11-04 14:12] SteveGeyer commented on #260
@garrettmoon The damaged image that I showed in my original post has "repaired" itself since yesterday. I assume that its expiration timed out and it was refetched. However, there is another image that is failing and I have attached an image of this failure to the bottom of this message.

Here is the source URL for this failing image: https://s3.amazonaws.com/lookbk/imgs/01/fe/dD/tP/01fedDtP-LRfQa

[2016-11-04 15:20] zachwaugh commented on #264
In the first case, it's because the argument to completion handler has the wrong type, as @garrettmoon mentioned. In the second case, it's because PINRemoteImage exposes two similar methods here:

[code]

Since the second method has a default value for the `options` parameter and parameters with default values can be omitted when calling, Swift doesn't know which method you're trying to call.

Thi

[2016-11-04 15:20] maicki commented on #264
@AndrewSB Hey Andrew, currently PINRemoteImage's `downloadImage` method can be ambiguous. You can use this for now:

[code]

[2016-11-04 17:33] garrettmoon commented on #260
Can you also attach the corrupted image *from* the cache? so if cacheKeyForURL returned just the URL, you should be able to get the NSData out by calling `[[[PINRemoteImageManager sharedImageManager] cache] objectForKey:@"https://s3.amazonaws.com/lookbk/imgs/01/fe/dD/tP/01fedDtP-LRfQaBOI6.jpg"]`

Not sure the easiest way to get the NSData off the phone… Maybe try and write it to the Documents dire

[2016-11-04 17:43] AndrewSB commented on #264
Ahh, that makes sense. An update would be cool in a while, but that workaround sounds perfect.

I can leave this open for you guys to track this, but please feel free to reopen this

I'm not touching that bit of code for ~2 weeks, since I found a temp fix. If after using the function signature that includes the `options`, it doesn't fix the problem I'll re-open this and create an example project f

[2016-11-05 00:19] SteveGeyer commented on #260
@garrettmoon Sadly we reset the broken device. We will try and recreate the error and capture that image (I am all set up to do the capture once we have another failure).

[2016-11-05 00:33] appleguy commented on #260
@SteveGeyer Just wanted to say thanks for how proactive you've been on bringing information to this thread.  It's extremely helpful.  We haven't seen a corruption issue like this in Pinterest, so it is really important that we capture any clues we can to prevent it for others.

Could you share a bit more about how you're using PINRemoteImage?  I have a feeling that the issue is caused by interacti

[2016-11-05 01:40] SteveGeyer commented on #260
I am going to overshare here in the hopes that what I write sparks ideas on your side. I have grepped our source code and I will outline each direct call we make to PINCache and PINRemoteCache. Our app is written totally in Swift. I doubt that is significant, but maybe your team knows something I don't. We are also big fans of ASDK and PINCache/PINRemoteCache and we are using all three products di

[2016-11-06 00:59] appleguy commented on #260
This is very helpful Steve, thank you!

Before diving in with further suggestions, I'll let Garrett think through this feedback - and especially whether multiple ImageManagers could interact in a negative way (even with distinct URLs).

One tip: you can achieve the same preloading effect by using an offscreen ASNetworkImageNode that you trigger to perform its preloading.  You can do this by settin

[2016-11-06 20:10] garrettmoon commented on #127
@cannyboy is this still an issue with the latest beta? This logic has been rewritten.

[2016-11-06 20:11] garrettmoon commented on #264
Cool, I'm going to close this out for now, please reply back to the thread if it's still an issue!

[2016-11-06 20:11] #264 closed

[2016-11-07 08:59] Sundin opened #265 "ARC Semantic issue in AsyncDisplayKit after upgrading to 3.0.0-beta-5"
Hello.

I'm using AsyncDisplayKit together with PINRemoteImage, and after upgrading the latter to version 3.0.0-beta.5 I get the follow error in something called ASPINRemoteImageDownloader.m inside AsyncDisplayKit:

Downgrading PINRemoteImage to version 3.0.0-beta.3 solves the issue.
(Don't know if this should have been posted in the AsyncDisplayKit repo instead, my apologies if it is in the wrong

[2016-11-07 15:40] SteveGeyer commented on #260
@garrettmoon I am set up to dump a broken image as you previously requested. Unfortunately our failed images were automatically refreshed after their time-to-live expired and we have not seen this problem reoccur. If we see another failure I will capture the image for you.

This brings up some potential evidence about this bug. We saw three failures across two long term users shortly after they up

[2016-11-07 17:46] garrettmoon commented on #260
@SteveGeyer All reasonable theories and to be honest I still haven't been able to find any conclusive to point to anything. As @appleguy mentioned, we haven't seen reports of these errors at Pinterest, but we're on latest master (or very close) of ASDK, PINRemoteImage and PINCache.

To be frank, I wouldn't rely on us being able to post a fix shortly. I believe this is a very important issue to get

[2016-11-07 17:46] garrettmoon commented on #260
And please keep reporting back :)

[2016-11-07 18:07] garrettmoon commented on #265
@Sundin yup, the APIs have changed. If you use the latest AsyncDisplayKit master, you can use the latest PINRemoteImage. There will be a new release soon of AsyncDisplayKit, PINCache and PINRemoteImage to get them all into sync.

[2016-11-07 18:07] #265 closed

[2016-11-07 18:22] SteveGeyer commented on #260
@garrettmoon We will consider your advise as we move forward. If anything else happens at our end I will post what happened and what we did. Thanks.

[2016-11-07 21:42] garrettmoon commented on #260
@SteveGeyer thank you! All the info you've given us is going to definitely narrow down solving this issue. Hopefully very soon :)

[2016-11-08 10:44] boreys commented on #260
I am experiencing the same issue in a country where internet connection is slow, unreliable and when there are multiple concurrent image requests (around 60 images per screen view).
![6f17725a-a5ba-11e6-8fb5-7b423beb36ab](https://cloud.githubusercontent.com/assets/8430251/20096092/e1f24dc0-a5da-11e6-812c-8824d5c34328.jpg)

[2016-11-08 18:12] garrettmoon commented on #127
Closing this for now, but please reply back if you have more info!

[2016-11-08 18:12] #127 closed

[2016-11-08 18:37] garrettmoon commented on #260
@boreys what version of PINRemoteImage are you using? Do you have a test app you can reliably reproduce the issue on? If so, I should be able to simulate a similar internet connection.

[2016-11-09 01:12] boreys commented on #260
I'm using PINRemoteImage 3.0.0-beta.3 and 'AsyncDisplayKit', '~>1.9.90' you can download my app from the store and follow this step, it most likely produce the result ( a couple broken images):
1- Download the app: https://itunes.apple.com/us/app/khmer.be/id1138606309?ls=1&mt=8
2- Create an account and follow some users to generate around 60 images or more on the "News Feed" page.
3- Log out, unin

[2016-11-11 21:12] zachwaugh commented on #195
I hit this as well, doesn't seem to be specific to the tvOS target, but carthage 0.18.1 doesn't work at all right now with 3.0 beta:

[code]

That seems to be a carthage issue though, related to how it figures out which frameworks to build. I opened [PR](https://github.com/Carthage/Carthage/pull/1572) to fix it, but there is another issue with PINRemoteImage. The `Example-Mac` and `Example-tvOS` p

[2016-11-11 22:20] garrettmoon commented on #195
I try my best to keep carthage working, but we don't use it internally. If you could put up PRs to fix or give me instructions, I'd be happy to help!

[2016-11-11 22:28] zachwaugh commented on #195
The first issue is with carthage itself, so you can ignore that one. For the second issue I mentioned, you can reproduce it without carthage. Open the *Example-Mac* and *Example-tvOS* workspaces, and try to build either directly from Xcode, and the fail with the error above. Carthage tries to build all dynamic frameworks it finds in the repo, so if any fail, the whole thing fails. Unfortunately, c

[2016-11-13 12:23] #198 closed

[2016-11-14 22:37] tomizimobile opened #274 "Non-animated gif not recognized as such"
I ran into this issue using AsyncDisplayKit, and documented it here: https://github.com/facebook/AsyncDisplayKit/issues/2590#issuecomment-260467659

An image that shows this behavior is here: http://ak-cache.legacy.net/legacy/images/fhlogo/7630fhlogo.gif

[2016-11-14 22:41] garrettmoon commented on #274
It looks like we should add a method pin_isAnimatedGIF which returns YES only if the data is a GIF *and* animated. We'd then need to check this instead of isGIF in most places.

[2016-11-18 00:35] garrettmoon opened #277 "Upgrading PINRemoteImage's cache is expensive"
When we moved PINRemoteImage to store NSData directly instead of serialized NSData, we had to make a version for the cache. If there wasn't a version, we needed to destroy the cache. We did this by creating a disk cache, getting its directory and then deleting it.

However, creating the disk cache is expensive because it needs to enumerate over all the files. We should instead expose a class metho

[2016-12-05 05:48] jaichaudhry commented on #260
@garrettmoon  I am also facing the same issue. The images are getting corrupted in the same fasion as the screenshot attached by @boreys

[2016-12-06 18:27] garrettmoon commented on #260
Whoo! I think we finally got this one licked! I'll update this thread when I've pushed a new beta for you all to try.

[2016-12-06 22:03] garrettmoon opened #281 "Examples should be moved to their own directory"

[2016-12-06 23:56] garrettmoon commented on #260
Going to close this as it should be fixed in PINRemoteImage (`3.0.0-beta.7`) & ASDK (`2.0-rc.2`). Please give it a try and if you hit this again mention it here.

[2016-12-06 23:56] #260 closed

[2016-12-07 12:56] SteveGeyer commented on #260
Thanks for fixing the bug. I will be trying the fix out shortly.

[2016-12-07 23:02] #281 closed

[2016-12-08 07:43] appleguy opened #283 "[Performance] Refactor use of -allKeys for a 1-2% global CPU optimization."
In this trace, -allKeys and the retain / release costs account for >1% of global app CPU (in this case, a brief scroll in the Profile screen of Pinterest).

Considering that this trace includes substantial image decoding / drawing costs, other UIKit / UICollectionView costs, and also heavy cache reading and writing — this is a surprising % total for this call.

As a simple solution, it would proba

[2016-12-08 08:26] rahul-malik commented on #283
@appleguy - Rather than maintaining another data structure, wouldn't it be sufficient to replace `allKeys` with `keyEnumerator`? The large cost is likely due to the fact `allKeys` performance is going to degrade as the dictionary grows where the enumerator should be a fixed cost. Thoughts?

[2016-12-08 08:33] appleguy commented on #283
Good idea!  Let's try that.  It may well be faster than a separate array, but mainly depends on the access patterns.

Sent from my iPhone

[2016-12-08 17:16] zachwaugh opened #284 "How do you manually insert an image into the cache?"
I have an image that I fetch from an API that's easier to grab directly than through PINRemoteImage since it requires authentication. Once I have that image, how I can insert it directly into the shared cache? I see there is the `PINRemoteImageCaching` protocol that has write methods, but it isn't clear exactly how to use it. What do I insert into the cache, the raw `NSData`? Do I insert into the

[2016-12-08 18:32] garrettmoon commented on #284
@zachwaugh hmm, this isn't actually well supported now, but we absolutely could support it. Essentially we'd want to add a method to PINRemoteImage which is something like:

`insertImageDataIntoCache:(nonull NSData*)data withURL:(nonull NSURL *)url processingKey:(nullable NSString *)processingKey`

This would build and insert a PINRemoteImageMemoryContainer and insert into the memoryCache and  wou

[2016-12-08 18:32] #284 closed

[2016-12-08 18:35] zachwaugh commented on #284
@garrettmoon thanks! I'll take a look at adding that functionality and opening a PR

[2016-12-08 18:39] garrettmoon commented on #284
Awesome, thanks @zachwaugh !

[2016-12-11 21:18] #283 closed

[2016-12-15 02:42] wlegate opened #289 "[WebP] Add support for animated WebP images."
WebP supports animated "photos" as well which are essentially GIFs but at a fraction of the file size & at a higher resolution. Any plans on supporting this in the future? If not, happy to look into creating a PR

[2016-12-15 02:46] wlegate commented on #289
Didn't see that this is already supported

[2016-12-15 05:27] appleguy commented on #289
@wlegate We would love to support this!  It's been discussed, but unfortunately, we lack the resources to prioritize this particular area in the near future.  If you did put up a PR, we'd be able to support reviewing it and would give feedback to converge on landing it!

That said, it would be very important to make the libwebp dependency an optional one.  The .podspec configuration already shows

[2016-12-20 07:14] hannahmbanana opened #290 "[Question] Clearing the Disk Cache"
Question from the ASDK slack channel:

To manually clear the disk cache, you must currently import the following file to be able to call `-removeAllObjects`. This may be new behavior?

`#import <PINRemoteImageCaching.h>`

Are `PINRemoteImage` and `PINCache` intentionally unpaired so that you don’t have to use `PINCache` if you don’t want it?

cc @lappp9

[2016-12-20 08:00] lappp9 commented on #290
Also, does setting a cache limit via `[[PINDiskCache sharedCache] setByteLimit:_]` affect the disk cache disk cache in `[[PINRemoteImageManager sharedImageManager] defaultImageCache]`?

[2016-12-20 09:45] docterd opened #291 "PINCache not used"
Hey guys,

I can't get PINRemoteImage to use PINCache with 3.0.0-beta.7. I'm using following Cocoapods dependency.

Unfortunately USE_PINCACHE is always set to false, so that it uses the PINRemoteImageBasicCache.

[2016-12-20 16:14] garrettmoon commented on #290
Yes, they are intentionally unpaired, by default PINRemoteImage will use PINCache (and you can cast calls to cache; there must be a better way to describe this… possibly a `PINCache` instance which returns nil if it's not being used?)

@lappp9 It appears the answer to you question is no, they will be different caches. Which is surprising to me and I don't think should be the case. Please open an i

[2016-12-20 16:14] #290 closed

[2016-12-20 17:30] appleguy commented on #291
@garrettmoon this is an interesting report.  Thanks for filing @docterd!  If you could try any of the example projects (maybe even one from AsyncDisplayKit/examples) to see if it also reproduces there, that would be helpful.

[2016-12-22 07:48] lappp9 commented on #290
@garrettmoon ok cool thanks, 👍 will do

[2016-12-22 23:53] aureliojuarezcortez opened #292 "bebocortez"
http://www.google.com

[2016-12-23 04:18] #292 closed

[2016-12-29 09:13] docterd opened #294 "Save processed images as WebP"
As a improvement, it should be possible to save processed images in (lossless) WebP instead of PNG or JPG.

[2017-01-02 09:50] plm75 opened #296 "Add method to return PINCache instance if the cache is an instance of PINCache."
Hi,
Thanks for the great library.

I'm currently using ASDK + PINRemoteImage/PINCache in a couple of projects.  While this works great, the disk usage is just crazy:  after just a few launches, disk usage per app is several hundred megabytes ?!

Am I correct to assume that out of the box and without any specific settings, PINCache does not set any limits of disk space usage ?

I looked at some old

[2017-01-05 14:27] docterd commented on #294
#297 I added the ability to change the saved format.

[2017-01-06 00:57] master-nevi opened #298 "Race condition when cleaning up and creating temporary directory"
I'm experiencing a race condition where the temp directory cleanup [here](https://github.com/pinterest/PINRemoteImage/blob/3.0.0-beta.7/Pod/Classes/PINAnimatedImageManager.m#L50) will occur just after the check to see if the temp directory needs to be created in `init` [here](https://github.com/pinterest/PINRemoteImage/blob/3.0.0-beta.7/Pod/Classes/PINAnimatedImageManager.m#L85). Files then fail t

[2017-01-06 01:09] garrettmoon commented on #298
Ah, yes, PINDiskCache solves this I think with an NSConditionLock:
https://github.com/pinterest/PINCache/blob/master/PINCache/PINDiskCache.m#L151

[2017-01-06 01:20] master-nevi commented on #298
Just curious. Is there any reason `PINAnimatedImageManager` shouldn't just use `PINDiskCache` instead? Then there would only have to be a single cache to worry about.

[2017-01-06 19:26] garrettmoon commented on #298
@master-nevi because we memory map these files in and rely on them to exist to back NSData objects. PINDiskCache doesn't guarantee files won't be deleted underneath it.

[2017-01-11 11:21] baby03201 commented on #296
+1 looking for alternative solution to set cost and byteLimit to cache

[2017-01-18 22:54] ay8s opened #301 "Add support for Wide Color Gamut images"
It looks like PINRemoteImage is using UIImagePNGRepresentation & UIImageJPEGRepresentation which isn't wide color aware. It would need to start using the new UIGraphicsImageRenderer introduced in iOS 10.

Instagram shared some findings when adding support for this in their app here... https://engineering.instagram.com/bringing-wide-color-to-instagram-5a5481802d7d#.24vy6avtt

[2017-01-20 17:47] DreamingInBinary commented on #301
Hey @garrettmoon -

I took a look at this one this morning. Wanted to run some thoughts across you. From what I can see, to make images wide color aware and show up on Display P3 iOS/macOS devices, two different things need to be considered: when images are imported and when they are consumed/exported.

In regards to PINRemoteImage then, I think that means we'd need to:

1) Edit any Core Graphics

[2017-01-27 17:47] SuperTango opened #303 "button.setImage doesn't set the image (ends up being the tint color)"
I'm using PINRemoteImage 2.1.4 from a Pod, XCode 8.2, Swift 3. When doing:

    let url = URL(string: "https://placehold.it/300/ff3300")
    self.button.pin_setImage(from: url)

The button doesn't contain the image.  It just shows the tint color.

Here's an example that calls button.pin_setImage at the same time as calling imageView.setImage on the same image.  This also happens if I just use the

[2017-01-30 19:24] KristopherGBaker opened #304 "Crash possibly related to upgrade from Beta 2 to Beta 7"
I recently released a new version of my company's app and some users have run into a crash when the app starts.  I personally haven't been able to reproduce the crash, but it happened to my manager and part of the crash log is below.  The new version upgrades ASDK to 2.0.2 (from 1.9.81) and PINRemote Image from Beta 2 to Beta 7.  It seems like it might be related to the way defaultImageCache in PI

[2017-01-30 19:29] garrettmoon commented on #304
@KristopherGBaker it's really hard to tell without a stack trace. I would be more inclined to guess this has something to do with the race condition in PINAnimatedImageManager. Was your manager loading any GIFs?

[2017-01-30 19:34] KristopherGBaker commented on #304
I'll see if I can get the full stack trace.  We aren't loading any GIFs.

[2017-01-30 20:21] KristopherGBaker commented on #304
Full desymbolicated crash log attached.  Based on the exception code 0x8badf00d, the problem is that the app is taking too long to start and thus being killed by the system.  My best guess at this point is if the old disk cache is large, it may be taking too long to remove it while the app is starting in some cases.

[crashlog-full.txt](https://github.com/pinterest/PINRemoteImage/files/740152/cras

[2017-01-31 16:11] claudiagrilli commented on #32
Hi! Any news about it? It is still there...I used the Network Link Conditioner to simulate a slow network. I have version 3.0.0 beta 7 and the images are coming mixed in a collection view. Thanks.

[2017-01-31 17:16] garrettmoon commented on #32
@claudiagrilli would you mind sending me a sample project to garrett@pinterest.com?

[2017-01-31 21:49] garrettmoon commented on #303
@SuperTango Did you intend to set it as a background image?

I downloaded the image manually and changed the code to:

[code]

And got the same results as your screenshot.

If you're intention is to download and set a background image, that functionality would need to be added.

I'm going to close this for now, but please feel free to reply back.

[2017-02-01 16:27] claudiagrilli commented on #32
Actually I managed to solve it just cancelling the download in prepareForReuse and setting the image to nil. But now I have the problem that when I scroll back the download needs to restart from the beginning..Is there a better way? Thanks!

[2017-02-01 16:32] garrettmoon commented on #32
@claudiagrilli Changing the URL in prepareForReuse should actually have the same effect, if it's not, I'd still love to see a sample project.

Separately, instead of canceling the download, if you want to allow it to continue but not report the result (i.e. it should be cached), you should be able to call pin_setDownloadImageOperationUUID:nil *before* setting a new image URL. This will make it so

[2017-02-03 18:31] SuperTango commented on #152
Has there been any changes related to this?  Using a scale of 1.0 makes the pictures look janky on almost any modern iOS device.

[2017-02-03 18:46] garrettmoon commented on #152
@SuperTango Nope, no one has put up a new PR and it's not affecting us at Pinterest so it's not at the top of our priority list. Happy to work with someone to assist them in developing a PR however.

[2017-02-03 23:44] garrettmoon opened #307 "Adopt PINOperation to reduce NSOperationQueue overhead"
Just like it says on the tin.

[2017-02-04 16:26] SuperTango commented on #303
No, I just want to set the normal image instead of a button using PINRemoteImage.  So instead of

    self.button.setImage(UIImage(...), for: .normal))

I want to set the image using a PINRemoteImage.

If that API call isn't the one to use, which one should we use?

And what are these methods defined in the UIButton category for?

[code]

[2017-02-06 22:12] garrettmoon commented on #303
@SuperTango That's the correct one, but as I said, if you download the image manually and try and set it via setImage it doesn't work either (it produces the exact same results as your screenshot), so I don't believe this is a PINRemoteImage issue.

[2017-02-08 08:06] Sumit1991Saha commented on #301
Hi,
For the images to make wide color aware, we need to use something like mentioned below,
UIGraphicsImageRendererFormat *format =  [UIGraphicsImageRendererFormat new];
format.prefersExtendedRange = YES;
UIGraphicsImageRenderer *renderer = [[UIGraphicsImageRenderer alloc] initWithSize:size format:format];
//Do any manipulation

But to do so we need to write some initial bitmap image data captured

[2017-02-09 17:45] maicki commented on #152
The problem is that currently PINRemoteImage in pin_decodedImageWithData:skipDecodeIfPossible is decoding image data always with a scale of 1.0. This is most of the time the right way as images are served in 1x. The problem appears if retina images are served from the server like @2x or @3x images. The decoding of this image data will produce not the right result.

One of the possible solutions th

[2017-02-11 00:07] garrettmoon commented on #152
Going to close this issue, I think @maicki's PR should address this.

[2017-02-11 00:07] #152 closed

[2017-02-16 06:08] xulianpeng commented on #113
when I import SDWebImage in my project second time,It worn that Module FLAnimatedImage not found,and when I pod install ,it warn  "... ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES ... - Use the `$(inherited)` flag, or - Remove the build settings from the target."
At last, I find the way that  remove the SD completely,specialy in the  finder ,in the pods' products,and delete the project in the simulator ,

[2017-02-17 18:15] ViaJables commented on #296
+1 How do you do this? Currently cache just grows until it throws an OOM.

[2017-02-17 22:27] garrettmoon commented on #296
@ViaJables just cast the cache to a PINCache instance

[2017-02-17 23:11] ViaJables commented on #296
@garrettmoon EUREKA IT WORKS!

[2017-02-18 00:15] garrettmoon commented on #291
@docterd are you still having this issue? Going to close this for now but please reply back if you still are!

[2017-02-18 00:15] #291 closed

[2017-02-18 00:15] garrettmoon commented on #296
Yay! Trying to make this better now…

[2017-02-23 07:59] alibasta commented on #303
@garrettmoon nope - just tested it and:

`tile1.setImage(UIImage(named: "PlayButton"), for: .normal)`

works as designed and shows the image. I'm also interested in using PINRemoteImage for async image loading for UIButton.

[2017-02-23 19:08] garrettmoon commented on #303
@alibasta can you upload a sample app that demonstrates this please?

[2017-02-26 12:44] aimobier opened #324 "(3.0.0-beta.8) how to download gif?"
Hello, I put our library version upgraded to (3.0.0-beta.8). One way before but I found I can't use.

[code]

What I want to download a gif, not possible, please let's now how to handle dynamic picture now?

[2017-02-26 13:50] sirvon commented on #195
so...we cant' use this or any lib that depends on this lib with carthage?

[2017-02-26 20:20] sirvon opened #325 "error: Scheme PINRemoteImage is not currently configured for the clean action."
I keep getting this error on many different dependencies these days...
what's going on???

[code]

[2017-02-27 05:28] sirvon commented on #325
PINRemoteImage has completely shutdown my build.
why does PINRemoteImage and PINCache cause so much problems???

these libraries are the same reason I can't build AsyncDisplayKit either

what really gives??

[2017-02-27 07:18] sirvon commented on #325
it was just a matter of updating to a latest release.

[2017-02-27 07:18] #325 closed

[2017-02-27 18:15] garrettmoon commented on #195
@sirvon not with apple tv currently, looking for a volunteer to improve it! Happy to accept pull requests!

[2017-02-27 18:16] garrettmoon commented on #195
Actually, I would think this *would* work on Apple TV currently with master now. Just not mac likely :(

[2017-02-28 15:37] zachwaugh commented on #195
This appears to be working now. The problem previously was that carthage failed to build due to the example project, this seems to have since been fixed. I don't have an Apple TV app to test with, but using Carthage 0.19.1 on master and it builds the tvOS framework now:

[code]

[2017-02-28 18:05] garrettmoon commented on #195
Great! Refactoring the project layout payed off! Going to close this for now.

[2017-02-28 18:05] #195 closed

[2017-03-01 17:33] maicki commented on #324
@aimobier Did you link `FLAnimateImage` in your project? @garrettmoon correct me if I'm wrong, but you need `FLAnimateImage` in your project to support handling of gifs.

[2017-03-01 18:54] garrettmoon commented on #324
Yes, at the current time you need FLAnimatedImage. In the future we may support native GIF handling, but it's still a WIP.

[2017-03-01 18:54] #324 closed

[2017-03-02 05:34] aimobier commented on #324
I'm sorry ,I didn't explain clearly, I'm not just showing gif. If you just show GIF using the `FLAnimateImage ` is ok.
Now I want to download GIF, get the `NSData` for this gif. After the operation of the gif. Your previous approach may have supported me, but the new version seems to have removed this method

Before:

`PINRemoteImageManagerResult`has a `animatedImage`
[code]

but now,the `animated

[2017-03-02 16:03] maicki commented on #324
@aimobier `animagedImage` was renamed to `alternativeRepresentation`. Also look into the `testGIFDownload` test in `PINRemoteImage_Tests` for an example.

[2017-03-03 01:15] aimobier commented on #324
Thank you very much, to cause unnecessary trouble, I'm sorry.  🍻🍻🍻🍻

[2017-03-06 14:22] dodikk opened #327 "[carthage] [3.0.0-beta.3] value of type 'UIImageView?' has no member 'pin_setImage'"
The `PinRemoteImage.framework` does not expose `UIImage` dependency as a public header.

P.S. I am targeting iOS and using `github "pinterest/PINRemoteImage" "3.0.0-beta.3"` in my cartfile

[2017-03-06 14:33] dodikk commented on #327
The header for `UIImageView` is missing in a framework's umbrella header. For this reason the build fails for me.

[2017-03-06 14:38] dodikk commented on #55
The swift example from article does not compile for me with `3.0.0-beta3` version

I've tried both :
* `setImageFromURL(imageURL)`
* `pin_setImage(from: imageUrl)`

[2017-03-06 15:14] dodikk commented on #55
https://github.com/pinterest/PINRemoteImage/issues/327

[2017-03-06 15:18] dodikk commented on #327
Sorry. I was missing `import PINRemoteImage`.
I also was confused by the `PINImage` macro replacements as the `UIImage` category lookup has not given any results.

[2017-03-06 15:18] #327 closed

[2017-03-06 17:44] garrettmoon commented on #327
@dodikk no worries, glad you figured it out!

[2017-03-12 09:31] luohui8891 commented on #203
Hey guys, I got the same issue when scrolled collection node of AsyncDisplayKit.
BTW, the PINRemoteImage version is `3.0.0-beta.8`.
Any idea?

[2017-03-14 16:25] rahul-malik commented on #307
@garrettmoon - Isn't this merged now?

[2017-03-14 16:54] maicki commented on #307
Yep this should be resolved via #328. Will close.

[2017-03-14 16:54] #307 closed

[2017-03-14 17:36] jverdi opened #330 "[Feature] PINAnimatedImage as a replacement for FLAnimatedImage"
I see that PINAnimatedImage has been added to the project - awesome. As far as I can tell, it is only being used in conjunction with AsyncDisplayKit at present.

Is there a plan to make PINAnimatedImage also work as a stand-in for FLAnimatedImage for those using PINRemoteImage but not AsyncDisplayKit?

It seems like creating something akin to FLAnimatedImageView would allow you to drop the FLAnima

[2017-03-14 18:39] garrettmoon commented on #203
Sorry I lost track of this one, will look soon.

[2017-03-14 23:00] garrettmoon commented on #330
@jverdi it's on the map but low priority. The intention would be to actually create a hybrid solution which, depending on the GIF size uses the technique that FLAnimatedImage uses or the PINAnimatedImage version.

[2017-03-15 12:47] alibasta opened #332 "Caching question"
Hi guys,

thank you very much for your work! Awesome!

I want to use PINRemoteImage in my current project but need to solve the problem that images are updated on the server side using the same image url.

I looked in the code and PINRemoteImage is just checking locally if the image is inside the device cache. If that is true it returns the image and ignores perhaps newer images on the url. Is tha

[2017-03-19 09:00] Myrenkar opened #334 "Downloading Gif returns a UIImage instead of animated image."
Hello :)

I'm using your library to fetch some gifs. I got interested that your library can return `FLAnimatedImage`

My setup:

* I'm using Carthage
* Project is uses iOS 9.3+ issue is spotted on 10.2, but it probably would happen on both.
* I have collectionView cell with FLAnimatedImageView
* My ViewController imports both
[code]
* I use method as you mentioned:
[code]
or simply
[code]
and my c

[2017-03-20 13:33] gerchicov-bp opened #335 "Example doesn't work"
Examples >> Example >> workspace file doesn't work - can't find podfile.lock, manifest and etc.

When I run ```pod install``` I get the following error:

[code]

[2017-03-20 14:08] nguyenhuy commented on #335
@gerchicov-bp Can you try to run `pod update PINCache` and then `pod install` again?

[2017-03-20 14:49] maicki commented on #334
@Myrenkar Hey! Would it be possible to either provide a small example app that shows the problem or add a link to a URL for a gif to this issue so we reproduce the issue. Thanks!

[2017-03-20 19:05] Myrenkar commented on #334
I'm using tumblr api for this and this is one of URL's :)

[code]

[2017-03-20 21:57] maicki commented on #334
Hey @Myrenkar I just tried your link out in our Swift Example. I change the scroll view controller to have a `FLAnimatedImageView` in the cell and also change one tab to just show an `FLAnimatedImageView`. Both of them work as expected.

Can you please look over this code and see what could be the problem on your side:
[Swift-Example.zip](https://github.com/pinterest/PINRemoteImage/files/856492/Sw

[2017-03-23 11:31] Cen92 opened #337 "Does not compile when using pod 'PinRemoteImage/WebP' in a Swift project with use_frameworks!"
When compiling it can't find "libwebp/webp/decode.h". I have added $(SRCROOT)/libwebp/webp as a recursive user header search path but it still doesn't work.

from PinImage+WebP.m

`#ifdef PIN_WEBP
#if !COCOAPODS
#import "webp/decode.h"
#else
#import "libwebp/webp/decode.h"
#endif
`

[2017-03-24 12:04] vinayakparmar92 commented on #203
@garrettmoon Can you please post current status of this crash? Its has become VERY FREQUENT to our users. Attached here is the crash log

[code]

[2017-03-29 13:49] nguyenhuy commented on #335
@gerchicov-bp I'm gonna close this issue. Feel free to re-open if the error persists after pod update.

[2017-03-29 13:49] #335 closed

[2017-04-04 09:29] dalu93 commented on #289
+1 interested in this feature

[2017-04-08 18:25] AndrewSB commented on #237
Working on a PR for this today 👌

[2017-04-12 08:55] bawn opened #345 "How can I change progressive renders blur radius"
How can I change progressive renders blur radius.
It seems only to change whether it is blurred：

[code]

[2017-04-13 03:38] 9you commented on #200
It should be document else where :D

[2017-04-20 08:23] sainttail opened #346 "Is there a way to cancel all tasks?"
I see in `PINRemoteImageManager` has a method call `-cancelTaskWithUUID` which will cancel a task with a given uuid.

However, in some case for example, when you logout and want to cancel all the progress task at once.
I cannot find a way to do that.

Except, I need to keep store all the uuid somewhere. Which I don't think is a good way since that should be already store inside `PINRemoteImageMana

[2017-04-20 14:24] jonathanduty opened #347 "xcode 8.3.x won't build PINRemoteImage with FLAnimatedImage"
Hi There,
We are including PINRemoteImage using cocoapods.
things work fine in xcode 8.2.x.  However, when upgrading to xcode 8.3 and 8.3.1 I get the followng build error when building with FLAnimatedImage included:

/Users/jonathanduty/Development/arcivr/ceremony-ios/Pods/FLAnimatedImage/FLAnimatedImage/FLAnimatedImage.h:71:12: Duplicate definition of category 'Logging' on interface 'FLAnimatedIm

[2017-04-24 18:08] garrettmoon commented on #346
@sainttail I don't think there is a way currently. That method would either need to be added or, as you said, you'd need to keep track of all available tasks. I'd be pro adding a cancel all tasks method :)

[2017-04-24 18:10] garrettmoon commented on #345
@bawn there's no way currently, it's adjusted based on the size of the image and the percentage completed on the download.

[2017-04-24 18:10] #345 closed

[2017-04-24 18:11] garrettmoon commented on #334
I'm going to close this for now, please feel free to ping if you're still having issues.

[2017-04-24 18:11] #334 closed

[2017-04-24 18:12] garrettmoon commented on #332
Hey @alibasta sorry for the super late reply :(

PINRemoteImage doesn't really have a good solution for this currently. The only work around is to ignore the cache on a request. I'd be open to pull requests that added support for this though!

[2017-04-24 18:12] #332 closed

[2017-04-24 18:13] garrettmoon commented on #298
Ah, this was fixed!

[2017-04-24 18:13] #298 closed

[2017-04-26 10:27] ArmandsB opened #349 "PINURLSessionManager crash iOS 8/9"
Hello. We launched our app yesterday and noticed some crashes from PINURLSessionManager.
Using PINRemoteImage 3.0.0-beta.9 (through Texture 2.3)

[code]

Link to crash reports:
http://crashes.to/s/c23a0f604dd
http://crashes.to/s/cbfc5f142a0

I found some archive issues with similar problem - maybe it helps. #89

[2017-04-26 15:52] sin2 opened #350 "Way to disable automatic scaling based on '_2x'"
Can I disable this functionality?

[2017-04-27 08:24] 9you commented on #203
Hi guys, I'm using `Texture 2.3` and `PINRemoteImage 3.0.0-beta.9` and facing crash frequency when display GIF image. May be following stack trace related to this issue:
`*** Assertion failure in -[PINAnimatedImage totalDuration], ../Pods/PINRemoteImage/Source/Classes/PINAnimatedImage.m:265
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'info must be read

[2017-04-28 01:42] emablekos commented on #260
Just wanted to let you know we experience this from time to time. I just got it on this file:
https://170213-images.liketoknow.it/791cd8d0-19a4-11e7-9fed-0242ac110002?fm=pjpg&q=75&w=345&fit=max

I mounted the phone with iExplorer and pulled it off disk:
![busted](https://cloud.githubusercontent.com/assets/299982/25510985/08f0312a-2b92-11e7-8e22-ca479843f03f.jpg)

This screenshot represents how it

[2017-04-28 03:16] appleguy commented on #260
This is a very helpful report - thanks for sending it. I know that beta.9
is now available, but am not sure if it has changes intended to resolve
this. It would be worth updating just in case, but I think the frequency of
this issue has reduced even though it is still sometimes happening.

I'm pretty sure that if the app crashes or is killed (as might happen when
developing / debugging too), we co

[2017-04-29 17:29] AngeloGiurano opened #352 "Question: Cached image returned instead of downloading new one"
Hello,

I've got a problem I'm uploading a new image to the new url so after successful upload to the server I'm doing as follows:

[code]

Everything is fine since in the block the object is nil.

After that in my profile image I'm trying to get the new image by:

[code]
But I still get the previous image.

I can ensure the url is the same and the image is actually on the server, am I missing som

[2017-05-03 23:57] garrettmoon commented on #337
@Cen92 sorry for the late reply, are you using cocoa pods? Have you tried the latest beta?

[2017-05-03 23:59] garrettmoon commented on #347
@jonathanduty are you using the latest beta of PINRemoteImage? Can you upload a sample project somewhere?

[2017-05-04 00:00] garrettmoon commented on #350
@sin2 no way to disable this currently, I'd recommend creating a new image from the returned image with a different scale if necessary.

[2017-05-04 00:00] #350 closed

[2017-05-04 00:02] garrettmoon commented on #352
@AngeloGiurano Hmm, I'm wondering if it has something to do with the processing… Would you be able to upload a sample project that shows this issue?

[2017-05-04 04:30] jonathanduty commented on #347
hi @garrettmoon  thanks for the reply.  We are on version:
  - PINRemoteImage (~> 2.1.4)
  PINRemoteImage: 4ac4011c5caefd6befd99758e09becede05d3226

[2017-05-04 10:02] AngeloGiurano commented on #352
@garrettmoon It actually does have something to do with the processorKey, I've changed it to nil and everything works fine, I'll try to create a sample project this weekend

[2017-05-04 17:01] garrettmoon commented on #347
@jonathanduty I just tried modifying the Example project in the repo to:
[code]

And was able to build fine. Can you upload a sample project that reproduces the issue?

[2017-05-04 19:04] zachwaugh commented on #349
We're seeing similar crashes for iOS 9 devices as of 3.0.0-beta9:

[code]

[code]

[2017-05-04 22:28] garrettmoon commented on #349
There's a PR that's attempting to address it: https://github.com/pinterest/PINRemoteImage/pull/341

[2017-05-04 23:08] garrettmoon commented on #352
Cool, thanks in advance :)

[2017-05-09 10:54] jonathanduty commented on #347
I generated a new project and it builds ok.  I even added all the pods we are using from my old project and it still works.  Looking at the projects side-by-side I noticed that the project that builds does not have the "Framework Search Paths" variable in the build settings.  Could this be it?
![ceremony_xcodeproj](https://cloud.githubusercontent.com/assets/49163/25847464/e77823fc-347b-11e7-85a2-3

[2017-05-09 11:02] jonathanduty commented on #347
Ok, I figured it out.  I needed to remove all direct imports in our code
#import "FLAnimatedImage.h"

We were using FLAnimatedImage directly in some places.  So change all places where we had this:

#import "FLAnimatedImage.h"
#import "PINImageView+PINRemoteImage.h"

to this

#import "PINImageView+PINRemoteImage.h"

And it builds.

An interesting note is this only happens in Code 8.3 and above.  X

[2017-05-11 00:06] garrettmoon commented on #347
Super weird! Glad you figured it out!

[2017-05-11 00:06] #347 closed

[2017-05-19 06:07] rurza opened #358 "PINResume initWithResumeData:ifRange:totalBytes: assert"
Texture 2.3.2
It appears sometimes, don't know why. Stack:
[code]

File PINResume.m,
[code]
totalBytes is -1

[2017-05-20 16:28] superdev89 opened #359 "Sometimes pin_setImage for gif, but sometimes it is showing gif file rotated."
Is there any orientation option?

[2017-05-23 17:02] garrettmoon commented on #358
@rurza Hmm, I think I know what's going on here. I assume you're downloading images from arbitrary places? I think some of them may not be providing content length.

[2017-05-23 17:05] garrettmoon commented on #358
@rurza do you mind testing out #361 and seeing if it resolves the issue for you?

[2017-05-23 17:07] garrettmoon commented on #359
@superdev89 I haven't heard any reports of rotated GIFs… are you using Texture?

[2017-05-23 17:10] garrettmoon commented on #352
I'm going to close this for now, I'll re-open when you upload a sample project.

[2017-05-23 17:10] #352 closed

[2017-05-23 17:10] #337 closed

[2017-05-23 17:11] garrettmoon commented on #349
Our builds are showing this as fixed. Please reply back if you're still seeing this on master.

[2017-05-23 17:11] #349 closed

[2017-05-23 17:13] garrettmoon commented on #304
@KristopherGBaker are you still seeing this crash? Beta 9 has attempted to address this.

[2017-05-23 17:13] garrettmoon commented on #303
I'm going to close this for now. I'll re-open if you upload a sample app.

[2017-05-23 17:13] #303 closed

[2017-05-23 17:14] garrettmoon commented on #277
This should be addressed in master.

[2017-05-23 17:14] #277 closed

[2017-05-23 17:14] garrettmoon commented on #243
Going to close this one out due to a lack of activity.

[2017-05-23 17:14] #243 closed